<section id="07" class="section shopify-about">
  <div class="section_name">
    <span class="section_name-number">
      07
    </span>
    About us
  </div>
  <div class="shopify-about-container">
    <p class="shopify-about-left">
      Naturaily your e&#8209;commerce development team
    </p>
    <div class="shopify-about-right">
      <p>
        Naturaily is a software development company with over 12 years of experience in e&#8209;commerce, web, 
        mobile development. We use proven technologies like Ruby on Rails and JavaScript frameworks - React.js, 
        Node.js, Vue.js - to name a few.
      </p>
      <p>
        Thanks to our expertise in software development and our proven process, we help companies at each stage 
        of product development - from strategic consulting, prototyping, design, and development, to scaling and support.
      </p>
    </div>
  </div>
</section>
