<section id="01" class="section shopify-case-studies">
  <div class="section_name">
    <span class="section_name-number">
      01
    </span>
    Case studies
  </div>
  <div class="shopify-case-studies-header">
    <div class="shopify-case-studies-header-left">
      <div class="section_intro">
        <p class="shopify-case-studies_header">Excellent developers</p>
        <p class="shopify-case-studies_paragraph">We’ve been maintaining our partnership 
          with this team for over a year. Marcin and his team have always delivered on 
          time. They are excellent developers that managed to improve and support our 
          product which, at that time, had no documentation left by the previous team. 
          Since the collaboration with them is very successful I would definitely recommend 
          them to anyone.</p>
      </div>
      <div class="shopify-case-studies-person">
        <p>Joachim Schneider</p>
        <p>PM at Siqne</p>
      </div>
      <div class="shopify-case-studies-redirection">
        <a href="/blog/shopify-customization-joint-case-study" target="_blank">
          READ THE SUCCESS STORY 
          <img src="/assets/images/arrow-orange.png" alt="arrow">
        </a>
      </div>
    </div>
    <div class="shopify-case-studies-header-right">
      <img src="/assets/images/shopify/caseStudies.png" alt="case-studies" />
    </div>
  </div>
</section>
