<section id="01" class="section shopify-case-studies">
  <div class="section_name">
    <span class="section_name-number">
      01
    </span>
    Case studies
  </div>
  <div class="shopify-case-studies-header">
    <div class="shopify-case-studies-header-left">
      <div class="section_intro">
        <p class="shopify-case-studies_header">Shopify Integrations for Scandinavian E-commerce Stores</p>
        <p class="shopify-case-studies_paragraph">
          We designed the custom external software integrations for some of the top e-commerce brands. 
          This included warehouse management system, loyalty system, product data management system, 
          gift cards and many more.
        </p>
      </div>
      <div class="shopify-case-studies-redirection">
        <a href="/blog/shopify-customization-joint-case-study" target="_blank">
          READ THE SUCCESS STORY 
          <img src="/assets/images/arrow-orange.png" alt="arrow">
        </a>
      </div>
    </div>
    <div class="shopify-case-studies-header-right">
      <img src="/assets/images/shopify/caseStudies.png" alt="case-studies" />
    </div>
  </div>
</section>
