<section class="section estimate">
  <div class="section_content">
    <img class="image" src="/assets/images/sunny-suler.png" alt="">
  </div>
  <div class="section_desc shopify-estimate_container">
    <div>
      <h2 class="section_heading">
        Hi, my name is Marcin,
        <br> I am the <span class="text-secondary">CEO of Naturaily</span>
      </h2>
      <p class="paragraph">
        Let me know what you need, and I will do my best to find a reliable solution for you!
      </p>
    </div>
    <div>
      <a href="/get-an-estimate" type="button" class="btn btn-primary btn-arrow">
        Get an estimate
        <img src="/assets/images/btn-arrow.png" alt="arrow">
      </a>
    </div>
  </div>
</section>
