<section
  id="06"
  class="section shopify-faq"
  itemscope
  itemtype="https://schema.org/FAQPage"
>
  <div class="section_name">
    <span class="section_name-number">
      06
    </span>
    FAQ
  </div>
  <div class="shopify-faq_container">
    <div class="shopify-faq_container-left">
      Read if you want to know more about Shopify development
      <figure class="geometric-figure">
        <div class="geometric-figure_center"></div>
        <div class="geometric-figure_right"></div>
      </figure>
    </div>
    <div class="shopify-faq_container-right" data-process-accordion>
      <div
        class="shopify-faq_element"
        data-accordion-item
        itemscope
        itemprop="mainEntity"
        itemtype="https://schema.org/Question"
      >
        <input type="checkbox" id="faqServices" name="faqServices" autocomplete="off" data-accordion-check>
        <label id="faqServicesBox" for="faqServices" class="accordion-item borderless">
          <span class="accordion_number">01</span>
          <p class="accordion_position" itemprop="name">
            What services do you provide?
          </p>
        </label>
        <div
          class="accordion_content"
          data-accordion-content
          itemscope
          itemprop="acceptedAnswer"
          itemtype="https://schema.org/Answer"
        >
          <div itemprop="text">
            We provide end-to-end technological consulting and implementation services for e&#8209;commerce businesses, including:
            <br>- Store UX design & A/B testing
            <br>- E&#8209;commerce store development & integration
            <br>- Store SEO optimization
            <br>- Store migration
          </div>
        </div>
        <img src="/assets/images/arrow-orange.png" />
      </div>

      <div
        class="shopify-faq_element"
        data-accordion-item
        itemscope
        itemprop="mainEntity"
        itemtype="https://schema.org/Question"
      >
        <input type="checkbox" id="faqPlatforms" name="faqPlatforms" autocomplete="off" data-accordion-check>
        <label id="faqPlatformsBox" for="faqPlatforms" class="accordion-item">
          <span class="accordion_number">02</span>
          <p class="accordion_position" itemprop="name">
            Which e&#8209;commerce platforms do you support?
          </p>
        </label>
        <div
          class="accordion_content"
          data-accordion-content
          itemscope
          itemprop="acceptedAnswer"
          itemtype="https://schema.org/Answer"
        >
          <div itemprop="text">
            We use Shopify & Shopify Plus as our main e&#8209;commerce platforms. We also support businesses in migrating 
            their e&#8209;commerce stores, from BigCommerce, WooCommerce or Magento, to Shopify & Shopify Plus, maintaining 
            proper data/SEO structure and improving on page speed/conversion rates.
          </div>
        </div>
        <img src="/assets/images/arrow-orange.png" />
      </div>

      <div
        class="shopify-faq_element"
        data-accordion-item
        itemscope
        itemprop="mainEntity"
        itemtype="https://schema.org/Question"
      >
        <input type="checkbox" id="faqEffects" name="faqEffects" autocomplete="off" data-accordion-check>
        <label id="faqEffectsBox" for="faqEffects" class="accordion-item">
          <span class="accordion_number">03</span>
          <p class="accordion_position" itemprop="name">
            What effects can I expect when it comes to page speed or sales growth?
          </p>
        </label>
        <div
          class="accordion_content"
          data-accordion-content
          itemscope
          itemprop="acceptedAnswer"
          itemtype="https://schema.org/Answer"
        >
          <div itemprop="text">
            The effects in page speed or other elements differ case by case. We estimate the effects on the first 
            free audit meeting, where we check for potential technological improvements in your store, leading to 
            higher conversion rates, revenues or time saved on manual tasks.
          </div>
        </div>
        <img src="/assets/images/arrow-orange.png" />
      </div>

      <div
        class="shopify-faq_element"
        data-accordion-item
        itemscope
        itemprop="mainEntity"
        itemtype="https://schema.org/Question"
      >
        <input type="checkbox" id="faqTrial" name="faqTrial" autocomplete="off" data-accordion-check>
        <label id="faqTrialBox" for="faqTrial" class="accordion-item">
          <span class="accordion_number">04</span>
          <p class="accordion_position" itemprop="name">
            Can I try out the Shopify e&#8209;commerce platform for free?
          </p>
        </label>
        <div
          class="accordion_content"
          data-accordion-content
          itemscope
          itemprop="acceptedAnswer"
          itemtype="https://schema.org/Answer"
        >
          <div itemprop="text">
            Yes, you can freely try out Shopify for 14 days using the link below.
            <a
              href="https://www.shopify.com/free-trial?ref=redux&subid1=test&utm_content=get_a_free_consultation_today"
              target="_blank"
              class="shopify-faq_link"
            >
              Link
            </a>
          </div>
        </div>
        <img src="/assets/images/arrow-orange.png" />
      </div>

      <div
        class="shopify-faq_element"
        data-accordion-item
        itemscope
        itemprop="mainEntity"
        itemtype="https://schema.org/Question"
      >
        <input type="checkbox" id="faqPricing" name="faqPricing" autocomplete="off" data-accordion-check>
        <label id="faqPricingBox" for="faqPricing" class="accordion-item">
          <span class="accordion_number">05</span>
          <p class="accordion_position" itemprop="name">
            How is your pricing structured? Can I try your services for free?
          </p>
        </label>
        <div
          class="accordion_content"
          data-accordion-content
          itemscope
          itemprop="acceptedAnswer"
          itemtype="https://schema.org/Answer"
        >
          <div itemprop="text">
            We provide pricing and hourly estimates based on:
            <br>- Scope of services (UX design, consulting, integrations and technical development)
            <br>- Business size
            <br>- Industry and the number of technological integrations

            <br>Our e&#8209;commerce projects start at $6,000.

            <br>To get a pricing/hourly estimate for your business/project, estimate the project with us.
          </div>
        </div>
        <img src="/assets/images/arrow-orange.png" />
      </div>

      <div
        class="shopify-faq_element"
        data-accordion-item
        itemscope
        itemprop="mainEntity"
        itemtype="https://schema.org/Question"
      >
        <input type="checkbox" id="faqCommunication" name="faqCommunication" autocomplete="off" data-accordion-check>
        <label id="faqCommunicationBox" for="faqCommunication" class="accordion-item">
          <span class="accordion_number">06</span>
          <p class="accordion_position" itemprop="name">
            How do you communicate during the project?
          </p>
        </label>
        <div
          class="accordion_content"
          data-accordion-content
          itemscope
          itemprop="acceptedAnswer"
          itemtype="https://schema.org/Answer"
        >
          <div itemprop="text">
            After the start of the service, you'll receive a welcome email with all the details about the project and the communication. 
            You will also be provided with access to a dedicated Slack channel and to the shared project board, which includes all the 
            updates about the project's status/progress.
          </div>
        </div>
        <img src="/assets/images/arrow-orange.png" />
      </div>

      <div
        class="shopify-faq_element"
        data-accordion-item
        itemscope
        itemprop="mainEntity"
        itemtype="https://schema.org/Question"
      >
        <input type="checkbox" id="faqRemote" name="faqRemote" autocomplete="off" data-accordion-check>
        <label id="faqRemoteBox" for="faqRemote" class="accordion-item">
          <span class="accordion_number">07</span>
          <p class="accordion_position" itemprop="name">
            Do you work remotely or on-site?
          </p>
        </label>
        <div
          class="accordion_content"
          data-accordion-content
          itemscope
          itemprop="acceptedAnswer"
          itemtype="https://schema.org/Answer"
        >
          <div itemprop="text">
            We work remotely using proper communication tools, such as video conferencing software, Slack, project management 
            tools and time tracking/reporting. If you require our support on-site, we can send the team member on site or, if 
            required, find the right person in your location.
          </div>
        </div>
        <img src="/assets/images/arrow-orange.png" />
      </div>

    </div>
  </div>
</section>

<script type="text/javascript">
  $(document).ready(function() {
    $('[data-process-accordion]').on('change', '[data-accordion-check]', function() {
      const parent = $(this).parent();
      const contentHeight = parent.children('[data-accordion-content]').height();
      const contentPadding = parseInt(parent.children('[data-accordion-content]').css('padding-bottom'), 10)
      const contentHeightWithPadding = contentHeight + contentPadding;

      if ($(this).is(':checked')) {
        parent.addClass('opened')
          .animate({ 'padding-bottom' : contentHeightWithPadding }, 300)
          .siblings('[data-accordion-item]').removeClass('opened')
          .animate({ 'padding-bottom' : 1 }, 300)
          .children('[data-accordion-check]').prop('checked', false);
      } else {
        parent.removeClass('opened')
          .animate({ 'padding-bottom' : 1 }, 300);
      }
    });
  });
</script>
