<!-- <section class="shopify-footer">
  <div class="shopify-footer-block">
    <figure class="geometric-figure">
      <div class="geometric-figure_center"></div>
      <div class="geometric-figure_right"></div>
    </figure>
    <p class="shopify-footer-main">Looking<br>for other services?</p>
  </div>
  <div class="shopify-footer-block">
    <div class="shopify-footer-redirect">
      <p class="shopify-footer-redirect-text">Previous</p>
      <a href="/" class="shopify-footer-redirect-link">Mobile development</a>
    </div>
    <div class="shopify-footer-redirect">
      <p class="shopify-footer-redirect-text">Next</p class="shopify-footer-redirect-text">
      <a href="/" class="shopify-footer-redirect-link">Web development</a>
    </div>
  </div>
</section> -->
