<section id="00" class="hero">
  <span class="hero_background-text">
    Shopify
  </span>
  <div class="hero_box">
    <h1 class="hero_box-heading">
      E-commerce store <strong>development &amp; integration</strong>
    </h1>
    <!-- <p class="hero_text">
      <strong>You need a website that's both fast and secure.</strong>
    </p> -->
    <p class="hero_text hero_text-second">
      Grow your e-commerce business with proper
      <br>custom development and integration
    </p>
    <div class="hero_box-footer">
      <a href="/get-an-estimate" class="btn btn-primary btn-arrow">
        GET AN ESTIMATE
        <img src="/assets/images/btn-arrow.png" alt="arrow">
      </a>
    </div>
  </div>
</section>
