<section id="02" class="section shopify-services">
  <div class="section_name">
    <span class="section_name-number">
      02
    </span>
    Services
  </div>
  <ul class="shopify-services-list">
    <li class="shopify-services-list-item">
      <p class="shopify-services-list-header">Services</p>
      <div  class="shopify-services-list-item-container">
        <p class="shopify-services-list-item-head">
          (Re)design your store, 
          <br>maximize conversion
        </p>
        <p class="shopify-services-list-item-text">
          We design the UX/UI of e-commerce stores and perform A/B tests to maximize 
          conversion rates, ensure outstanding user experience and minimize bounce rates.
        </p>
      </div>
      <img src="/assets/images/shopify/services1.png" />
    </li>
    <li class="shopify-services-list-item reverse">
      <div  class="shopify-services-list-item-container">
        <p class="shopify-services-list-item-head">
          Integrate with technology 
          <br>and automate manual tasks
        </p>
        <p class="shopify-services-list-item-text">
          We support businesses in integrating their stores' with existing ERP, payment or delivery 
          software environments, reducing time spent on manual tasks.
        </p>
      </div>
      <img src="/assets/images/shopify/services2.png" />
    </li>
    <li class="shopify-services-list-item">
      <div  class="shopify-services-list-item-container">
        <p class="shopify-services-list-item-head">
          Optimize for SEO 
          <br>and grow your organic traffic
        </p>
        <p class="shopify-services-list-item-text">
          Turn manual tasks, like data input or mailing, into automated activities to help you save 
          time, go home early or focus on the most important business goals.
        </p>
      </div>
      <img src="/assets/images/shopify/services3.png" />
    </li>
    <li class="shopify-services-list-item reverse">
      <div  class="shopify-services-list-item-container">
        <p class="shopify-services-list-item-head">
          Outsource support 
          <br>and development tasks
        </p>
        <p class="shopify-services-list-item-text">
          We use a ticketing system to provide regular support and IT development on your store's 
          ongoing issues or additional development requirements.
        </p>
      </div>
      <img src="/assets/images/shopify/services4.png" />
    </li>
  </ul>
  <a href="/blog/shopify-customization-joint-case-study" target="_blank" class="shopify-services-button">
    READ WOOLMAN SUCCESS STORY 
    <img src="/assets/images/arrow-orange.png" alt="arrow">
  </a>
</section>
