<section id="04" class="section shopify-technologies">
  <div class="section_name">
    <span class="section_name-number">
      04
    </span>
    Technologies
  </div>
  <div class="shopify-technologies-container">
    <div class="shopify-technologies-head">
      <p class="shopify-technologies-head-main">Technologies we use</p>
      <p class="shopify-technologies-head-text">The technology stack we use in e-commerce store development.</p>
    </div>
    <ul class="shopify-technologies-list">
      <li class="shopify-technologies-list-item">
        <div class="shopify-technologies-list-item-image">
          <img src="/assets/images/shopify/Shopify.svg" alt="shopify logo" />
        </div>
        <p>Shopify</p>
        <p>
          We use the Shopify & Shopify Plus platform to develop online stores. 
          With Shopify's extensive API and app selection, we're able to tailor 
          your store to your customers' needs.
        </p>
      </li>
      <li class="shopify-technologies-list-item">
        <div class="shopify-technologies-list-item-image">
          <img src="/assets/images/shopify/Ror.svg" alt="ruby logo" />
        </div>
        <p>Ruby on Rails</p>
        <p>
          With the right Ruby on Rails set-up, we can create any custom script 
          linking Shopify to other technological solutions, including ERP systems, 
          delivery providers or payment methods.
        </p>
      </li>
      <li class="shopify-technologies-list-item">
        <div class="shopify-technologies-list-item-image">
          <img src="/assets/images/shopify/analytics.svg" alt="analytics image" />
        </div>
        <p>Analytics software</p>
        <p>
          To ensure proper UX/UI design, we use analytical software, such as 
          Hotjar or Heap Analytics, to measure data and use it to introduce A/B 
          testing and optimize your store's design.
        </p>
      </li>
    </ul>
    <a href="/blog/shopify-customization-joint-case-study" target="_blank" class="shopify-technologies-button">
      GET YOUR E-COMMERCE IMPLEMENTATION PLAN
      <img src="/assets/images/arrow-orange.png" alt="arrow">
    </a>
  </div>
</section>
