<section id="08" class="section shopify-testimonials">
  <div class="section_name">
    <span class="section_name-number">
      08
    </span>
    Testimonials
  </div>
  <div class="shopify-testimonials-container">
    <p>We've worked with these brands</p>
    <div class="shopify-testimonials-container-companies">
      <div>
        <img src="/assets/images/shopify/renderforest.png" alt="renderforest" />
      </div>
      <div>
        <img src="/assets/images/shopify/slack.png" alt="slack" />
      </div>
      <div>
        <img src="/assets/images/shopify/amazon.png" alt="amazon" />
      </div>
      <div>
        <img src="/assets/images/shopify/fedex.png" alt="fedex" />
      </div>
      <div>
        <img src="/assets/images/shopify/redux.png" alt="redux" />
      </div>
      <div>
        <img src="/assets/images/shopify/lazada.png" alt="lazada" />
      </div>
    </div>
  </div>

  <div class="shopify-carousel">
    {% include shopify/carousel.html %}
  </div>

  <a href="https://clutch.co/profile/naturaily" target="_blank"><img src="/assets/images/shopify/clutch.png" alt="clutch" />SEE OUR REVIEWS ON CLUTCH <img src="/assets/images/arrow-orange.png" alt="arrow" /></a>
</section>