<section id="08" class="section shopify-testimonials">
  <div class="section_name">
    <span class="section_name-number">
      08
    </span>
    Testimonials
  </div>
  <div class="shopify-testimonials_container">
    <p class="shopify-testimonials_header">
      We've worked with these brands
    </p>
    <div class="shopify-testimonials_companies">
      <div class="shopify-testimonials_companies-top">
        <div class="shopify-testimonials_company">
          <img
            class="shopify-testimonials_company-image"
            src="/assets/images/shopify/coinflex.png"
            alt="coinflex logo"
          />
        </div>
        <div class="shopify-testimonials_company">
          <img
            class="shopify-testimonials_company-image"
            src="/assets/images/shopify/retention-rocket.jpg"
            alt="retention rocket logo"
          />
        </div>
        <div class="shopify-testimonials_company">
          <img
            class="shopify-testimonials_company-image"
            src="/assets/images/shopify/artinfo.png"
            alt="artinfo logo"
          />
        </div>
      </div>
      <div class="shopify-testimonials_companies-bottom">
        <div class="shopify-testimonials_company">
          <img
            class="shopify-testimonials_company-image"
            src="/assets/images/shopify/ea-technology.png"
            alt="ea technology logo"
          />
        </div>
        <div class="shopify-testimonials_company">
          <img
            class="shopify-testimonials_company-image"
            src="/assets/images/shopify/eurobank.png"
            alt="eurobank logo"
          />
        </div>
        <div class="shopify-testimonials_company">
          <img
            class="shopify-testimonials_company-image"
            src="/assets/images/shopify/ITM.jpg"
            alt="ITM logo"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="shopify-carousel">
    {% include shopify/carousel.html %}
  </div>
  <a
    class="shopify-testimonials_link"
    href="https://clutch.co/profile/naturaily"
    target="_blank"
  >
    <img class="shopify-testimonials_link-clutch" src="/assets/images/shopify/clutch.png" alt="clutch" />
    SEE OUR REVIEWS ON CLUTCH
    <img class="shopify-testimonials_link-image" src="/assets/images/arrow-orange.png" alt="arrow" />
  </a>
</section>
