<section id="03" class="section pwa-benefits">
  <div class="section_name">
    <span class="section_name-number">
      03
    </span>
    Benefits
  </div>
  <div class="pwa-benefits_container">
    <p class="pwa-benefits_header">
      Progressive Web Applications help
      <br>to achieve many different goals, such as:
    </p>
    <ul class="pwa-benefits_list">
      <li>faster loading</li>
      <li>increase user engagement and conversion rates</li>
      <li>basic metrics improvement (e.g., time to interactive)</li>
      <li>offline access</li>
      <li>reduce upfront download costs</li>
      <li>push notifications</li>
      <li>reduce network transmissions</li>
      <li>better performance in poor network conditions</li>
      <li>improve user experiences</li>
    </ul>
    <div class="pwa-benefits_goals">
      <p>Tell us what your goals are</p>
      <a href="/get-an-estimate" class="btn btn-primary btn-arrow">
        GET AN ESTIMATE
        <img src="/assets/images/btn-arrow.png" alt="arrow">
      </a>
    </div>
    <div class="pwa-benefits_summary">
      <p class="pwa-benefits_summary-header">Why is it worth choosing a PWA?</p>
      <div class="pwa-benefits_summary-column">
        <p>
          Users chafe at the bit, so site speeds are crucial for online businesses to succeed. Even 50% 
          of mobile visits are abandoned if the site is loading longer than three seconds. <strong>PWAs are fast</strong>, 
          and that is one of their main advantages.
        </p>
        <p>
          Every internet connection has its ups and downs and very often depends on the location. A <strong>PWA 
          works even when offline</strong>, so users can enjoy a stable experience even when they have temporary 
          problems with the internet. Choosing a PWA is a win-win-win situation. Businesses, users, and 
          developers all benefit from this technology. To name a few plus points: 
        </p>
      </div>
    </div>
    <div class="pwa-benefits_summary-box">
      <div class="pwa-benefits_summary-benefit" data-order="1">
        <p>Shorter time-to-market</p>
        <p>PWA gives the chance to develop a web page and a mobile app much faster and cheaper.</p>
      </div>
      <div class="pwa-benefits_summary-benefit" data-order="2">
        <p>Mobile-first approach</p>
        <p>The app can be installed directly from the browser, so there’s no need for app aggregators, such as Google Play, AppStore, etc.</p>
      </div>
      <div class="pwa-benefits_summary-benefit" data-order="3">
        <p>Faster implementation</p>
        <p>Thanks to one code base for all platforms and SEO-friendliness.</p>
      </div>
    </div>
  </div>
</section>
