<section id="01" class="section pwa-studies">
  <div class="section_name">
    <span class="section_name-number">
      01
    </span>
    Case-studies
  </div>
  <div class="pwa-studies_container">
    <div>
      <p class="pwa-studies_header">
        These companies have already field-tested 
        <br>the abilities of PWA technology
      </p>
      <figure class="geometric-figure">
        <div class="geometric-figure_center"></div>
        <div class="geometric-figure_right"></div>
      </figure>
    </div>
    <div class="pwa-studies_options">
      <div class="pwa-studies_option">
        <div class="pwa-studies_option-image">
          <img src="/assets/images/pwa/pinterest.png" alt="pinterest" />
        </div>
        <p class="pwa-studies_option-header">Pinterest</p>
        <p class="pwa-studies_option-content">
          The company focused on international growth. They wanted to improve a 1% conversion 
          rate and decided to invest in a PWA to get things done. Pinterest rebuilt its mobile 
          web experience in just three months!
        </p>
      </div>
      <div class="pwa-studies_option">
        <div class="pwa-studies_option-image">
          <img src="/assets/images/pwa/aliexpress.png" alt="aliexpress" />
        </div>
        <p class="pwa-studies_option-header">Aliexpress</p>
        <p class="pwa-studies_option-content">
          The mCommerce sector is growing rapidly, so the retail giant decided to improve its 
          users' experience to get even more profit. Thanks to PWA technology, Aliexpress 
          increased conversion rates by 104%!
        </p>
      </div>
      <div class="pwa-studies_option">
        <div class="pwa-studies_option-image">
          <img src="/assets/images/pwa/trivago.png" alt="trivago" />
        </div>
        <p class="pwa-studies_option-header">trivago</p>
        <p class="pwa-studies_option-content">
          trivago invests in Progressive Web App to create a better, more stable mobile experience. 
          As a result, more than half a million people have added the trivago site to their home 
          screen, and their engagement has increased by 150%.
        </p>
      </div>
      <div class="pwa-studies_option">
        <div class="pwa-studies_option-image">
          <img src="/assets/images/pwa/olx.png" alt="olx" />
        </div>
        <p class="pwa-studies_option-header">OLX</p>
        <p class="pwa-studies_option-content">
          OLX has analyzed users' behavior on their mobile site and realized that the experience 
          was too slow, so they turned to PWA technology, and the results were great: 80% lower 
          bounce rates, 146% higher CTR on Ads and 250% more re-engagement.
        </p>
      </div>
      <div class="pwa-studies_option">
        <div class="pwa-studies_option-image">
          <img src="/assets/images/pwa/forbes.png" alt="forbes" />
        </div>
        <p class="pwa-studies_option-header">Forbes</p>
        <p class="pwa-studies_option-content">
          Forbes used PWA to create its new mobile app and send push notifications about new, 
          relevant content and deliver visuals faster. As a result, readers stay longer and see 
          more advertisements.
        </p>
      </div>
    </div>
    <a class="pwa-studies_options-link" href="/get-an-estimate">
      SEE WHAT WE CAN DO FOR YOUR BUSINESS
      <img src="/assets/images/arrow-orange.png" alt="arrow"/>
    </a>
  </div>
</section>
