<section class="section estimate">
  <div class="section_content">
    <img class="image" src="/assets/images/sunny-suler.png" alt="">
  </div>
  <div class="section_desc pwa-estimate_container">
    <div>
      <p class="pwa-estimate_text">
        Do you want to shorten your app loading time, 
        increase conversions or reach other business goals 
        with the help of a PWA solution?
      </p>
      <p class="pwa-estimate_text-small">
        We can help you with that.
      </p>
    </div>
    <div>
      <a href="/get-an-estimate" type="button" class="btn btn-primary btn-arrow pwa-estimate_link">
        Contact us
        <img src="/assets/images/btn-arrow.png" alt="arrow">
      </a>
    </div>
  </div>
</section>
