<section id="00" class="hero">
  <span class="hero_background-text">
    PWA
  </span>
  <div class="hero_box">
    <h1 class="hero_box-heading">
      PWA Development Services
    </h1>
    <p class="hero_text">
      Take advantage of this new software development methodology and let us build you 
      <br>a great web page and mobile app at once.
    </p>
    <div class="hero_box-footer">
      <a href="/get-an-estimate" class="btn btn-primary btn-arrow">
        GET AN ESTIMATE
        <img src="/assets/images/btn-arrow.png" alt="arrow">
      </a>
    </div>
  </div>
</section>
