<section id="05" class="section pwa-practice">
  <div class="section_name">
    <span class="section_name-number">
      05
    </span>
    PWA in practice
  </div>
  <div class="pwa-practice_container">
    <div class="pwa-practice_left">
      <p class="pwa-practice_header">What is the crucial difference between an m&#8209;Dot and PWA?</p>
      <a
        class="pwa-practice_redirection-link"
        href="https://www.youtube.com/watch?v=Ar0D4LCDcGY"
        target="_blank"
      >
        CHECK OUT THE "BEFORE & AFTER" VIDEO
        <img
          class="pwa-practice_redirection-image"
          src="/assets/images/arrow-orange.png"
          alt="arrow"
        >
      </a>
      <div class="pwa-practice_pagespeed">
        <img src="/assets/images/pwa/pagespeed.png" alt="pagespeed insight" />
        <div class="pwa-practice_pagespeed-box">
          <p>Ready for some action?</p>
          <p>
            Understand your performance better 
            <br>by using 
            <a
              href="https://developers.google.com/speed/pagespeed/insights/"
              target="_blank"
            >
              Pagespeed Insight
            </a>
          </p>
        </div>
      </div>
      <div class="pwa-practice_steps">
        <div class="pwa-practice_steps-step red">
          <p>0 to 49</p>
          <p>slow</p>
          <div class="circle"></div>
          <div class="mask"></div>
        </div>
        <div class="pwa-practice_steps-step yellow">
          <p>50 to 89</p>
          <p>average</p>
          <div class="circle"></div>
          <div class="mask"></div>
        </div>
        <div class="pwa-practice_steps-step green">
          <p>90 to 100</p>
          <p>fast</p>
          <div class="circle"></div>
          <div class="mask"></div>
        </div>
      </div>
    </div>
    <div class="pwa-practice_right"></div>
  </div>
  <div class="pwa-practice_bottom">
    <div class="pwa-practice_bottom-questions">
      <p>What is your score?</p>
      <p>Do you want to make it better?</p>
    </div>
    <a href="/get-an-estimate" class="btn btn-primary btn-arrow">
      GET AN ESTIMATE
      <img src="/assets/images/btn-arrow.png" alt="arrow">
    </a>
  </div>
</section>
