<section id="02" class="section pwa-pwa">
  <div class="section_name">
    <span class="section_name-number">
      02
    </span>
    About PWA
  </div>
  <div class="pwa-pwa_container">
    <div class="pwa-pwa_left">
      <p class="pwa-pwa_left-header">
        What is the secret? 
        <br>What exactly is a PWA?
      </p>
      <p class="pwa-pwa_left-text">
        Progressive Web Applications, created by Google, are a deck of APIs that 
        allow for creating fast, reliable, and engaging digital products that have 
        the crucial functionalities of both web page and mobile apps. This includes 
        offline access, push notifications, home screen shortcuts, and accessibility 
        through a regular mobile browser.
      </p>
    </div>
    <div class="pwa-pwa_right">
      <p class="pwa-pwa_right-header">Progressive Web Applications</p>
      <p class="pwa-pwa_right-text">
        As Google says, PWAs make it easy to delight your users, grow engagement, 
        and increase conversion. PWAs may take the place of native and hybrid apps 
        because they are fast (unlike hybrid apps) and use a single code base for 
        all platforms, as opposed to native apps.
      </p>
      <ul>
        <li class="pwa-pwa_item">
          <span class="icon icon-accounting"></span>
          <div class="pwa-pwa_entry">
            <p>Instant loading</p>
            <p>Even when the network connection is weak.</p>
          </div>
        </li>
        <li class="pwa-pwa_item">
          <span class="icon icon-accounting"></span>
          <div class="pwa-pwa_entry">
            <p>Responsiveness</p>
            <p>Fast response to all user's actions.</p>
          </div>
        </li>
        <li class="pwa-pwa_item">
          <span class="icon icon-accounting"></span>
          <div class="pwa-pwa_entry">
            <p>Attractiveness</p>
            <p>Native app experience and instant updates. </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
