<section id="04" class="section pwa-services">
  <div class="section_name">
    <span class="section_name-number">
      04
    </span>
    Services
  </div>
  <div class="pwa-services_container">
    <p class="pwa-services_header">
      What Naturaily's experts
      <br>can do for you
    </p>
    <ul class="pwa-services_list">
      <li class="pwa-services_item">
        <span class="icon icon-accounting"></span>
        <div class="pwa-services_item-box">
          <p class="pwa-services_item-header">Discovery session</p>
          <p class="pwa-services_item-text">
            3-day workshops with your team and our PWA developers, UX designer and 
            other necessary experts that help to set your business goals.
          </p>
        </div>
      </li>
      <li class="pwa-services_item">
        <span class="icon icon-accounting"></span>
        <div class="pwa-services_item-box">
          <p class="pwa-services_item-header">Proof of concept</p>
          <p class="pwa-services_item-text">
            The best way to be 100% sure that your product is what the market is 
            waiting for is to create an MVP (minimum viable product) using the fast 
            prototyping method.
          </p>
        </div>
      </li>
      <li class="pwa-services_item">
        <span class="icon icon-accounting"></span>
        <div class="pwa-services_item-box">
          <p class="pwa-services_item-header">PWA development</p>
          <p class="pwa-services_item-text">
            All hands on deck!  UX/UI designer, software developers, QA engineer and 
            product manager work on your product to deliver it fast and flawlessly.
          </p>
        </div>
      </li>
    </ul>
    <div class="pwa-services_footer">
      <div class="pwa-services_footer-container">
        <p>Progressive Web Applications</p>
        <p>
          can be developed from scratch or by using ready-to-use solutions like Vue Storefront 
          (an open source PWA for eCommerce), that are cheaper and faster in development.
        </p>
      </div>
      <a href="/get-an-estimate" class="btn btn-primary btn-arrow">
        GET AN ESTIMATE
        <img src="/assets/images/btn-arrow.png" alt="arrow">
      </a>
    </div>
  </div>
</section>
