<section class="pwa-storefront">
  <div class="pwa-storefront_image"></div>
  <div class="pwa-storefront_container">
    <p class="pwa-storefront_text">Read more about <span>Benefits of developing PWA/storefront in your Shopify Store</span></p>
    <a
        class="pwa-storefront_redirection-link"
        href="/blog/shopify-storefront"
      >
        READ MORE
        <img
          class="pwa-storefront_redirection-image"
          src="/assets/images/arrow-orange.png"
          alt="arrow"
        >
      </a>
  </div>
</section>
