<section class="pwa-storefront">
  <div class="pwa-storefront_image">
    <img src="/assets/images/pwa/storefront.png"/>
  </div>
  <div class="pwa-storefront_container">
    <p class="pwa-storefront_text">Read more about <span>Vue Storefront Development for Shopify</span></p>
    <a
        class="pwa-storefront_redirection-link"
        href="https://www.youtube.com/watch?v=Ar0D4LCDcGY"
      >
        READ MORE
        <img
          class="pwa-storefront_redirection-image"
          src="/assets/images/arrow-orange.png"
          alt="arrow"
        >
      </a>
  </div>
</section>
