<section id="06" class="section pwa-tools">
  <div class="section_name">
    <span class="section_name-number">
      06
    </span>
    Useful tools & sources
  </div>
  <div class="pwa-tools_container">
    <figure class="geometric-figure">
      <div class="geometric-figure_center"></div>
      <div class="geometric-figure_right"></div>
    </figure>
    <div class="pwa-tools_texts">
      <p class="pwa-tools_header">
        Progressive Web App Checklist
      </p>
      <p class="pwa-tools_text">
        Google has drawn up this checklist to help all teams create the best 
        possible experience. We hold on to it to be sure that we deliver high 
        quality solutions.
        <br>The full checklist is available 
        <a
          href="https://developers.google.com/web/progressive-web-apps/checklist"
          target="_blank"
        >
          here
        </a>.
      </p>
      <p class="pwa-tools_header">
        Lighthouse
      </p>
      <p class="pwa-tools_text">
        This is an open-source tool that Naturaily's developers use to audit 
        web apps for PWA features. It eliminates much of the manual testing 
        and helps to improve the quality of created Progressive Web Apps.
      </p>
    </div>
  </div>
</section>
