$case-studies-figure-lg: 315px;

.pwa-services {
  flex-direction: column;
  flex-wrap: wrap;
  padding: 150px 100px 150px 160px;

  &_container {
    display: flex;
    flex-direction: column;
    padding-left: 45px;
    position: relative;
  }

  &_header {
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 90px;
  }

  &_options {
    display: flex;
    margin-bottom: 55px;

    &-link {
      margin-top: 17px;
      color: $color-secondary;
      font-size: 11px;
      font-weight: 600;

      img {
        height: 11px;
        margin-left: 20px;
        vertical-align: baseline;
      }
    }
  }

  &_option {
    display: flex;
    flex-direction: column;
    width: 140px;
    margin-right: 70px;

    &:last-child {
      margin: 0;
    }

    .icon {
      font-size: 52px;
    }

    &-header {
      margin: 24px 0 30px;
      font-size: 16px;
      line-height: 24px;
    }

    &-content {
      font-size: 14px;
      line-height: 24px;
    }

    &-image {
      height: 52px;
      position: relative;
      img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .geometric-figure {
    top: 0;
    left: 985px;
    width: 100%;
    z-index: -1;

    &_center {
    height: $case-studies-figure-lg;
    width: $case-studies-figure-lg;
    }

    &_right {
      height: $case-studies-figure-lg;
      width: $case-studies-figure-lg / 2;

      &::after {
          height: $case-studies-figure-lg;
          width: $case-studies-figure-lg;
      }
    }
  }
}

@media (max-width: 1200px) {
  .pwa-services {
    &_options {
      max-width: 510px;
      flex-wrap: wrap;
      margin-bottom: 0;
    }

    &_option {
      margin-right: 42px;
      margin-bottom: 30px;

      &:nth-child(3) {
        margin-right: 0;
      }
    }

    .geometric-figure {
      left: 580px;
    }
  }
}

@media (max-width: 810px) {
  .pwa-services {
    max-width: calc(100% - 15px);
    margin: 0 5px 0 10px;
    padding: 40px 5px 50px 10px;

    &_container {
      padding-left: 25px;
    }

    .geometric-figure {
      left: 540px;
    }
  }
}

@media (max-width: 576px) {
  .pwa-services {
    &_header br {
      display: none;
    }

    &_options {
      margin-bottom: 20px;

      &-link img {
        height: 10px;
        margin-left: 0;
      }
    }

    &_option {
      width: auto;
      max-width: 320px;

      &-header {
        margin: 10px 0;
      }

      &-content  {
        padding-right: 10px;
      }
    }

    .geometric-figure {
      display: none;
    }
  }
}
