.pwa-estimate {

  &_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &_text {
    font-size: 24px;
    line-height: 38px;
    max-width: 520px;
    padding-bottom: 20px;

    &-small {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }

  &_link {
    margin-bottom: 20px;
  }
}

@media (max-width: 1200px) {
  .pwa-estimate {
    margin-right: 0;
    padding-left: 160px;
  }
}

@media (max-width: 810px) {
  .pwa-estimate {
    flex-direction: row;
    padding: 0 16px 0px 30px;

    .section_content {
      max-width: 40%;
      padding-right: 10%;
    }

    .section_desc .btn {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 576px) {
  .pwa-estimate {
    flex-direction: column;

    .section_content {
      max-width: 100%;
    }

    .section_desc {
      padding-top: 0;
    }
  }
}
