.pwa-storefront {
  display: flex;
  padding: 150px 10% 0 100px;
  width: 100%;

  &_image {
    flex: 7;
    border-radius: 8px;
    background-image: url('/assets/images/pwa/storefront.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &_text {
    font-size: 26px;
    line-height: 40px;
    margin-bottom: 120px;

    span {
      color: $color-secondary;
    }
  }

  &_container {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 140px;
  }

  &_redirection {
    &-link {
      color: $color-secondary;
      font-size: 11px;
      font-weight: 600;
      cursor: pointer;
    }

    &-image {
      height: 11px;
      margin-left: 95px;
    }
  }
}

@media (max-width: 1200px) {
  .pwa-storefront {

    &_text {
      font-size: 20px;
      line-height: 34px;
    }

    &_container {
      margin-left: 80px;
    }
  }
}

@media (max-width: 992px) {
  .pwa-storefront {

    &_image {
      flex: 5;
    }

    &_text {
      margin-bottom: 55px;
    }

    &_container {
      flex: 3;
    }
  }
}

@media (max-width: 810px) {
  .pwa-storefront {
    padding: 40px 5px 50px 10px;
  }
}

@media (max-width: 768px) {
  .pwa-storefront {
    flex-direction: column;

    &_container {
      margin-left: 0;
      margin-top: 20px;
    }

    &_text {
      margin-bottom: 20px;
    }

    &_image {
      min-height: 200px;
    }
  }
}

@media (max-width: 576px) {
  .pwa-storefront {

    &_text {
      font-size: 16px;
      line-height: 20px;
    }

    &_image {
      min-height: 130px;
    }
  }
}
