.shopify-carousel {
  width: 100%;
  margin-top: 50px;
  padding: 0 45px;
  box-sizing: border-box;

  .slick-dotted.slick-slider {
    height: 340px;
    margin-bottom: 65px;
  }

  .main-carousel {
    .slick-list {
      height: 100%;
      padding: 30px 0;
      overflow: hidden;
    }

    .slick-arrow {
      font-family: 'icomoon' !important;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-color: $color-white;
      box-shadow: 0 8px 32px 0 rgba(179, 104, 0, 0.12);

      &:hover {
        box-shadow: none;
      }

      &::before {
        top: 13px;
        height: 40px;
        width: 40px;
        font-size: 13px;
        font-weight: 600;
        color: $color-global-font;
        background-color: initial;
      }
    }

    .slick-next {
      right: 40px;

      &::before {
        content: "\e930";
        left: 1px;
      }
    }

    .slick-prev {
      left: 40px;

      &::before {
        content: "\e92f";
        left: -1px;
      }
    }

    .carousel-item {
      height: auto;
      margin: 0;
      // padding: 40px 115px 90px;
      padding: 40px 90px 90px;
      background-color: #FFF7F1;
      box-shadow: none;
      border-radius: 10px;
      cursor: default;

      .item-opinion {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 210px;
        width: auto;
        max-width: calc(100% - 280px);
        padding: 0;

        p {
          line-height: 24px;
        }
      }
    }

    .item-info {
      width: auto;
      margin: 0;
      margin-right: 70px;
      padding: 0;

      .item-img {
        height: 210px;
        width: 210px;
        max-width: initial;
        margin: 0;
        box-shadow: none;
        border-radius: 5px;
      }
    }

    .slick-dots {
      bottom: -15px;
      padding-top: 15px;
      border-top: 1px solid $color-nav-border;

      li {
        height: 4px;
        width: 4px;
        margin: 0 10px 3px;
        background-image: none;
        background-color: $color-secondary;
        border-radius: 50%;
        filter: grayscale(0%);
        opacity: .5;
      }

      .slick-active {
        height: 10px;
        width: 10px;
        margin-bottom: 0;
      }
    }
  }

  .item-name {
    position: relative;
    margin-left: 32px;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;

    &::before {
      content: '';
      position: absolute;
      top: 9px;
      left: -32px;
      height: 8px;
      width: 8px;
      background-color: $color-accent-yellow;
      border-radius: 50%;
    }
  }

  .item-job {
    margin-left: 32px;
    font-size: 14px;
    line-height: 24px;
    opacity: .5;
  }
}

@media (max-width: 1300px) {
  .shopify-carousel {
    .main-carousel {
      .item-info {
        display: none;
      }

      .item-name {
        margin-top: 5px;
      }

      .carousel-item .item-opinion {
        max-width: 100%;

        p {
          height: auto;
          line-height: 22px;
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .shopify-carousel {
    padding: 0;
    padding-left: 45px;
  }
}

@media (max-width: 810px) {
  .shopify-carousel {
    padding-left: 25px;
  }
}

@media (max-width: 687px) {
  .shopify-carousel {
    .slick-dotted.slick-slider {
      height: auto;
    }

    .main-carousel {
      .slick-next {
        right: -20px;
      }

      .slick-prev {
        left: -20px;
      }

      .slick-list {
        padding: 0 0 30px;
        margin-bottom: 0;
      }

      .carousel-item {
        height: auto;
        padding: 20px 30px;

        .item-opinion {
          height: auto;
          min-height: 390px;

          div {
            text-align: right;
          }

          .item-name::before {
            content: none;
          }
        }
      }
    }
  }
}
