.shopify-testimonials {
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 150px;
    padding-right: 100px;
    padding-bottom: 150px;
    padding-left: 160px;
    box-sizing: border-box;
  
    &_container {
      padding: 0 45px;
    }
  
    &_header {
      margin-bottom: 60px;
      font-size: 36px;
      line-height: 50px;
      font-weight: 200;
    }
  
    &_companies {
      display: flex;

      &-top, &-bottom {
        display: flex;
        height: 80px;
        width: 100%;
        border: 1px solid $color-nav-border;
      }

      &-top {
        justify-content: flex-end;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      &-bottom {
        justify-content: flex-start;
        border-left: none;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  
    &_company {
      justify-content: center;
      width: calc(100% / 3);
      align-items: center;
      display: flex;
      border-left: 1px solid $color-nav-border;

      &:first-child {
        border-left: none;
      }

      img {
        width: auto;
        max-width: 100%;
        max-height: 30px;
      }
    }
  
    &_link {
      display: flex;
      align-items: center;
      padding-left: 180px;
      color: $color-secondary;
      font-size: 11px;
      font-weight: 600;
      text-decoration: none;
  
      &-clutch {
        height: 18px;
        margin-right: 26px;
      }
  
      &-image {
        height: 11px;
        margin-left: 23px;
      }
    }
  }
  
  @media (max-width: 1200px) {
    .shopify-testimonials {

      &_companies {
        flex-direction: column;

        &-top {
          border-top-right-radius: 5px;
          border-bottom-left-radius: 0;
        }

        &-bottom {
          border-left: 1px solid $color-nav-border;
          border-top: none;
          border-top-right-radius: 0;
          border-bottom-right-radius: 5px;
          border-bottom-left-radius: 5px;
        }
      }
    }
  }

  @media (max-width: 810px) {
    .shopify-testimonials {
      max-width: calc(100% - 15px);
      margin: 0 5px 0 10px;
      padding: 40px 5px 50px 10px;
  
      &_container, &_link {
        padding: 0;
        padding-left: 25px;
      }
    }
  }
  
  @media (max-width: 576px) {
    .shopify-testimonials {
      &_header {
        margin-bottom: 30px;
      }

      &_companies {

        &-top, &-bottom {
          flex-direction: column;
          border: none;
          border: 1px solid $color-nav-border;
          height: 150px;
        }

        &-top {
          border-bottom: none;
        }
      }

      &_company {
        border-left: none;
        width: 100%;
        height: 50px;
        
        &:not(:last-child) {
          border-bottom: 1px solid $color-nav-border;
        }
      }
  
      &_link {
        &-clutch {
          margin-right: 10px;
        }
  
        &-image {
          margin-left: 10px;
        }
      }
    }
  }
  