<section id="05" class="section benefits">
  <div class="section_desc">
    <div class="section_name">
      <span class="section_name-number">
        05
      </span>
      Perks & Benefits
    </div>
    <h2 class="section_heading">Little things that make our daily life a little bit easier</h2>
  </div>
  <div class="section_content">
    {% include career/benefits-carousel.html %}
  </div>

  <h2 class="section_heading section_heading--center ">
    Ready to join our team <br>
    and build problem-solving software together?
  </h2>
  <a href="/career-offers" class="btn btn-primary btn-arrow">
    CHECK OUT CURRENT OFFERS
    <img src="/assets/images/btn-arrow.png" alt="arrow">
  </a>
</section>
