<section id="04" class="section culture">
  {% include floating-dots.html %}
  <div class="section_content culture_heading">
    <div class="section_desc">
      <div class="section_name">
        <span class="section_name-number">
          04
        </span>
        Company Culture
      </div>
      <h2 class="section_heading">We make a <span class="text-greyed-out">good team</span></h2>
    </div>
    <div class="culture_heading-image">
      <img class="image image--oversized" src="/assets/images/career/culture-section-image-top.jpg" alt="">
      <div class="culture_heading-paragraphs">
        <p class="paragraph">
          We work in small project teams, which allows everyone to know their role, facilitates transparent communication and enables active participation in creating the best product possible.
        </p>
        <p class="paragraph">
          We build our products together. <strong>Every week brings new challenges and, every week, we work together to face them</strong>.
        </p>
      </div>
    </div>
  </div>
  <div class="section_content section_content--full">
    <img class="image" src="/assets/images/career/culture-section-image-mid.png" alt="">
      <div class="culture_image-text-block">
        <p class="paragraph has-dot">
          <span class="dot"></span>
          We see what is best in you
        </p>
        <p class="paragraph">
          We know how to spot potential and a will to grow professionally. Innovation and curiosity are never punished - they are nurtured. Respecting the expertise of our developers is a priority and we always try to implement their best ideas into our projects. Every employee that wants to work and develop their skills is always encouraged to do so. This includes taking care of less experienced team members and guiding them on their professional journey.
        </p>
      </div>
  </div>
  <div class="section_content section_content--full">
    <div class="culture_image-text-block">
      <p class="paragraph has-dot">
        <span class="dot"></span>
        We want to grow as people and as professionals
      </p>
      <p class="paragraph">
        It is not all cakes and ale. We all are here to work eventually. <strong>You need to be prepared that sometimes there are more downs than ups, but we are here to help each other and find a way out together</strong>. Every day brings us new challenges but, thanks to them, we can develop and this is what we care about most.
      </p>
    </div>
    <img class="image" src="/assets/images/career/culture-section-image-bot.png" alt="">
  </div>
</section>
