<section id="00" class="hero">
  <span class="hero_background-text">
    Careers
  </span>
  <div class="hero_box">
    <h1 class="hero_box-heading">
      We are over the moon that <strong>you’re interested<br>
      in working with us</strong>, Naturaily
    </h1>
    <p class="hero_text">
      As you might already know, we specialize in <strong>IoT development</strong>, <strong>Web development</strong> and <strong>Cloud Adoption</strong> and we are constantly looking for specialists like you.
    </p>
    <div class="hero_box-footer">
      <a href="/career-offers" class="btn btn-primary btn-arrow">
        CHECK OUR OPENINGS
        <img src="/assets/images/btn-arrow.png" alt="arrow">
      </a>
      <p class="hero_text">or scroll down to get to know your future team better</p>
    </div>
  </div>
</section>
