<section id="02" class="section path">
  <div class="section_name">
    <span class="section_name-number">
      02
    </span>
    Developer’s Career Path
  </div>
  <h2 class="section_heading">
    We are equally willing to open our doors to <a href="#juniorDevBox" class="text-secondary"><label for="juniorDev">Juniors</label></a>, <a href="#regularDevBox"class="text-secondary"><label for="regularDev">Regulars</label></a> and <a href="#seniorDevBox" class="text-secondary"><label for="seniorDev">Seniors</label></a>
  </h2>

  <div class="section_content" data-process-accordion>
    <div class="accordion" data-accordion-item>
      <input type="checkbox" id="juniorDev" name="dev-level" autocomplete="off" data-accordion-check>
      <label id="juniorDevBox" for="juniorDev" class="accordion-item">
        <span class="accordion_number">01</span>
        <p class="accordion_position">Juniors</p>
        <p class="accordion_more"></p>
        <span class="icon-chevron-down accordion_chevron"></span>
      </label>
      <div class="accordion_content" data-accordion-content>

        <div class="path_accordion-left">
          <p class="paragraph">
            <small>
              Are you at the beginning of your career as a developer and not sure what to learn next or how to improve your skills? No worries. We are ready for you.
            </small>
          </p>

          <p class="paragraph">
            <small>
              <strong>Prepare for Codemaggedon</strong> - coding school with practical classes only.
            </small>
          </p>

          <p class="paragraph">
            <small>
              It is an amazing opportunity for you and other aspiring developers to grow and gain knowledge. Within a reasonable period of time, we will teach you all of the good programming practices, how to use new tools such as Docker and how to work effectively within your team. Also, we are huge Agile lovers so expect to learn this too. You will become a mid or even a senior in no time!
            </small>
          </p>
          <table class="table">
            <thead class="table-head">
              <tr>
                <th>Area</th>
                <th>Skills</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="table-area" >Experience</td>
                <td class="table-skill">1-2 years</td>
              </tr>
              <tr>
                <td class="table-area" >Team Skills </td>
                <td class="table-skill">
                  <ul class="list">
                    <li>Not afraid to ask other developers for <strong>help</strong> or <strong>code review</strong>.</li>
                    <li>Eager to <strong>learn</strong> and open to <strong>feedback</strong>, as well as colleagues' good advice.</li>
                    <li>Tries to look at the project <strong>as a whole</strong> and is <strong>dedicated</strong> to the cause.</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td class="table-area" >Tool use</td>
                <td class="table-skill">
                  <ul class="list">
                    <li>Has <strong>basic knowledge</strong> of the use of tools and wants to learn more.</li>
                    <li>Not afraid to <strong>test</strong> new tools and solutions.</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td class="table-area" >Broad Approach</td>
                <td class="table-skill">
                  <ul class="list">
                    <li><strong>Engages</strong> in other team members' initiatives eagerly.</li>
                    <li><strong>Develops</strong> his knowledge also outside of the work, e.g. by participating in workshops and meetups.</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td class="table-area" >Salary</td>
                <td class="table-skill">
                  <span class="cash" >~3300 <small class="cash-currency">PLN net</small></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="path_accordion-right">
          <figure class="person person_card">
            <img class="image" src="assets/images/people/daniel.png" alt="">
            <figcaption>
              What can I say? Naturaily is my first serious job and I couldn't imagine a better place to achieve my first successes and experience a little failure. I put a lot of effort into being a valuable member of the team and it pays off because I get a lot of positive feedback, both from the board and the team. What I value the most is the fact that I can always count on other developers who are ready to help and share their experiences with me. The atmosphere at Naturaily is a perfect balance between work and fun. When we work, we work, and when we have our time off, we sit, talk and laugh.
              <p class="paragraph has-dot">
                <span class="dot"></span>
                Daniel
                <br>
                <small>Frontend Developer</small>
              </p>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>

    <div class="accordion" data-accordion-item>
      <input type="checkbox" id="regularDev" name="dev-level" autocomplete="off" data-accordion-check>
      <label id="regularDevBox" for="regularDev" class="accordion-item">
        <span class="accordion_number">02</span>
        <p class="accordion_position">Regular</p>
        <p class="accordion_more"></p>
        <span class="icon-chevron-down accordion_chevron"></span>
      </label>
      <div class="accordion_content" data-accordion-content>
        <div class="path_accordion-left">
          <p class="paragraph">
            <small>
              Time for the second level of initiation called <strong>The Skills Hunt</strong>. Below, you will find a list of skills you need to master if you want to call yourself the Regular.
            </small>
          </p>
          <table class="table">
            <thead class="table-head">
              <tr>
                <th>Area</th>
                <th>Skills</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="table-area" >Experience</td>
                <td class="table-skill">>2 years</td>
              </tr>
              <tr>
                <td class="table-area" >Team Skills </td>
                <td class="table-skill">
                  <ul class="list">
                    <li>Able to <strong>solve</strong> all the assigned tasks on its own.</li>
                    <li>Knows how to use the <strong>technologies</strong> and <strong>tools</strong> they work with.</li>
                    <li>Knows how to use a given technology and how to create their <strong>code</strong> so that everything works properly.</li>
                    <li>Takes part in the <strong>recruitment process</strong>, giving technological expertise, along with a senior developer.</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td class="table-area" >Tool use</td>
                <td class="table-skill"><strong>Fluent</strong> in using project tools and <strong>open</strong> to trying new ones.</td>
              </tr>
              <tr>
                <td class="table-area" >Broad Approach</td>
                <td class="table-skill">
                  <ul class="list">
                    <li>Takes part in <strong>professional meetups</strong> and encourages others to do the same.</li>
                    <li>Ready to <strong>share knowledge</strong> gained by participating in a conference or after reading a book.</li>
                    <li>Well-oriented throughout the <strong>entire</strong> software development cycle.</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td class="table-area">Lifelong Learning</td>
                <td class="table-skill">
                  <ul class="list">
                    <li>Knows his specialisation.</li>
                    <li>Explores knowledge about technology with <strong>curiosity</strong> and searches for the best solutions.</li>
                    <li>Wants to <strong>deepen</strong> his domain knowledge and learn new technologies.</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td class="table-area">Client Approach</td>
                <td class="table-skill">
                  <ul class="list">
                    <li>Is able to provide legible details of current work (e.g. limitations, hindrances)</li>
                    <li>Provides open communication.</li>
                    <li>Can handle both positive and negative feedback regarding the actual work.</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td class="table-area" >Salary</td>
                <td class="table-skill">
                  <span class="cash" >~6000 <small class="cash-currency">PLN net</small></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="path_accordion-right">
          <figure class="person person_card">
            <img class="image" src="assets/images/people/stefan.png" alt="">
            <figcaption>
              The most important thing you should know about Naturaily is that its built by a great team. I have the pleasure of working with fantastic people who are open, ready to talk about not only code-related things and willing to spend some valuable time together. The atmosphere is casual enough to show your personality and focused enough to get things done. What's vital to me is the fact that my colleagues are technically excellent - every blog post is at a high or very high level. See for yourself.
              <p class="paragraph has-dot">
                <span class="dot"></span>
                Stefan
                <br>
                <small>Ruby on Rails Developer</small>
              </p>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>

    <div class="accordion" data-accordion-item>
      <input type="checkbox" id="seniorDev" name="dev-level" autocomplete="off" data-accordion-check>
      <label id="seniorDevBox" for="seniorDev" class="accordion-item">
        <span class="accordion_number">03</span>
        <p class="accordion_position">Senior</p>
        <p class="accordion_more"></p>
        <span class="icon-chevron-down accordion_chevron"></span>
      </label>
      <div class="accordion_content" data-accordion-content>
        <div class="path_accordion-left">
          <p class="paragraph">
            <small>
              This is the stage we call a <strong>Dev Master</strong>. Wondering if you are still a Regular or already a Senior? Check out the data below and find out.
            </small>
          </p>
          <table class="table">
            <thead class="table-head">
              <tr>
                <th>Area</th>
                <th>Skills</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="table-area">Experience</td>
                <td class="table-skill">5+ years</td>
              </tr>
              <tr>
                <td class="table-area" >Team Skills </td>
                <td class="table-skill">
                  <ul class="list">
                    <li>Aware of his <strong>value</strong> and does not need to prove it to anyone.</li>
                    <li><strong>Helps</strong> others and lets them ask questions when they do not know something.</li>
                    <li>Strives to make the code <strong>understandable</strong> to others while writing it.</li>
                    <li>Values <strong>cooperation</strong> and is able to encourage and <strong>motivate</strong> other team members.</li>
                    <li>Easy becomes a <strong>mentor</strong> to less experienced colleagues and can <strong>plan and distribute</strong> work.</li>
                    <li><strong>Approachable</strong> and ready to give and get any feedback.</li>
                    <li>Ready to take  <strong>responsibility</strong> for the team and project performance.</li>
                    <li>Takes part in the <strong>recruitment process</strong>, providing technological expertise.</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td class="table-area" >Tool use</td>
                <td class="table-skill">
                  <ul class="list">
                    <li>Has knowledge, experience and ready-to-use tools to <strong>diagnose</strong> and <strong>solve</strong> any programming problem.</li>
                    <li>Eager to <strong>try new tools</strong> and solutions.</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td class="table-area" >Broad Approach</td>
                <td class="table-skill">
                  <ul class="list">
                    <li>Able to have a <strong>broad</strong> view of the project.</li>
                    <li>Able to <strong>complete</strong> the project from the very beginning, until the application is passed to the testers and delivered to the client.</li>
                    <li>Knows how to <strong>cooperate</strong> with co-workers with different competences.</li>
                    <li><strong>Explains</strong> complicated technical issues to the client in an understandable way and <strong>initiates</strong> new solutions.</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td class="table-area" >Lifelong Learning</td>
                <td class="table-skill">
                  <ul class="list">
                    <li><strong>Engages</strong> in the programming <strong>community</strong>, <strong>exchanges</strong> their experience with its members and shares their knowledge with other team members.</li>
                    <li><strong>Initiates</strong> educational events inside the company and shares knowledge gained at conferences and external workshops.</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td class="table-area" >Client Approach</td>
                <td class="table-skill">
                  <ul class="list">
                    <li>Motivates other team members to run transparent communication</li>
                    <li>Takes over the responsibility for leading meetings</li>
                    <li>Promotes the organizational approach of long-standing relationship with the Client</li>
                    <li>Introduces innovative techniques in coping with difficulties</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td class="table-area" >Salary</td>
                <td class="table-skill">
                  <span class="cash" >>9000 <small class="cash-currency">PLN net</small></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="path_accordion-right">
          <figure class="person person_card">
            <img class="image" src="assets/images/people/bartek.png" alt="">
            <figcaption>
              Naturaily is not a factory where you punch a time clock and start your work on a production line. No matter if you are a Senior Ninja Cobol Enthusiast or you just read JavaScript for Dummies last weekend - what matters is what's in your head, not what's on paper.
              <p class="paragraph has-dot">
                <span class="dot"></span>
                Bartek
                <br>
                <small>Senior Frontend Developer</small>
              </p>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  $(document).ready(function() {
    $('[data-process-accordion]').on('change', '[data-accordion-check]', function() {
      var that = $(this);
      var parent = $(that.parent()[0]);
      var contentHeight = parent.children('[data-accordion-content]').height();

      if (that.is(':checked')) {
        parent.addClass('opened')
              .animate({ 'padding-bottom' : contentHeight,}, 400)
              .siblings('[data-accordion-item]')
              .removeClass('opened')
              .animate({ 'padding-bottom' : 0,}, 400);
        parent.siblings('[data-accordion-item]').children('[data-accordion-check]').prop('checked', false);
      }
      else {
        parent.removeClass('opened')
              .animate({ 'padding-bottom' : 0,}, 400);
      }
    });
  });
</script>
