<section id="03" class="section process">
  <div class="section_name">
    <span class="section_name-number">
      03
    </span>
    Recruitment Process
  </div>
  <h2 class="section_heading">Take these 4 steps to <span class="text-greyed-out">change your career</span></h2>

  <div class="process_steps">
    <ul>
      <li><abbr title="">+</abbr>3 days</li>
      <li><abbr title="">+</abbr>5 days</li>
      <li><abbr title="">+</abbr>7 days</li>
    </ul>
    <ol>
      <li>
        <span class="process_steps-point">1</span>
        <p class="paragraph">
          Your move
          <small>
            We are sure there is a place for you in our team. Check out the openings and send your application. We can't wait to meet you.
          </small>
        </p>
      </li>
      <li>
        <span class="process_steps-point">2</span>
        <p class="paragraph">
          First call
          <small>
            Natalia will call you to talk more about you and your possible future at Naturaily.
          </small>
        </p>
      </li>
      <li>
        <span class="process_steps-point">3</span>
        <p class="paragraph">
          Meeting
          <small>
            The best part! A face-to-face meeting with a few members of our team. We will sit, drink some coffee and talk about the details.
          </small>
        </p>
      </li>
      <li>
        <span class="process_steps-point process_steps-point--last ">4</span>
        <p class="paragraph">
          <strong>Welcome on board</strong>
          <small>
            That's it. From now on, you are part of our team. Check out the details below to find out about your first day at work.
          </small>
          <img class="image" src="/assets/images/confetti.png" alt="confetti">
        </p>
      </li>
    </ol>
  </div>

  <div class="process_hr">
    <div class="process_hr-left">
      <div class="process_hr-meet">
        <div class="section_name">
          <span class="section_name-number">
            Meet
          </span>
        </div>
        <h3>
          <span class="text-secondary">Natalia</span>,<br>
          our <span class="text-greyed-out">HR Specialist</span>,
          who will be your
          first contact
        </h3>
      </div>
      <div class="process_hr-meet-person">
      </div>
    </div>

    <div class="process_hr-right">
      <p class="paragraph">I will send you the details of your first day at work a few days earlier, so you know what to expect. You don't need to bring anything, except for a good attitude.</p>
      <p class="paragraph">
        Your workplace will be waiting for you and I will introduce you to the team, while one of the team members will tell you all about your duties for the coming days.
        <br><br>
        <strong>See you soon.</strong>
      </p>
      <div class="process_hr-question">
        <p class="paragraph has-dot">
          <span class="dot"></span>
          <small>
            If you have any <strong>questions about the recruitment process</strong>,<br>
            feel free to contact Natalia any time: <a class="link link--mail" href="mailto:natalia.podgorska@naturaily.com?subject=feedback">natalia.podgorska@naturaily.com</a>
          </small>
        </p>
      </div>
    </div>
  </div>
</section>
