<section id="01" class="section career-team">
  <div class="section_desc">
    <div class="section_name">
      <span class="section_name-number">
        01
      </span>
      The team
    </div>
    <h2 class="section_heading">Meet your future team</h2>
    <p class="paragraph paragraph-offset">Naturaily builds software empowering smart grids and enables serious business decisions based on KPIs calculated in real-time for tens of manufacturing facilities.</p>
    <p class="paragraph paragraph-offset">Being a member of Naturaily offers you the opportunity to be a part of something bigger. We are a team of specialists who attach great importance to work ethics and a high quality of code.</p>
  </div>
  <div class="section_content">
    <img class="image" src="/assets/images/career/team-section-image.jpg" alt="">
    <p class="paragraph has-dot">
      <span class="dot"></span>
      <small>
        If you share our values and want to create software that really solves problems in the modern world - join us.
      </small>
    </p>
  </div>
</section>
