<div class="l-full-page estimate_banner">
  <div class="estimate_container">
    <h1 class="banner-text">
      It’s nice
      <br>
      to see you here!
    </h1>
    <p>
      Hi, my name is Marcin, I am the <span>CEO of Naturaily</span> and I will be the first person you contact by sending this form to us.
    </p>
    <p>I will do my best to answer your inquiry as soon as possible and offer the best possible support.</p>

    <small>
      Let me know what you need,<br>
      and we will certainly stay in contact!
    </small>
    <span>
      <img class="estimate_signature" src="/assets/images/signature.png" alt="Marcin signature">
    </span>
  </div>
</div>
