<script src="https://cdn.jotfor.ms/static/prototype.forms.js" type="text/javascript"></script>
<script src="https://cdn.jotfor.ms/static/jotform.forms.js?3.3.11152" type="text/javascript"></script>
<script type="text/javascript">
	JotForm.init(function(){
      setTimeout(function() {
          $('input_1').hint('Name and surname...');
       }, 20);
      setTimeout(function() {
          $('input_2').hint('Your email address...');
       }, 20);
      JotForm.setCustomHint( 'input_3', 'Short description of your idea' );
      JotForm.highlightInputs = false;
    /*INIT-END*/
	});

   JotForm.prepareCalculationsOnTheFly([null,{"name":"job_name","qid":"1","subLabel":"","text":"","type":"control_textbox"},{"name":"job_email","qid":"2","text":"","type":"control_textbox"},{"name":"job_description","qid":"3","text":"","type":"control_textarea"},null,{"name":"send","qid":"5","text":"Send","type":"control_button"},null,null,{"name":"clickTo","qid":"8","text":"By submiting this form you agree to our Terms of service.","type":"control_text"},{"description":"","name":"estimateFields","qid":"9","subLabel":"","text":"Estimate Fields","type":"control_textbox"}]);
   setTimeout(function() {
JotForm.paymentExtrasOnTheFly([null,{"name":"job_name","qid":"1","subLabel":"","text":"","type":"control_textbox"},{"name":"job_email","qid":"2","text":"","type":"control_textbox"},{"name":"job_description","qid":"3","text":"","type":"control_textarea"},null,{"name":"send","qid":"5","text":"Send","type":"control_button"},null,null,{"name":"clickTo","qid":"8","text":"By submiting this form you agree to our Terms of service.","type":"control_text"},{"description":"","name":"estimateFields","qid":"9","subLabel":"","text":"Estimate Fields","type":"control_textbox"}]);}, 20);
</script>

<form class="jotform-form" action="https://submit.jotformeu.com/submit/91251977229364/" method="post" name="form_91251977229364" id="91251977229364" accept-charset="utf-8">
  <input type="hidden" name="formID" value="91251977229364" />
  <div role="main" class="form-all">

    <div class="form-section page-section">
      <div class="inputs-wrap">
        <div class="form-line form-line-column jf-required" data-type="control_textbox" id="id_1">
          <label class="form-label form-label-top" id="label_1" for="input_1">
            <span class="form-required">
              *
            </span>
          </label>
          <div id="cid_1" class="form-input-wide jf-required">
            <input type="text" id="input_1" name="q1_estimate_name" data-type="input-textbox" class="form-textbox validate[required]" size="20" value="" placeholder="Name and surname..." data-component="textbox" required="" autocomplete="off" />
          </div>
        </div>
        <div class="form-line form-line-column jf-required" data-type="control_textbox" id="id_2">
          <label class="form-label form-label-top" id="label_2" for="input_2">
            <span class="form-required">
              *
            </span>
          </label>
          <div id="cid_2" class="form-input-wide jf-required">
            <input type="text" id="input_2" name="q2_estimate_email" data-type="input-textbox" class="form-textbox validate[required, Email]" size="20" value="" placeholder="Your email address..." data-component="textbox" required="" autocomplete="off" />
          </div>
        </div>
      </div>
      <div class="form-line form-line-textarea" data-type="control_textarea" id="id_3">
        <label class="form-label form-label-left" id="label_3" for="input_3">  </label>
        <div id="cid_3" class="form-input">
          <textarea id="input_3" class="form-textarea" name="q3_job_description" cols="40" rows="8" data-component="textarea" autocomplete="off"></textarea>
        </div>
      </div>
      <div class="form-line form-line-radio" data-type="control_radio" id="id_10">
				<label class="form-label form-label-left" id="label_10" for="input_10"> Do you need an NDA first? </label>
        <div id="cid_10" class="form-input">
					<span class="form-radio-item" style="clear:left">
						<span class="dragger-item"></span>
						<input type="radio" class="form-radio checkbox" id="input_10_0" name="q10_estimate_nda" value="Yes" autocomplete="off"/>
						<label id="label_input_10_0" for="input_10_0" class="checkbox-label">Yes</label>
					</span>
					<span class="form-radio-item" style="clear:left">
						<span class="dragger-item"></span>
						<input type="radio" class="form-radio checkbox" id="input_10_1" name="q10_estimate_nda" value="No" checked autocomplete="off"/>
						<label id="label_input_10_1" for="input_10_1" class="checkbox-label">No</label>
					</span>
          <!-- <div class="form-single-column" data-component="radio">
					</div> -->
        </div>
      </div>
      <div class="form-line form-line-column form-col-1 form-line-text" data-type="control_text" id="id_8">
        <div id="cid_8" class="form-input-wide">
          <div id="text_8" class="form-html" data-component="text">
            <p>By submiting this form you agree to our <a href="https://naturaily.com/terms-of-service" target="_blank" rel="nofollow">Terms of service</a>.</p>
          </div>
        </div>
      </div>
      <div class="form-line" data-type="control_button" id="id_5">
        <div id="cid_5" class="form-input-wide">
          <div style="text-align:center" class="form-buttons-wrapper">
            <button id="input_5" type="submit" class="btn btn-primary btn-arrow" data-component="button">
              Send
							<img src="/assets/images/btn-arrow.png" alt="arrow">
            </button>
          </div>
        </div>
      </div>
      <div class="form-line always-hidden" data-type="control_textbox" id="id_9">
        <label class="form-label form-label-top" id="label_9" for="input_9"> Estimate Fields </label>
        <div id="cid_9" class="form-input-wide always-hidden">
          <input type="text" id="input_9" name="q9_estimateFields" data-type="input-textbox" class="form-textbox" size="1000" value="" data-component="textbox" autocomplete="off"/>
        </div>
      </div>
      <div style="display:none">
        Should be Empty:
        <input type="text" name="website" value="" />
      </div>
    </div>

  </div>
  <script>
  JotForm.showJotFormPowered = "0";
  </script>
  <input type="hidden" id="simple_spc" name="simple_spc" value="91251977229364" />
  <script type="text/javascript">
  document.getElementById("si" + "mple" + "_spc").value = "91251977229364-91251977229364";
  </script>
</form>
<script type="text/javascript">JotForm.ownerView=true;</script><script type="text/javascript">JotForm.forwardToEu=true;</script>
