<div class="l-content">
  <div class="estimate_steps-header">
    <div class="estimate_steps-header-icon">
      <span class="icon-book"></span>
    </div>
    <div class="estimate_steps-text">
      <h2>
        Get an estimate in just <strong>7 days</strong>
      </h2>
      <p>or just <a href="#estimationForm">send a quick message</a></p>
      <p class="estimate_steps-text-desc">You will receive the first feedback from us within <strong>up to 24 hours!</strong></p>
    </div>
  </div>
  <div class="estimate_steps" data-estimate="">
    <div class="estimate_steps-step step-want">
      <p class="estimate_steps-step-header">i want <small>1 of 3</small></p>
      <input class="checkbox" type="checkbox" name="want" value="Develop a new project" id="Develop" autocomplete="off">
      <label class="checkbox-label estimate_steps-option" for="Develop">
        Develop
        <br>
        a new project
        <span class="icon-pencil"></span>
        <small>01</small>
      </label>
      <input class="checkbox" type="checkbox" name="want" value="Improve an existing project" id="Improve" autocomplete="off">
      <label class="checkbox-label estimate_steps-option" for="Improve">
        Improve
        <br>
        an existing project
        <span class="icon-refresh"></span>
        <small>02</small>
      </label>
      <input class="checkbox" type="checkbox" name="want" value="Expand my development team" id="Expand" autocomplete="off">
      <label class="checkbox-label estimate_steps-option" for="Expand">
        Expand my
        <br>
        development team
        <span class="icon-connect"></span>
        <small>03</small>
      </label>
      <input class="checkbox" type="checkbox" name="want" value="Other" id="WantOther" autocomplete="off">
      <label class="checkbox-label estimate_steps-option" for="WantOther">
        Other
        <span class="icon-circle"></span>
        <small>04</small>
      </label>
    </div>

    <div class="estimate_steps-step step-need">
      <p class="estimate_steps-step-header">i need <small>2 of 3</small></p>
      <input class="checkbox" type="checkbox" name="need" value="Frontend" id="Frontend" autocomplete="off">
      <label class="checkbox-label estimate_steps-option" for="Frontend">
        Frontend
        <span class="icon-navigation-toolbar-top"></span>
        <small>01</small>
      </label>
      <input class="checkbox" type="checkbox" name="need" value="Backend" id="Backend" autocomplete="off">
      <label class="checkbox-label estimate_steps-option" for="Backend">
        Backend
        <span class="icon-database-administrator"></span>
        <small>02</small>
      </label>
      <input class="checkbox" type="checkbox" name="need" value="UX/UI Design" id="UX" autocomplete="off">
      <label class="checkbox-label estimate_steps-option" for="UX">
        UX/UI Design
        <span class="icon-pen"></span>
        <small>03</small>
      </label>
      <input class="checkbox" type="checkbox" name="need" value="Other" id="NeedOther" autocomplete="off">
      <label class="checkbox-label estimate_steps-option" for="NeedOther">
        Other
        <span class="icon-circle"></span>
        <small>04</small>
      </label>
    </div>

    <div class="estimate_steps-step step-consider">
      <p class="estimate_steps-step-header">i consider <small>3 of 3</small></p>
      <input class="checkbox" type="checkbox" name="consider" value="Machine Learning" id="Machine" autocomplete="off">
      <label class="checkbox-label estimate_steps-option" for="Machine">
        Machine learning
        <span class="icon-machine"></span>
        <small>01</small>
      </label>
      <input class="checkbox" type="checkbox" name="consider" value="Internet of Things" id="Internet" autocomplete="off">
      <label class="checkbox-label estimate_steps-option" for="Internet">
        Internet of Things
        <span class="icon-networking-manager"></span>
        <small>02</small>
      </label>
      <input class="checkbox" type="checkbox" name="consider" value="Shopify" id="Shopify" autocomplete="off">
      <label class="checkbox-label estimate_steps-option" for="Shopify">
        Shopify
        <span class="icon-shopping-bag"></span>
        <small>03</small>
      </label>
      <input class="checkbox" type="checkbox" name="consider" value="MVP" id="MVP" autocomplete="off">
      <label class="checkbox-label estimate_steps-option" for="MVP">
        MVP
        <span class="icon-gear"></span>
        <small>04</small>
      </label>
    </div>
  </div>
</div>
