<div class="l-full-page thanks">
  <div class="thanks-container">
    <h1 class="banner-text">High five!</h1>
    <p>I am glad that you were interested in our services. I have already received your message and I will take care of it soon.</p>
    <div class="thanks-inline">
      <span class="thanks-inline-left">
        <small>Perhaps while waiting for my reply, you would like to take a look at our blog:</small>
      </span>
      <a href="/blog" class="btn btn-primary">I'LL SEE THE BLOG</a>
    </div>
    <div class="thanks-inline">
      <span class="thanks-inline-left">
        <small>or take a closer look at us! Follow us on:</small>
      </span>
      <div class="thanks-socials">
        <a href="https://www.facebook.com/Naturaily/" target="_blank" rel="nofollow">
          <img src="/assets/images/facebook-logo.png" alt="Facebook">
        </a>
        <a href="https://twitter.com/naturailycom" target="_blank" rel="nofollow">
          <img src="/assets/images/twitter-logo.png" alt="Twitter">
        </a>
        <a href="https://www.youtube.com/channel/UCdXHwyQVYHL3TD3r6AzK5RQ" target="_blank" rel="nofollow">
          <img src="/assets/images/youtube-social.png" alt="Github">
        </a>
        <a href="https://www.linkedin.com/company/naturaily" target="_blank" rel="nofollow">
          <img src="/assets/images/linkedin.png" alt="Linkedin">
        </a>
      </div>
    </div>

    <div class="thanks-inline">
      <span class="thanks-inline-left">
        <small>Talk to you soon!</small>
        <img class="estimate_signature" src="/assets/images/signature.png" alt="Marcin signature">
      </span>
    </div>
  </div>
</div>
