.hero {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 150px auto 100px;

  &--career {
    background-image: url("../assets/images/career_hero_left.png"), url("../assets/images/career_hero_right.png");
    background-repeat: no-repeat;
    background-position: 0px 170px, 100% 50px;
    background-size: 379px 321px, 390px 520px;
  }

  &--about {
    background-image: url("../assets/images/about_hero_right.png");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 30%;
    padding-bottom: 150px;
  }

  &_background-text {
    position: absolute;
    z-index: -2;
    width: auto;
    color: #FFF7F1;
    font-weight: bold;
    text-align: center;
    top: -80px;
    font-size: 175px;
  }

  &_box {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
  }

  &_box-heading {
	  font-size: 36px;
    font-weight: 200;
    line-height: 50px;
    padding-bottom: 26px;
    margin: 0 auto;
  }

  &_box-footer {
    padding-top: 55px;

    .hero_text {
      font-size: 14px;
    }
  }

  &_text {
    max-width: 630px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;

    .not-link, a {
      font-weight: 500;
    }

    a {
      text-decoration: underline;
    }

    &-second {
      display: inline-block;
      margin-bottom: 36px;
      font-size: 16px;
      font-weight: 500;
    }
  }

  &_back {
    position: absolute;
    left: calc(-100% - -20px);
    top: calc(-100% - 40px);
    color: $color-secondary;
    text-transform: uppercase;
    font-size: 12px;

    .image {
      width: 23px;
      margin-right: 20px;
      transform: scaleX(-1);
    }
  }

  .btn {
    display: inline-block;
    margin-bottom: 20px;
  }
}


@media (max-width: 1280px) {
  .hero {
    &--career {
      background-size: 200px;
    }
  }
}

@media (max-width: 900px) {
  .hero {
    &--career {
      background-position: -160px 73%, calc(100% - -28px) 77px;
      background-size: auto 180px, auto 150px;
    }
  }
}

@media (max-width: 810px) {
  .hero {
    margin: 120px auto 40px;

    &--layout {
      background-position: -140px 81%, calc(100% - -28px) 77px;
      background-size: 200px 169px, 100px 150px;
    }

    &--career {
      background-position: -140px 83%, calc(100% - -25px) 60px;
      background-size: 200px 169px, 90px auto;

      .hero_box {
        padding: 0 30px;
      }
    }

    &--about {
      background-position: 100% 100%;
      background-size: 30%;
      padding-bottom: 100px;

      .hero_text {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 350px;
        padding: 0 30px;

        p {
          width: 100%;
        }

        .not-link {
          margin-right: 3px;
        }
      }
    }

    &--jamstack {
      .hero_box-heading {
        span {
          display: inline;
        }

        br {
          display: block;
        }
      }
    }

    &_box {
      padding: 0 15px;

      &-heading {
    	  font-size: 28px;
        font-weight: 200;
        line-height: 40px;
      }

      &-footer {
        padding-top: 30px;
      }
    }

    &_background-text {
      top: -40px;
      font-size: 100px;
    }

    &_text {
      font-size: 14px;
      font-weight: 300;
      padding: 0 10px;

      &-second {
        margin-bottom: 0;
      }
    }

    &_back {
      display: none;
    }
  }
}

@media (max-width: 576px) {
  .hero_background-text {
    font-size: 80px;
    white-space: nowrap;
  }
}
