.table {
  border-spacing: 0;
  width: 100%;

  &-head {
    box-shadow: 0px 1px 0px rgba(255, 176, 64, 0.1);
    th {
      line-height: 30px;
      text-align: left;
      padding: 13px 0px 13px 20px;
      font-size: 14px;
      color: rgba(61, 35, 16, 0.7);
      font-weight: 300;


      &:first-child {
        box-shadow: 1px 0px 0px rgba(255, 176, 64, 0.1);
        padding-left: 0;
        padding-right: 20px;
        width: 70px;
        color: $color-global-font;
        font-weight: 600;
      }
    }
  }

  tr {
    box-shadow: 0px 1px 0px rgba(255, 176, 64, 0.1);

    &:last-child {
      box-shadow: none;
    }
  }

  td {
    font-size: 14px;
    vertical-align: top;
    line-height: 24px;
  }

  &-area {
    padding: 15px 20px 15px 0;
    color: $color-global-font;
    font-weight: 600;
  }

  &-skill {
    padding: 15px 0px 15px 20px;
    color: rgba(61, 35, 16, 0.7);
  }

  tbody tr:first-child td {
    padding-top: 35px;
  }

  ul {
    padding: 0;
    margin: 0;
    margin-left: 14px;
  }
}
