<h2 class="faces-title">Our team, naturally the best!</h2>

<div class="faces">
  <div class="person">
    <img src="/assets/images/loader.gif" data-src="/assets/images/people/suler.png" alt="Image of a person">
    <span class="name">Marcin Sulikowski</span>
    <span class="position">Co-founder</span>
  </div>
  <div class="person down down-sm">
    <img src="/assets/images/loader.gif" data-src="/assets/images/people/sebastian.png" alt="Image of a person">
    <span class="name">Sebastian Kubiak</span>
    <span class="position">Co-founder</span>
  </div>
  <div class="person">
    <img src="/assets/images/loader.gif" data-src="/assets/images/people/arek.png" alt="Image of a person">
    <span class="name">Arkadiusz</span>
    <span class="position">Ruby/JS Developer</span>
  </div>
  <div class="person down">
    <img src="/assets/images/loader.gif" data-src="/assets/images/people/lighto.png" alt="Image of a person">
    <span class="name">Paweł (Lighto)</span>
    <span class="position">Frontend Developer</span>
  </div>
  <div class="person down-sm">
    <img src="/assets/images/loader.gif" data-src="/assets/images/people/adam.png" alt="Image of a person">
    <span class="name">Adam</span>
    <span class="position">Ruby/JS Developer</span>
  </div>
  <div class="person">
    <img src="/assets/images/loader.gif" data-src="/assets/images/people/bartek.png" alt="Image of a person">
    <span class="name">Bartek</span>
    <span class="position">Senior Frontend Developer</span>
  </div>
  <div class="person down">
    <img src="/assets/images/loader.gif" data-src="/assets/images/people/agata.png" alt="Image of a person">
    <span class="name">Agata</span>
    <span class="position">UX/UI Designer</span>
  </div>
  <div class="person down-sm">
    <img src="/assets/images/loader.gif" data-src="/assets/images/people/klaudia.png" alt="Image of a person">
    <span class="name">Klaudia</span>
    <span class="position">Ruby/JS Developer</span>
  </div>
  <div class="person down">
    <img src="/assets/images/loader.gif" data-src="/assets/images/people/adrian.png" alt="Image of a person">
    <span class="name">Adrian</span>
    <span class="position">Ruby/JS Developer</span>
  </div>
  <div class="person">
    <img src="/assets/images/loader.gif" data-src="/assets/images/people/jakub.png" alt="Image of a person">
    <span class="name">Jakub</span>
    <span class="position">Ruby/JS Developer</span>
  </div>
  <div class="person down-sm">
    <img src="/assets/images/loader.gif" data-src="/assets/images/people/ania.png" alt="Image of a person">
    <span class="name">Anna</span>
    <span class="position">Office Manager</span>
  </div>
  <div class="person down">
    <img src="/assets/images/loader.gif" data-src="/assets/images/people/karol.png" alt="Image of a person">
    <span class="name">Karol</span>
    <span class="position">Ruby Developer</span>
  </div>
  <div class="person">
    <img src="/assets/images/loader.gif" data-src="/assets/images/people/blazej.png" alt="Image of a person">
    <span class="name">Błażej</span>
    <span class="position">Ruby/JS Developer</span>
  </div>
  <div class="person down rwd-down">
    <img src="/assets/images/loader.gif" data-src="/assets/images/people/leo.png" alt="Image of a person">
    <span class="name">Leo</span>
    <span class="position">Business Developer</span>
  </div>
  <div class="person down-sm rwd-up">
    <img src="/assets/images/loader.gif" data-src="/assets/images/people/anna.png" alt="Image of a person">
    <span class="name">Anna</span>
    <span class="position">Project Manager</span>
  </div>
  <div class="person down-sm rwd-up">
    <img src="/assets/images/loader.gif" data-src="/assets/images/people/daniel.png" alt="Image of a person">
    <span class="name">Daniel</span>
    <span class="position">Frontend Developer</span>
  </div>
  <div class="person down rwd-down">
    <img src="/assets/images/loader.gif" data-src="/assets/images/people/lukasz.png" alt="Image of a person">
    <span class="name">Łukasz</span>
    <span class="position">Fullstack Developer</span>
  </div>
  <div class="person">
    <img src="/assets/images/loader.gif" data-src="/assets/images/people/bartosz.png" alt="Image of a person">
    <span class="name">Bartosz</span>
    <span class="position">QA Specialist</span>
  </div>
  <div class="person down">
    <img src="/assets/images/loader.gif" data-src="/assets/images/people/stefan.png" alt="Image of a person">
    <span class="name">Stefan</span>
    <span class="position">Ruby Developer</span>
  </div>
  <div class="person rwd-down">
    <img src="/assets/images/loader.gif" data-src="/assets/images/people/andrzej.png" alt="Image of a person">
    <span class="name">Andrzej</span>
    <span class="position">JS Developer</span>
  </div>


  <div class="person down-sm rwd-up">
    <img src="/assets/images/loader.gif" data-src="/assets/images/people/natalia.png" alt="Image of a person">
    <span class="name">Natalia</span>
    <span class="position">HR Specialist</span>
  </div>
  <div class="person down rwd-up">
    <img src="/assets/images/loader.gif" data-src="/assets/images/people/kamil.png" alt="Image of a person">
    <span class="name">Kamil</span>
    <span class="position">Ruby Developer</span>
  </div>
  <div class="person rwd-down">
    <img src="/assets/images/loader.gif" data-src="/assets/images/people/bob.png" alt="Image of a person">
    <span class="name">Michał</span>
    <span class="position">Ruby Developer</span>
  </div>
  <div class="person down rwd-up">
    <img src="/assets/images/loader.gif" data-src="/assets/images/people/dominik.png" alt="Image of a person">
    <span class="name">Dominik</span>
    <span class="position">Ruby Developer</span>
  </div>
  <div class="person rwd-up">
    <img src="/assets/images/loader.gif" data-src="/assets/images/people/kaydee.png" alt="Image of a person">
    <span class="name">Michał</span>
    <span class="position">Ruby Developer</span>
  </div>
</div>

<div class="faces-button">
  <a href="/careers" type="button" class="btn btn-secondary">Join Naturaily</a>
</div>
