
<footer class="footer">
  <div class="footer-heading">
    <img class="footer-logo" src="/assets/images/logo_naturaily.svg" alt="Naturaily logo">
  </div>

  <div class="footer-body">
    <ul class="footer_list footer_list--services">
      <li class="footer_list-heading">Services</li>
      <li><a href="/services/ruby-on-rails-development">Ruby on Rails development</a></li>
      <li><a href="/services/vue-js-development">Vue.js development</a></li>
      <li><a href="/services/react-js-development">React.js development</a></li>
      <li><a href="/services/ecommerce/shopify-development">Shopify development</a></li>
      <li><a href="/services/webdevelopment/jamstack">JAMstack development</a></li>
      <li><a href="/services/webdevelopment/pwa">PWA development</a></li>
      <li class="footer_list-footer"><a class="tos" href="/terms-of-service" rel="nofollow">Terms of Use</a></li>
    </ul>
    <ul class="footer_list footer_list--resources">
      <li class="footer_list-heading">Resources</li>
      <li><a href="/vue-resources">Vue.js</a></li>
    </ul>
    <ul class="footer_list footer_list--jobs">
      {% assign job_offers = site.career | where: "published", "true"%}
      <li class="footer_list-heading">Job offers</li>
      {% for job_offer in job_offers %}
        <li><a href="{{job_offer.url}}">{{job_offer.title}}</a></li>
      {% endfor %}
    </ul>

    <div class="footer_spacer"></div>

    <div class="footer_contact">
      <div class="footer_contact-address">
        <p>ul. Ofiar Oświęcimskich 17</p>
        <p>50-069 Wrocław, Poland</p>
      </div>
      <div class="footer_contact-phone">
        <a href="tel:+48735220414">+48 735 220 414 (Sales)</a>
        <a href="tel:+48533294604">+48 533 294 604 (Office)</a>
      </div>
      <a class="footer_contact-mail" href="mailto:hello@naturaily.com">hello@naturaily.com</a>
    </div>
  </div>

  <div class="footer-footer">
    <div class="footer_social">
      <a class="footer_social-item" href="https://www.facebook.com/Naturaily/" target="_blank" rel="nofollow">
        <img src="/assets/images/facebook-logo.png" alt="Facebook">
      </a>
      <a class="footer_social-item" href="https://twitter.com/naturailycom" target="_blank" rel="nofollow">
        <img src="/assets/images/twitter-logo.png" alt="Twitter">
      </a>
      <a class="footer_social-item" href="https://www.linkedin.com/company/naturaily" target="_blank" rel="nofollow">
        <img src="/assets/images/linkedin.png" alt="Linkedin">
      </a>
      <a class="footer_social-item" href="https://github.com/naturaily" target="_blank" rel="nofollow">
        <img class="topbar-github" src="/assets/images/github.png" alt="Github">
      </a>
    </div>
    <p class="footer-regon">
      VAT-ID: PL8943047516 KRS: 0000472548 REGON: 022209183
    </p>
  </div>
</footer>


<script type="text/javascript">
  function getSelectionText() {
    var text = '';
    if (window.getSelection) {
      text = window.getSelection().toString();
    } else if (document.selection && document.selection.type != 'Control') {
      text = document.selection.createRange().text;
    }
    if (text.includes("735 220 414") || text.includes("533 294 604") || text.includes("hello@naturaily.com") ) {
      return text;
    }
    else {
      return false
    }
  }

  document.addEventListener('copy', function(e){
    var textCopied = getSelectionText();
    if (typeof(textCopied) === "string") {
      dataLayer.push({
        'event': 'linkCopied',
        'linkCopied': getSelectionText()
      });
    }
  });
</script>
