.l-footer {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
}

.footer {
  width: 100%;
  padding-top: 150px;

  &-heading {
    padding-bottom: 30px;
    margin-bottom: 48px;
    border-bottom: 2px solid rgba(232, 225, 213, 0.8);
  }

  &-logo {
    max-width: 165px;
    width: 100%;
  }

  &-body {
    padding-right: 110px;
    padding-bottom: 60px;
    display: flex;
  }

  &-regon {
	  font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: $color-text-muted;
    padding: 30px 0;
  }

  &_contact {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    text-align: right;

    &-phone {
      display: flex;
      flex-direction: column;
      padding: 18px 0;
    }

    p {
    	font-size: 14px;
      line-height: 24px;
      font-weight: 300;
      color: $color-global-font;
    }
  }

  &_list {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    list-style: none;
    padding: 0;
    margin: 0;

    &-heading {
      padding-bottom: 16px;
      font-weight: 600;
      color: $color-global-font;
      font-size: 14px;
    }

    &-footer {
      padding-top: 25px;
    }
  }

  &_social {

    &-item:first-child img {
      margin-left: 0;
    }

    .topbar-github {
      opacity: 0.18;
    }

    img {
      max-height: 15px;
      margin: 0 10px;
      filter: grayscale(100%);
      opacity: 0.3;
      transition: filter .2s ease, opacity .2s ease;

      &:hover {
        filter: grayscale(0);
        opacity: 1;
      }
    }
  }

  a {
  	font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: $color-global-font;
  }

  p {
    margin: 0;
  }
}

@media (max-width: 810px) {
  .footer {
    padding: 0 20px;
    padding-top: 100px;

    &-body {
      padding-right: 0;
      flex-wrap: wrap;
    }

    &-regon {
      max-width: 80%;
    }

    &_list {
      flex: 0 auto;
      flex-wrap: wrap;
      box-sizing: border-box;
      padding-right: 40px;

      &--services {
        flex-basis: auto;
        margin-right: auto;
      }

      &--resources {
        flex-basis: 33%;
      }

      &--jobs {
        display: none;
      }
    }

    &_contact {
      margin: 0;
      text-align: left;
      padding-top: 25px;
      flex-wrap: wrap;
      flex-direction: row;

      &-address {
        order: 3;
        flex-basis: 33%;
      }

      &-phone {
        order: 2;
        flex-basis: auto;
        margin-right: auto;
        padding-top: 0;
      }

      &-mail {
        order: 1;
        flex-basis: 100%;
        margin-bottom: 30px;
      }
    }

    &_social {
      img {
        max-height: 20px;
        margin: 0 15px;
      }
    }
  }
}
