.main__wave {
  grid-area: header;
  height: 500px;
  position: relative;
  z-index: -1;

  img {
    width: 100%;
    height: 100%;
    min-width: 1440px;
    position: absolute;
    display: flex;
    margin: 0 auto;
    z-index: -1;
  }
}

.main-point {
  font-weight: 200;
  font-size: 1.5rem;
  line-height: 32px;

  &::before{
    content: "•";
    color: #FFB040;
    color: $color-accent-yellow;
    padding-right: 20px;
    font-size: 1.5rem;
    font-family: initial;
  }
  &.green-dot {
    &::before {
      color: $color-accent-green;
    }
  }
  &.blue-dot {
    &::before {
      color: $color-accent-blue;
    }
  }
  &.red-dot {
    &::before {
      color: $color-primary;
    }
  }
  &.gold-dot {
    &::before {
      color: $color-accent-gold;
    }
  }
  &.pink-dot {
    &::before {
      color: $color-accent-pink;
    }
  }
}

.l-content {
  grid-column: content;

  &-right {
    grid-column: content;

    @media (min-width: 992px) {
      grid-column: content / right-sidebar;
    }
  }
}

.l-full-page {
  min-width: 0;
  grid-column: left-sidebar / right-sidebar;

  &--estimate {
    max-width: 1380px;
  }
}

.main-wave-1 {
  z-index: -1;
  .wave-tail {
    padding-top: 100%;
    background: linear-gradient(to bottom, #ffffff 0%,#fff8eb 100%);
  }
}
.main-wave-2 {
  z-index: -2;
  .wave-tail {
    padding-top: 80%;
    background: linear-gradient(to bottom, #ffffff 0%,#f2fbff 100%);
  }
}
.main-wave-3 {
  z-index: -3;
  .wave-tail {
    padding-top: 80%;
    background: linear-gradient(to bottom, #ffffff 0%,#fff8eb 100%);
  }
}

.arrow-down {
  grid-column: 1;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 30px;
  justify-self: left;
}

@media (min-width: 992px) {
  .main-point {
    margin-left: -35px;
  }
}

@media screen and (max-width: 810px) {
  .main__wave {
    z-index: -2;
  }
}
