.values {
  background-color: rgba(154, 168, 224, 0.1);
  padding-left: 160px;
  position: relative;

  .accordion {
    padding-left: 160px;
    padding-right: 170px;
    background-color: transparent;
  }

  .accordion-item {
    cursor: initial;
    height: 130px;
    align-items: flex-start;
    padding-top: 30px;
    background-color: transparent;

    .accordion_number {
      line-height: 24px;
    }

    .paragraph {
      max-width: initial;
      padding-left: 40px;
    }

    div {
      width: 180px;
      line-height: 24px;
      flex: 1 0 auto;
    }
  }

  .section_intro {
    max-width: calc(100% - 520px);

    .paragraph {
      max-width: 100%;
      padding: 25px 45px;
    }
  }

  .section_heading {
    position: relative;
    z-index: 3;
  }

  .image {
    position: absolute;
    top: 155px;
    right: -20px;
  }
}

@media (max-width: 1280px) {
  .values {
    .accordion {
      padding-left: 0;

      &-item {
      height: auto;
      padding: 25px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .values {
    max-width: calc(100% - 30px);
    margin: 0 5px 0 10px;
    padding: 40px 25px 280px 15px;

    .section {
      &_content {
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
      }

      &_intro {
        max-width: 100vw;
      }

      &_heading {
        width: 80vw;
      }
    }

    .image {
      position: absolute;
      top: initial;
      right: initial;
      bottom: 0;
      max-width: initial;
      align-self: center;
    }

    .accordion {
      padding: 0;

      &_number {
        padding-right: 15px;
      }

      &-item {
        height: auto;
        padding-right: 30px;
        align-items: center;

        div {
          font-size: 18px;
          width: 160px;
        }
      }

      .paragraph {
        font-size: 16px;
        padding: 0 25px;
        line-height: 16px;
        color: rgba(59, 34, 15, 0.5);
      }
    }
  }
}

@media (max-width: 810px) {
  .values {
    .accordion-item {
      flex-wrap: wrap;

      div {
        padding: 10px 0;
      }
    }
  }
}
