.photos {

  .section_desc {
    width: 1440px;
    margin: 0 auto;
  }

  .section_heading {
    padding-left: 205px;
  }

  .gallery {
    margin-top: 30px;
    padding-bottom: 20px;
    grid-gap: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: end;
    overflow: hidden;

    a {
      grid-column: 1 / 6;
      margin: 0 auto;
      text-decoration: none;
      color: $color-secondary;

      button {
        margin: 30px;
      }
    }

    img {
      border-radius: 4px;
    }

    .small-img {
      width: 90px;
    }

    .medium-img {
      width: 300px;
    }

    .large-img {
      width: 300px;
    }
  }
}

@media (max-width: 810px) {
  .photos {
    .section_heading {
      font-size: 28px;
      padding-left: 50px;
    }
    .gallery {
      grid-gap: 15px;
      transform: scale(0.8);
      margin-left: -80px;
      overflow: visible;
    }
  }
}
