.why-us {

  &_desc {
    flex-basis: 40%;

    .paragraph {
      max-width: 100%;
      font-size: 14px;
      color: rgba(61, 35, 16, 0.7);
    }

    h3 {
      padding: 20px 0;
    }
  }

  .section_heading {
    position: relative;
    z-index: 3;
    padding-top: 20px;

    cite {
      right: 80px;
    }
  }

  .section_intro {
    display: flex;
  }

  h2 {
    flex-basis: 30%;
    margin: 0;
    padding-right: 80px;
  }
}

@media (max-width: 810px) {
  .why-us {
    padding-top: 100px;

    .section_intro {
      flex-direction: column;
      padding-right: 25px;
    }

    .section_intro {
      padding-right: 25px;
    }

    h2 {
      font-size: 28px;
      line-height: 39px;
      padding-bottom: 30px;
      padding-right: 0;
    }

    h3 {
      font-size: 18px;
      line-height: 25px;
    }
  }
}
