.career-team {
  .section_content {
    max-width: 610px;
    width: 100%;
  }

  img {
    width: 100%;
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-sizing: border-box;
  }
}

@media (max-width: 810px) {
  .career-team {
    .paragraph.has-dot {
      display: none;
    }

    img {
      padding-top: 30px;
    }
  }
}
