.benefits {
  padding-left: 160px;
  padding-right: 100px;
  background-color: #FFF7F1;
  flex-wrap: wrap;
  box-sizing: border-box;

  &_carousel {
    position: relative;
    padding-left: 45px;
    margin-top: 55px;
    margin-bottom: 120px;
  }

  &_images {
    width: 100%;
    min-height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    position: relative;
    z-index: 0;
  }

  &_box {
    position: absolute;
    height: 400px;
    width: 340px;
    top: 50%;
    left: 0;
    margin-top: -200px;
    padding: 25px 40px;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 8px 32px 0 rgba(179,104,0,0.08);
    box-sizing: border-box;

    .slick-list {
      overflow: visible;
    }

    .section_name {
      margin-bottom: 30px;
      padding-bottom: 20px;
      position: relative;
    }

    strong {
      color: $color-global-font;
    }
  }

  &_box-footer {
  	border-radius: 0 0 8px 8px;
    background-color: #FFF7F1;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    height: 70px;
    left: 0;
    padding-left: 40px;
    position: absolute;
    width: 100%;
  }

  .btn {
    margin: 0 auto;
  }

  .image {
    width: 100%;
  }

  .paragraph.has-dot {
    padding-left: 25px;
    padding-bottom: 20px;
    color: $color-global-font;
    font-size: 16px;
  }

  .section_desc {
    max-width: 450px;
  }

  .section_content {
    width: 100%;
  }

  .slick-arrow {
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 8px 32px 0 rgba(179,104,0,0.12);
    color: $color-global-font;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    margin-right: 10px;
    position: relative;
    top: -10px;
    width: 40px;

    &::before {
      font-size: 13px;
    }
  }

  .paragraph {
    font-size: 14px;

     .dot {
      top: 6px;
    }
  }

  .progress-bar {
    position: absolute;
    width: 390%;
    top: 70px;
  }
}

@media (max-width: 810px) {
  .benefits {
    max-width: calc(100% - 15px);
    margin: 0 5px 0 10px;
    padding: 40px 5px 50px 10px;

    &_carousel {
      margin: 0;
      padding: 0;
    }


    &_images {
      min-height: 300px;
    }

    &_box {
      position: relative;
      width: 100%;
      height: auto;
      margin: 0;
      padding: 20px 30px;
      top: -60px;

      .section_name-number {
        left: -15px;
        position: absolute;
        top: -285px;
      }

      .section_name {
        padding: 0;
        margin: 0;
      }

      .paragraph.has-dot {
        font-size: 14px;
        font-weight: 400;
      }
    }

    &_box-footer {
      background-color: transparent;
    }


    &_images {
      width: calc(100% + 35px);
      height: 300px;
      left: -25px;
      position: relative;
      z-index: 0;
    }

    .btn {
      position: relative;
      left: -10px;
    }

    .image {
      margin-left: -30px;
      margin-right: 0px;
      max-width: none;
      width: 160%;
    }

    .section_heading {
      padding-right: 45px;
    }

    .section_content {
      padding: 50px 0;
    }

    .slick-list, .slick-track {
      height: 100%;
    }

    .slick-list {
      padding-bottom: 30px;
    }

    .slick-arrow {
      top: 10px;
    }

    .progress-bar {
      left: 15px;
      top: -220px;
      width: 100%;
    }
  }
}
