.position {
  padding: 0;
  padding-bottom: 50px;
  padding-top: 150px;
  position: relative;

  &_job-title {
    display: flex;
    justify-content: space-between;
  }

  &_salary {
    display: inline-block;
    margin-top: 25px;

    span {
      font-size: 24px;
    }
  }

  &_location {
    font-size: 16px;
    line-height: 24px;
    color: rgba(61, 35, 16, 0.5);
    background-color: #FFFBF7;
    border-radius: 8px;
    padding: 8px 15px;
    margin-right: 8px;
    margin-top: 25px;
    display: inline-block;
  }

  .section_heading {
    padding: 0;
  }

  .hero_back {
    left: -90px;
    top: 10px;
  }

  .btn {
    align-items: center;
    justify-content: center;
    display: flex;
    min-width: 150px;

    img {
      position: relative;
      right: -37px;
    }
  }
}

@media (max-width: 810px) {
  .position {
    padding-top: 120px;

    &_job-title {
      flex-direction: column;
      align-items: flex-start;
      padding-right: 50px;
    }

    .section_heading {
      padding-bottom: 20px;
    }

    .btn-primary.btn-arrow {
      margin: 0;
      max-width: 200px;
    }
  }
}
