.geometric-figure {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;

  &_center {
    display: flex;
    width: 162px;
    height: 162px;
    border: 2px solid $color-accent-yellow;
    border-radius: 50%;
    right: 0;
    top: 0;
  }

  &_left, &_right {
    width: 81px;
    height: 166px;
    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      width: 166px;
      height: 166px;
      border-radius: 50%;
      position: absolute;
      top: 0;
    }
  }

  &_left {

    &::after {
      left: 0;
      background-color: $color-secondary;
    }
  }

  &_right {

    &::after {
      right: 0;
      background-color: $color-secondary;
    }
  }
}

.inscribed-circle {
  width: 350px;
  height: 350px;
  position: relative;
  background-color: $color-secondary;
  border-radius: 8px;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    border-radius: 50%;
  }
}

@media (max-width: 810px) {
  .geometric-figure {
    &_center {
      width: 92px;
      height: 92px;
    }

    &_left, &_right {
      width: 44px;
      height: 96px;

      &::after {
        width: 96px;
        height: 96px;
      }
    }
  }
}
