<section id="03" class="section jamstack-benefits">
    <div class="section_name">
      <span class="section_name-number">
        03
      </span>
      Benefits
    </div>
    <div class="jamstack-benefits-container">
      <div class="jamstack-benefits-container-head">
        <p>Build a blazing fast JAMstack<br>website to get more conversion</p>
        <p>JAMstack lets you create a modern and cost-efficient<br>website that's perfectly suited to the web of today.</p>
      </div>
      <div class="jamstack-benefits-options">
        <div>
          <span class="icon icon-fast text-primary"></span>
          <p>Ultimately fast</p>
          <p>Static sites have no database, so they don't run time-consuming queries. This makes sites up to 10x faster.</p>
        </div>
        <div>
          <span class="icon icon-security text-primary"></span>
          <p>Security</p>
          <p>In JAMstack, the frontend and CMS are decoupled, which reduces damage of potential attacks.</p>
        </div>
        <div>
          <span class="icon icon-advanced-search text-primary"></span>
          <p>Boost your SEO</p>
          <p>Web performance is one of Google's key ranking factors. A faster website means a higher SERP position and more traffic.</p>
        </div>
        <div>
          <span class="icon icon-scale text-primary"></span>
          <p>Scale</p>
          <p>If your website goes viral and gets many active users, the CDN makes it easier to scale dynamically.</p>
        </div>
        <div>
          <span class="icon icon-save-money text-primary"></span>
          <p>Save money</p>
          <p>Static file hosting is much cheaper, or sometimes even free.</p>
        </div>
      </div>
      <a href="/get-an-estimate" class="btn btn-primary btn-arrow">GET AN ESTIMATE <img src="/assets/images/btn-arrow.png" alt="arrow"/></a>
    </div>
  </section>
