<section id="06" class="section jamstack-services jamstack-services-figure">
  <div class="section_name">
    <span class="section_name-number">
      03
    </span>
    Benefits
  </div>
  <div class="jamstack-services_container">
    <figure class="geometric-figure">
      <div class="geometric-figure_center"></div>
      <div class="geometric-figure_right"></div>
    </figure>
    <div class="floating-dots">
      <span class="floating-dots_dot burnt-sienna"></span>
      <span class="floating-dots_dot french-pass"></span>
    </div>
    <div>
      <p class="jamstack-services_header">
        Build a blazing fast JAMstack
        <br>
        website to get more conversion
      </p>
      <p class="jamstack-services_description">
        JAMstack lets you create a modern and cost-efficient
        <br>
        website that's perfectly suited to the web of today.
      </p>
    </div>
    <div class="jamstack-services_options">
      <div class="jamstack-services_option">
        <span class="icon icon-fast text-primary"></span>
        <p class="jamstack-services_option-header">Ultimately fast</p>
        <p class="jamstack-services_option-content">Static sites have no database, so they don't run time-consuming queries. This makes sites up to 10x faster.</p>
      </div>
      <div class="jamstack-services_option">
        <span class="icon icon-security text-primary"></span>
        <p class="jamstack-services_option-header">Security</p>
        <p class="jamstack-services_option-content">In JAMstack, the frontend and CMS are decoupled, which reduces damage of potential attacks.</p>
      </div>
      <div class="jamstack-services_option">
        <span class="icon icon-advanced-search text-primary"></span>
        <p class="jamstack-services_option-header">Boost your SEO</p>
        <p class="jamstack-services_option-content">Web performance is one of Google's key ranking factors. A faster website means a higher SERP position and more traffic.</p>
      </div>
      <div class="jamstack-services_option">
        <span class="icon icon-scale text-primary"></span>
        <p class="jamstack-services_option-header">Scale</p>
        <p class="jamstack-services_option-content">If your website goes viral and gets many active users, the CDN makes it easier to scale dynamically.</p>
      </div>
      <div class="jamstack-services_option">
        <span class="icon icon-save-money text-primary"></span>
        <p class="jamstack-services_option-header">Save money</p>
        <p class="jamstack-services_option-content">Static file hosting is much cheaper, or sometimes even free.</p>
      </div>
    </div>
    <a class="btn btn-primary btn-arrow" href="/get-an-estimate">
      GET AN ESTIMATE
      <img src="/assets/images/btn-arrow.png" alt="arrow"/>
    </a>
  </div>
</section>
