<section id="01" class="section jamstack-case-studies">
  <div class="section_name">
    <span class="section_name-number">
      01
    </span>
    Case studies
  </div>
  <div class="jamstack-case-studies_header">
    <div class="jamstack-case-studies_quote-wrapper">
      <p class="jamstack-case-studies_quote">
        The members of the Naturaily team combine levels of professionalism, experience, and collaboration that is hard to find in today’s technology landscape.
      </p>
      <p class="paragraph has-dot">
        <span class="dot"></span>
        Chris Lowsley, Director
      </p>
      <p class="jamstack-case-studies_quote-company">LV Solutions at EA Technology</p>
      <div class="jamstack-case-studies_redirection">
        <a
          class="jamstack-case-studies_redirection-link"
          href="/blog/shopify-customization-joint-case-study"
          target="_blank"
        >
          READ WOOLMAN SUCCESS STORY
          <img
            class="jamstack-case-studies_redirection-image"
            src="/assets/images/arrow-orange.png"
            alt="arrow"
          >
        </a>
      </div>
    </div>
    <div
      class="jamstack-case-studies_header-image"
      style="background-image: url(/assets/images/jamstack/case-studies.png)"
    ></div>
  </div>
  <div class="jamstack-case-studies_list">
    <p class="jamstack-case-studies_list-header">
      These companies have already field-tested the abilities of JAMstack
    </p>
    <div class="jamstack-case-studies_list-options">
      <div class="jamstack-case-studies_list-option">
        <img
          class="jamstack-case-studies_list-logo"
          src="/assets/images/jamstack/react-logo.png"
          alt="react"
          style="height: 46px; position: relative; top: -3px; margin-bottom: -6px;"
        />
        <p class="jamstack-case-studies_list-brand">
          React
        </p>
        <p class="jamstack-case-studies_list-description">
          React developers themselves decided to use JAMstack for the official website of the library. It lets their users get to know React, learn how to use it and find information quickly.
        </p>
      </div>
      <div class="jamstack-case-studies_list-option">
        <img
          class="jamstack-case-studies_list-logo"
          src="/assets/images/jamstack/airbnb-logo.png"
          alt="aibnb"
        />
        <p class="jamstack-case-studies_list-brand">
          Airbnb
        </p>
        <p class="jamstack-case-studies_list-description">
          Airbnb uses JAMstack for their two projects - Airbnb Engineering & Data Science and developers’ blog and a beautiful page where they share their brand font - Airbnb Cereal.
        </p>
      </div>
      <div class="jamstack-case-studies_list-option">
        <img
          class="jamstack-case-studies_list-logo"
          src="/assets/images/jamstack/braun-logo.png"
          alt="braun"
          style="position: relative; top: -4px;"
        />
        <p class="jamstack-case-studies_list-brand">
          Braun
        </p>
        <p class="jamstack-case-studies_list-description">
          The popular razors’ brand used Gatsby for one of their online stores, presenting their users the brand and the particular products.
        </p>
      </div>
      <div class="jamstack-case-studies_list-option">
        <img
          class="jamstack-case-studies_list-logo"
          src="/assets/images/jamstack/nike-logo.png"
          alt="nike"
        />
        <p class="jamstack-case-studies_list-brand">
          Nike
        </p>
        <p class="jamstack-case-studies_list-description">
          Nike decided on JAMstack for their Just Do It promotional website. They use the website to share inspirational stories about people achieving their dreams.
        </p>
      </div>
      <div class="jamstack-case-studies_list-option">
        <img
          class="jamstack-case-studies_list-logo"
          src="/assets/images/jamstack/impossible-logo.png"
          alt="impossible foods"
          style="position: relative; top: 5px; height: 28px; margin-bottom: 12px;"
        />
        <p class="jamstack-case-studies_list-brand">
          Impossible Foods
        </p>
        <p class="jamstack-case-studies_list-description">
          Among the JAMstack advocates, you will also find Impossible Foods - an insanely popular American brand that offers various meatless meat products.
        </p>
      </div>
    </div>
  </div>
</section>
