<section class="section extra-narrow strength">
  <div class="section_content">
    <div class="section_presentation">
      <div class="image">
        <a href="https://docsend.com/view/s3ps3eq" target="_blank">
          <img src="/assets/images/presentation-cover.png" alt="company presentation cover">
        </a>
      </div>
      <div class="description">
        <h3>
          <a href="https://docsend.com/view/s3ps3eq" class="text-secondary" target="_blank">
            Check out our Company Presentation
          </a>
        </h3>
        <p class="paragraph">
          <small>See our rates and cooperation details</small>
        </p>
      </div>
    </div>
  </div>
</section>
