<section
  id="07"
  class="section jamstack-faq"
  itemscope
  itemtype="https://schema.org/FAQPage"
>
  <div class="section_name">
    <span class="section_name-number">
      07
    </span>
    FAQ
  </div>
  <div class="jamstack-faq_container">
    <div class="jamstack-faq_container-left">
      How can JAMstack help my business grow?
    </div>
    <div class="jamstack-faq_container-right" data-process-accordion>
      <div
        class="jamstack-faq_element"
        data-accordion-item
        itemscope
        itemprop="mainEntity"
        itemtype="https://schema.org/Question"
      >
        <input type="checkbox" id="faqJamstack" name="faqJamstack" autocomplete="off" data-accordion-check>
        <label id="faqJamstackBox" for="faqJamstack" class="accordion-item borderless">
          <span class="accordion_number">01</span>
          <p class="accordion_position" itemprop="name">
            Is JAMstack a Wordpress alternative?
          </p>
        </label>
        <div
          class="accordion_content"
          data-accordion-content
          itemscope
          itemprop="acceptedAnswer"
          itemtype="https://schema.org/Answer"
        >
          <div itemprop="text">
            JAMstack is in contrast to the traditional workflow that relies on monolithic CMSes like Wordpress or Drupal. By ditching the database, plugins and hosting maintenance, it can reduce operational and development costs.
          </div>
        </div>
        <img src="/assets/images/arrow-orange.png" />
      </div>
      <div
        class="jamstack-faq_element"
        data-accordion-item
        itemscope
        itemprop="mainEntity"
        itemtype="https://schema.org/Question"
      >
        <input type="checkbox" id="faqGenerator" name="faqGenerator" autocomplete="off" data-accordion-check>
        <label id="faqGeneratorBox" for="faqGenerator" class="accordion-item">
          <span class="accordion_number">02</span>
          <p class="accordion_position" itemprop="name">
            What is a static site generator?
          </p>
        </label>
        <div
          class="accordion_content"
          data-accordion-content
          itemscope
          itemprop="acceptedAnswer"
          itemtype="https://schema.org/Answer"
        >
          <div itemprop="text">
            A static site generator (SSG) is a tool that builds static pages out of the content you provide. It applies a selected template on it and generates a ready-to-use HTML website.
          </div>
        </div>
        <img src="/assets/images/arrow-orange.png" />
      </div>
      <div
        class="jamstack-faq_element"
        data-accordion-item
        itemscope
        itemprop="mainEntity"
        itemtype="https://schema.org/Question"
      >
        <input type="checkbox" id="faqCMS" name="faqCMS" autocomplete="off" data-accordion-check>
        <label id="faqCMSBox" for="faqCMS" class="accordion-item">
          <span class="accordion_number">03</span>
          <p class="accordion_position" itemprop="name">
            What is a headless CMS?
          </p>
        </label>
        <div
          class="accordion_content"
          data-accordion-content
          itemscope
          itemprop="acceptedAnswer"
          itemtype="https://schema.org/Answer"
        >
          <div itemprop="text">
            In contrast to traditional CMSes, which are hosted and served each time the request is made, the content in a headless CMS is decoupled. Therefore, it exists as a separate component and can be easily reused.
          </div>
        </div>
        <img src="/assets/images/arrow-orange.png" />
      </div>
      <div
        class="jamstack-faq_element"
        data-accordion-item
        itemscope
        itemprop="mainEntity"
        itemtype="https://schema.org/Question"
      >
        <input type="checkbox" id="faqServices" name="faqServices" autocomplete="off" data-accordion-check>
        <label id="faqServicesBox" for="faqServices" class="accordion-item">
          <span class="accordion_number">04</span>
          <p class="accordion_position" itemprop="name">
            What other services do you offer?
          </p>
        </label>
        <div
          class="accordion_content"
          data-accordion-content
          itemscope
          itemprop="acceptedAnswer"
          itemtype="https://schema.org/Answer"
        >
          <div itemprop="text">
            We specialize in software development, web development, Machine Learning, Internet of Things, e-commerce development, Shopify development & integrations.
          </div>
        </div>
        <img src="/assets/images/arrow-orange.png" />
      </div>
      <div
        class="jamstack-faq_element"
        data-accordion-item
        itemscope
        itemprop="mainEntity"
        itemtype="https://schema.org/Question"
      >
        <input type="checkbox" id="faqMethods" name="faqMethods" autocomplete="off" data-accordion-check>
        <label id="faqMethodsBox" for="faqMethods" class="accordion-item">
          <span class="accordion_number">05</span>
          <p class="accordion_position" itemprop="name">
            What's your working methodology?
          </p>
        </label>
        <div
          class="accordion_content"
          data-accordion-content
          itemscope
          itemprop="acceptedAnswer"
          itemtype="https://schema.org/Answer"
        >
          <div itemprop="text">
            We use two Agile implementation models: Scrum and Kanban. We use Scrum for projects created from scratch and Kanban for already existing projects with bugs & feature requests. We sort of have our own “Scrumban” implementation model that suits us best.
          </div>
        </div>
        <img src="/assets/images/arrow-orange.png" />
      </div>
      <div
        class="jamstack-faq_element"
        data-accordion-item
        itemscope
        itemprop="mainEntity"
        itemtype="https://schema.org/Question"
      >
        <input type="checkbox" id="faqModel" name="faqModel" autocomplete="off" data-accordion-check>
        <label id="faqModelBox" for="faqModel" class="accordion-item">
          <span class="accordion_number">06</span>
          <p class="accordion_position" itemprop="name">
            What's your preferred business model?
          </p>
        </label>
        <div
          class="accordion_content"
          data-accordion-content
          itemscope
          itemprop="acceptedAnswer"
          itemtype="https://schema.org/Answer"
        >
          <div itemprop="text">
            We’re flexible and we cooperate in two settlement models: Time and Material, which is based on the number of working hours, and Fixed Price, where we guarantee the delivery of the product at a fixed rate.
          </div>
        </div>
        <img src="/assets/images/arrow-orange.png" />
      </div>
      <div
        class="jamstack-faq_element"
        data-accordion-item
        itemscope
        itemprop="mainEntity"
        itemtype="https://schema.org/Question"
      >
        <input type="checkbox" id="faqStart" name="faqStart" autocomplete="off" data-accordion-check>
        <label id="faqStartBox" for="faqStart" class="accordion-item">
          <span class="accordion_number">07</span>
          <p class="accordion_position" itemprop="name">
            When can you start working on my project?
          </p>
        </label>
        <div
          class="accordion_content"
          data-accordion-content
          itemscope
          itemprop="acceptedAnswer"
          itemtype="https://schema.org/Answer"
        >
          <div itemprop="text">
            Our accessibility ranges from “right away” to 6-8 weeks, depending on our teams’ work status.
          </div>
        </div>
        <img src="/assets/images/arrow-orange.png" />
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  $('[data-process-accordion]').on('change', '[data-accordion-check]', function() {
    const $parent = $(this).parent();
    const contentHeight = $parent.children('[data-accordion-content]').height();
    const contentPadding = parseInt($parent.children('[data-accordion-content]').css('padding-bottom'), 10)
    const contentHeightWithPadding = contentHeight + contentPadding;

    if ($(this).is(':checked')) {
      $parent.addClass('opened')
            .animate({ 'padding-bottom' : contentHeightWithPadding }, 300)
            .siblings('[data-accordion-item]').removeClass('opened')
                                              .animate({ 'padding-bottom' : 1 }, 300)
                                              .children('[data-accordion-check]').prop('checked', false);
    } else {
      $parent.removeClass('opened')
            .animate({ 'padding-bottom' : 1 }, 300);
    }
  });
</script>
