<section class="jamstack-footer">
  <div class="geometric-wrapper">
    <figure class="geometric-figure">
      <div class="geometric-figure_center"></div>
      <div class="geometric-figure_right"></div>
    </figure>
    <p>
      Looking
      <br>
      for other services?
    </p>
  </div>
  <div class="jamstack-footer_link paragraph">
    <p>Previous</p>
    <a class="text-secondary" href="#">
      Mobile development
    </a>
  </div>
  <div class="jamstack-footer_link paragraph">
    <p>Next</p>
    <a class="text-secondary" href="#">
      Web development
    </a>
  </div>
</section>
