<section id="00" class="hero">
    <span class="hero_background-text">
      JAMstack
    </span>
    <div class="hero_box">
      <h1 class="hero_box-heading">
        JAMstack development <strong>for incredibly fast websites</strong>
      </h1>
      <p class="hero_text">
        <strong>You need a website that's both fast and secure.</strong>
      </p>
      <p class="hero_text hero_text-second">
        Our JAMstack developers will help you build a website or e-commerce store using<br>modern technology that gives an SEO advantage and great user experience.
      </p>
      <div class="hero_box-footer">
        <a href="/get-an-estimate" class="btn btn-primary btn-arrow">
          GET AN ESTIMATE
          <img src="/assets/images/btn-arrow.png" alt="arrow">
        </a>
      </div>
    </div>
  </section>
  