<section id="05" class="section jamstack-process">
  <div class="section_name">
    <span class="section_name-number">
      05
    </span>
    Process
  </div>
  <div class="jamstack-process_container">
    <div class="jamstack-process_header">
      <figure class="geometric-figure">
        <div class="geometric-figure_left"></div>
        <div class="geometric-figure_center"></div>
      </figure>
      <p>
        Develop your product
        <br>
        fast and stress-free
      </p>
      <div>
        <p>At Naturaily, we use the combination of Scrum and Kanban frameworks to deliver digital products that generate value to companies and users.</p>
        <p>Our agile development teams aim to take your project to market in the shortest time possible - testing, iterating and, ultimately, developing a scalable product.</p>
      </div>
    </div>
    <div class="jamstack-process_list">
      <p class="jamstack-process_list-title">Our specialists will take good care of you</p>
      <ul>
        <li>
          <p>01</p>
          <p>Product Owner<br>/The Client</p>
          <p>The business owner addresses the priorities, as well as expresses the needs and problems.</p>
        </li>
        <li>
          <p>02</p>
          <p>Project<br>Manager</p>
          <p>This person keeps everything on track: projects, tasks, budget, time and even developers.<br>They
            will be your first contact on an everyday basis, asking you questions, arranging meetings and presenting
            the project’s progress.</p>
        </li>
        <li>
          <p>03</p>
          <p>Development<br>Team</p>
          <p>Software developers, QA specialists and any other experts that may be needed.<br>They will deliver
            functionalities, develop the system and test it, all while cooperating with the PM and the design team.</p>
        </li>
        <li>
          <p>04</p>
          <p>Design<br>Team</p>
          <p>UX and UI specialists will plan your product’s architecture, flow and illustrations, as well as
            create beautiful interfaces for your users.</p>
        </li>
      </ul>
    </div>
    <div class="jamstack-process_list">
      <p class="jamstack-process_list-title">You will be up to date with our proven work and communication “Scrumban” process</p>
      <ul>
        <li>
          <p>01</p>
          <p>Sprint</p>
          <p>The Scrum element of our process. Usually, we work in 2-week sprints. Each sprint has a goal
            to deliver some piece of functionality at the end of the iteration. When the development work
            is over for the sprint, the team spends together approximately 2 hours on planning the next steps.</p>
        </li>
        <li>
          <p>02</p>
          <p>Kanban</p>
          <p>The Kanban board always reflects the current state of the development process. From To-Do
            to On Stage, developers are responsible for managing their tasks. After the branch is merged
            to development, it is the responsibility of the QA and PM to see if everything works as it should,
            as well as schedule and confirm deployment on the production environment.</p>
        </li>
        <li>
          <p>03</p>
          <p>Slack</p>
          <p>If any obstacles appear, or some requirements need to be precise, we will immediately alert you about
            it on the Slack channel. This is also where information about the current state of the project
            is shared among the team members.</p>
        </li>
      </ul>
    </div>
  </div>
</section>
