<section id="06" class="section jamstack-services">
  <div class="section_name">
    <span class="section_name-number">
      06
    </span>
    Services
  </div>
  <div class="jamstack-services_container">
    <div>
      <p class="jamstack-services_header">
        Bring your business to the web
        <br>
        with our end-to-end services
      </p>
      <p class="jamstack-services_description">
        Naturaily is a full-service team of experts, bringing our clients the business, creative and technical skills they need to succeed. We will help you get to users in every aspect - from ideation, evaluation and design to the promotion itself.
      </p>
    </div>
    <div class="jamstack-services_options">
      <div class="jamstack-services_option">
        <span class="icon icon-listening text-primary"></span>
        <p class="jamstack-services_option-header">Consulting</p>
        <p class="jamstack-services_option-content">Evaluate and plan your product features with data-based methods to accomplish your business goals.</p>
      </div>
      <div class="jamstack-services_option">
        <span class="icon icon-pencil text-primary"></span>
        <p class="jamstack-services_option-header">Product design</p>
        <p class="jamstack-services_option-content">Win over your customers with delightful user experience. Guide them on a path to quick conversion with beautiful and intuitive interfaces.</p>
      </div>
      <div class="jamstack-services_option">
        <span class="icon icon-gear text-primary"></span>
        <p class="jamstack-services_option-header">Development</p>
        <p class="jamstack-services_option-content">Create fast and secure web products tailored exactly to your business needs.</p>
      </div>
      <div class="jamstack-services_option">
        <span class="icon icon-machine text-primary"></span>
        <p class="jamstack-services_option-header">Support</p>
        <p class="jamstack-services_option-content">Take care of the continuous quality of your product with our DevOps, QA and maintenance services.</p>
      </div>
      <div class="jamstack-services_option">
        <span class="icon icon-profit-chart text-primary"></span>
        <p class="jamstack-services_option-header">Content marketing</p>
        <p class="jamstack-services_option-content">Drive traffic to your website and rank high in search results with snappy and SEO-optimized content.</p>
      </div>
    </div>
    <a class="jamstack-services_options-link" href="/get-an-estimate">
      SEE WHAT WE CAN DO FOR YOUR BUSINESS
      <img src="/assets/images/arrow-orange.png" alt="arrow"/>
    </a>
  </div>
</section>
