<section id="04" class="section jamstack-testimonials">
  <div class="section_name">
    <span class="section_name-number">
      04
    </span>
    Testimonials
  </div>
  <div class="jamstack-testimonials_container">
    <p class="jamstack-testimonials_header">
      We've worked with these brands
    </p>
    <div class="jamstack-testimonials_companies">
      <div class="jamstack-testimonials_company">
        <img
          class="jamstack-testimonials_company-image"
          src="/assets/images/jamstack/renderforest.png"
          alt="renderforest"
        />
      </div>
      <div class="jamstack-testimonials_company">
        <img
          class="jamstack-testimonials_company-image"
          src="/assets/images/jamstack/slack.png"
          alt="slack"
        />
      </div>
      <div class="jamstack-testimonials_company">
        <img
          class="jamstack-testimonials_company-image"
          src="/assets/images/jamstack/amazon.png"
          alt="amazon"
        />
      </div>
      <div class="jamstack-testimonials_company">
        <img
          class="jamstack-testimonials_company-image"
          src="/assets/images/jamstack/fedex.png"
          alt="fedex"
        />
      </div>
      <div class="jamstack-testimonials_company">
        <img
          class="jamstack-testimonials_company-image"
          src="/assets/images/jamstack/redux.png"
          alt="redux"
        />
      </div>
      <div class="jamstack-testimonials_company">
        <img
          class="jamstack-testimonials_company-image"
          src="/assets/images/jamstack/lazada.png"
          alt="lazada"
        />
      </div>
    </div>
  </div>
  
  <div class="jamstack-carousel">
    {% include jamstack/carousel.html %}
  </div>

  <a
    href="https://clutch.co/profile/naturaily"
    target="_blank"
  >
    <img src="/assets/images/jamstack/clutch.png" alt="clutch" />
      SEE OUR REVIEWS ON CLUTCH
      <img src="/assets/images/arrow-orange.png" alt="arrow" />
  </a>
</section>
