<figure class="video-box jamstack-video">
  <iframe
    width=""
    height=""
    src="https://www.youtube.com/embed/Gbt_i-Ph6_A"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <figcaption class="video-box_caption">
    <p class="video-box_caption-description">
      <span>Learn more </span>
      about
      <br>
      how we work and check our rates!
    </p>
    <a
      class="video-box_caption-link text-secondary"
      href="https://www.youtube.com/channel/UCdXHwyQVYHL3TD3r6AzK5RQ"
      target="_blank"
    >
      See our rates and cooperation details
      <img src="/assets/images/arrow-orange.png" alt="arrow">
    </a>
  </figcaption>
</figure>
