$footer-figure-lg: 71px;
$footer-figure-sm: 50px;

.jamstack-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 150px;
  padding: 0 100px 55px;
  border-bottom: 1px solid $color-nav-border;

  &_link {
    padding: 0 30px;

    p {
      color: $color-global-font;
      font-size: 14px;
      line-height: 24px;
    }

    a {
      font-size: 24px;
      line-height: 36px;
    }
  }

  .geometric {

    &-wrapper {
      display: flex;

      p {
        font-size: 36px;
        line-height: 50px;
      }
    }

    &-figure {
      position: relative;
      align-items: center;
      margin-right: 75px;

      &_center {
        width: $footer-figure-lg;
        height: $footer-figure-lg;
      }

      &_right {
        width: $footer-figure-lg / 2;
        height: $footer-figure-lg;

        &::after {
          width: $footer-figure-lg;
          height: $footer-figure-lg;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .jamstack-footer {
    flex-wrap: wrap;
    justify-content: flex-start;

    .geometric {
      &-wrapper {
        width: 100%;
        margin-bottom: 40px;
      }

      &-figure {
        margin-right: 45px;
      }
    }

    &_link {
      padding: 0;
      padding-right: 40px;
    }
  }
}

@media (max-width: 810px) {
  .jamstack-footer {
    max-width: calc(100% - 15px);
    margin: 50px 5px 0 10px;
    padding: 40px 5px 50px 10px;
  }
}

@media (max-width: 576px) {
  .jamstack-footer {
    .geometric {
      &-wrapper {
        flex-direction: column;
      }

      &-figure {
        &_center {
          width: $footer-figure-sm;
          height: $footer-figure-sm;
        }

        &_right {
          width: $footer-figure-sm / 2;
          height: $footer-figure-sm;

          &::after {
            width: $footer-figure-sm;
            height: $footer-figure-sm;
          }
        }
      }
    }
  }
}
