.jamstack-faq {
    padding-left: 160px;
    padding-right: 100px;
    flex-wrap: wrap;
    box-sizing: border-box;
    position: relative;
    flex-direction: column;
    background-color: #FFF7F1;
    margin-bottom: 130px;

    input[type="checkbox"] {
        display: none;
    }

    &-container {
        display: flex;
        padding-left: 45px;
        &-left {
            flex: 3;
            line-height: 50px;
            font-size: 36px;
            padding-top: 20px;
        }
        &-right {
            flex: 7;
        }
    }

    &-element {
        display: flex;
        position: relative;
        overflow: hidden;

        flex-direction: column;

        &.opened img {
            transform: rotate(-90deg);
        }

        &-text {
            display: flex;
            flex-direction: column;

            > p:first-child {
                position: relative;
                background: white;
                z-index: 0;
            }

            > p:nth-child(2) {
                position: absolute;
                bottom: 0;
                z-index: -1;
            }
        }

        > img {
            position: absolute;
            right: 0;
            bottom: 20px;
            height: 10px;
            transform: rotate(90deg);
            z-index: 1;
        }
    }
    .accordion_number {
        padding: 0 50px;
    }
    .accordion-item {
        border-top: 1px solid rgba(61, 35, 16, 0.23);
        border-bottom: none;
        &.borderless {
            border-top: none;
        }
    }
    .accordion_position {
        color: #3B220F;
    }
    .accordion_content {
        margin-left: 0;
        color: #3B220F;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 25px;
    }
}

@media (max-width: 810px) {
    .jamstack-faq {
        max-width: calc(100% - 15px);
        margin: 0 5px 0 10px;
        padding: 40px 5px 50px 10px;
    }
}