.jamstack-testimonials {
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 160px;
  padding-right: 100px;
  box-sizing: border-box;

  &_container {
    padding: 0 45px;
  }

  &_header {
    margin-bottom: 60px;
    font-size: 36px;
    line-height: 50px;
    font-weight: 200;
  }

  &_companies {
    display: flex;
    height: 80px;
  }

  &_company {
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px solid $color-nav-border;
    border-right: none;

    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-right: 1px solid $color-nav-border;
    }
  }

  a {
    display: flex;
    align-items: flex-end;
    color: $color-secondary;
    font-size: 11px;
    text-decoration: none;

    > img {
      &:first-child {
        height: 18px;
        margin-right: 26px;
      }

      &:last-child {
        height: 11px;
        margin-left: 23px;
      }
    }
  }
}

@media (max-width: 810px) {
  .jamstack-testimonials {
    max-width: calc(100% - 15px);
    margin: 0 5px 0 10px;
    padding: 40px 5px 50px 10px;

    &_container {
      padding: 0 25px;
    }
  }
}

@media (max-width: 576px) {
  .jamstack-testimonials {

    &_header {
      margin-bottom: 30px;
    }

    &_companies {
      flex-direction: column;
      height: auto;
    }

    &_company {
      flex: initial;
      height: 55px;
      border: 1px solid $color-nav-border;
      border-bottom: 0;
      border-radius: 0;

      &:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      &:last-child {
        border-bottom: 1px solid $color-nav-border;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
}
