<section class="webdevelopment-artinfo">
  <div class="webdevelopment-artinfo_image">
    <img src="/assets/images/webdevelopment/artinfo.png" />
  </div>
  <div class="webdevelopment-artinfo_textbox">
    <div class="webdevelopment-artinfo_left">
      <p class="webdevelopment-artinfo_header">
        <span>Artinfo is a market leader</span>
        and a trusted institution, so we work only with the best
      </p>
      <div class="webdevelopment-artinfo_person">
        <p>Rafał Kamecki</p>
        <p>Artinfo founder</p>
      </div>
    </div>
    <div class="webdevelopment-artinfo_right">
      <p>
        I was looking for a reputable company at a high level of technological advancement. 
        The project was demanding, and I need to be sure that my partner has enough resources, 
        knowledge, and experience to deal with something of this magnitude. I chose Naturaily 
        because they are professionals, and I am satisfied with this cooperation.
      </p>
      <p>
        Opinions of Artinfo users are very positive, which is why I can safely say that we have succeeded.
      </p>
    </div>
  </div>
</section>
