<section class="webdevelopment-benefits">
  <img
    class="webdevelopment-benefits_image"
    src="/assets/images/webdevelopment/benefits.png"
  />
  <div class="webdevelopment-benefits_header">
    <p class="section_name">Benefits</p>
    <p>
      The right development company gives you the right results
    </p>
    <p>
      Maximize the potential of your idea with custom-build, innovative and scalable solutions.
    </p>
  </div>
  <ul class="webdevelopment-benefits_table">
    <li class="webdevelopment-benefits_item">
      <div class="webdevelopment-benefits_item-header">
        <p>01</p>
        <p>Translate your idea to a market-winning product</p>
      </div>
      <p>Use the right technology to develop an app your customers will love.</p>
    </li>
    <li class="webdevelopment-benefits_item">
      <div class="webdevelopment-benefits_item-header">
        <p>02</p>
        <p>Stand out in the crowd</p>
      </div>
      <p>Respond to your audience’s needs, stand out in the digital market and attract new users to your product.</p>
    </li>
    <li class="webdevelopment-benefits_item">
      <div class="webdevelopment-benefits_item-header">
        <p>03</p>
        <p>Build a secure and stable solution</p>
      </div>
      <p>Make sure that your app respects your users’ privacy - we guarantee all your data will be secured and not available for any third parties</p>
    </li>
    <li class="webdevelopment-benefits_item">
      <div class="webdevelopment-benefits_item-header">
        <p>04</p>
        <p>Grow your app in the future</p>
      </div>
      <p>We know which solutions enable you to build a scalable web app, that will be ready for adding new features in the future.</p>
    </li>
    <li class="webdevelopment-benefits_item">
      <div class="webdevelopment-benefits_item-header">
        <p>05</p>
        <p>Attract new users</p>
      </div>
      <p>Build an innovative product that will be responsive to your users’ needs.</p>
    </li>
    <li class="webdevelopment-benefits_item">
      <div class="webdevelopment-benefits_item-header">
        <p>06</p>
        <p>A tailor-made solution</p>
      </div>
      <p>No matter what your product is, our developers will find custom solutions that suit your requirements best.</p>
    </li>
  </ul>
</section>
