<section class="webdevelopment-custom">
  <div class="webdevelopment-custom_container">
    <p class="webdevelopment-custom_header">
      Custom Web
      <br>Development Services
    </p>
    <p class="webdevelopment-custom_text">
      Bringing your business to the digital market with battle-tested modern development 
      tools. With a proven process and commitment to the highest quality, we deliver stable, 
      scalable and beautiful web products that will enable you to achieve your goals.
    </p>
    <a class="btn btn-primary btn-arrow" href="/get-an-estimate">
      GET AN ESTIMATE
      <img src="/assets/images/btn-arrow.png" alt="arrow"/>
    </a>
  </div>
  <div class="webdevelopment-custom_image">
    <img src="/assets/images/webdevelopment/custom.png" alt="custom" />
  </div>
</section>
