<section class="webdevelopment-footer">
  <div class="webdevelopment-footer-block">
    <figure class="geometric-figure">
      <div class="geometric-figure_center"></div>
      <div class="geometric-figure_right"></div>
    </figure>
    <p class="webdevelopment-footer-main">Looking<br>for other services?</p>
  </div>
  <div class="webdevelopment-footer-block">
    <div class="webdevelopment-footer-redirect">
      <p class="webdevelopment-footer-redirect-text">Previous</p>
      <a href="/" class="webdevelopment-footer-redirect-link">Product Design</a>
    </div>
    <div class="webdevelopment-footer-redirect">
      <p class="webdevelopment-footer-redirect-text">Next</p class="webdevelopment-footer-redirect-text">
      <a href="/" class="webdevelopment-footer-redirect-link">Consulting</a>
    </div>
  </div>
</section>
