<section class="webdevelopment-overview">
  <p class="section_name">Overview</p>
  <p class="webdevelopment-overview_head">
    Develop your business
    <br>with <span>tailored web development services</span>
  </p>
  <img src="/assets/images/webdevelopment/overview.png"/>
  <div class="webdevelopment-overview_container">
    <p>
      Whether you are about to build your future product from scratch or upgrade 
      an existing one, releasing a successful digital product is always quite a 
      challenge. You need to get to know your users best to answer their needs, 
      design an exceptional user experience, 
    </p>
    <p>
      apply the right technology set and create a stable product that will win 
      the market. And, first of all, you need to choose a solid tech partner.
    </p>
  </div>
</section>
