<section class="webdevelopment-services">
  <h2 class="webdevelopment-services_header">Web Development Services</h2>
  <ul class="webdevelopment-services_container">
    <li class="webdevelopment-services_item">
      <div class="webdevelopment-services_textbox">
        <p class="section_name">Web Development Projects</p>
        <h3 class="webdevelopment-services_title">Ruby on Rails</h3>
        <p class="webdevelopment-services_description">
          Ruby on Rails is one of the most mature web development languages on the market
        </p>
        <p class="webdevelopment-services_details">
          It allows web applications and websites to be built as fast as possible, which 
          makes it a perfect technology for prototyping and startup projects.
        </p>
        <a
          class="webdevelopment-services_link"
          href="/services/ruby-on-rails-development"
        >
          READ MORE
          <img
            class="webdevelopment-services_arrow"
            src="/assets/images/arrow-orange.png"
            alt="arrow"
          >
        </a>
      </div>
      <div class="webdevelopment-services_image">
        <img
          src="/assets/images/webdevelopment/services-ror.png"
        />
      </div>
    </li>
    <li class="webdevelopment-services_item reverse">
      <div class="webdevelopment-services_textbox">
        <p class="section_name">Web Development Projects</p>
        <h3 class="webdevelopment-services_title">React.js</h3>
        <p class="webdevelopment-services_description">
          React was released by the tech giant Facebook in 2013 and has become one 
          of the most popular web development frameworks in history.
        </p>
        <p class="webdevelopment-services_details">
          It enables developers to build interactive apps with great performances 
          that create native-like experiences for their users.
        </p>
        <a
          class="webdevelopment-services_link"
          href="/project/artinfo"
        >
          READ MORE
          <img
            class="webdevelopment-services_arrow"
            src="/assets/images/arrow-orange.png"
            alt="arrow"
          >
        </a>
      </div>
      <div class="webdevelopment-services_image">
        <img
          src="/assets/images/webdevelopment/services-react.png"
        />
      </div>
    </li>
    <li class="webdevelopment-services_item">
      <div class="webdevelopment-services_textbox">
        <p class="section_name">Web Development Projects</p>
        <h3 class="webdevelopment-services_title">Nodejs</h3>
        <p class="webdevelopment-services_description">
          Node.js is a powerful backend framework that lets you build server-side 
          applications in JavaScript.
        </p>
        <p class="webdevelopment-services_details">
          Its event-driven architecture makes it perfect for projects that require high 
          performance, scalability and fast development.
        </p>
        <a
          class="webdevelopment-services_link"
          href="/project/artinfo"
        >
          READ MORE
          <img
            class="webdevelopment-services_arrow"
            src="/assets/images/arrow-orange.png"
            alt="arrow"
          >
        </a>
      </div>
      <div class="webdevelopment-services_image">
        <img
          src="/assets/images/webdevelopment/services-node.jpg"
        />
      </div>
    </li>
    <li class="webdevelopment-services_item reverse">
      <div class="webdevelopment-services_textbox">
        <p class="section_name">Web Development Projects</p>
        <h3 class="webdevelopment-services_title">Vue.js</h3>
        <p class="webdevelopment-services_description">
          Vue.js is a JavaScript progressive web development framework that is known for 
          its ability to create fast and reliable web apps quickly, thanks to its rich ecosystem.
        </p>
        <p class="webdevelopment-services_details">
          Vue is also the perfect choice when you want your app to scale easily, as well as 
          integrate it with other libraries - like Rails - and build more advanced Single Page 
          Applications.
        </p>
        <a
          class="webdevelopment-services_link"
          href="/project/artinfo"
        >
          READ MORE
          <img
            class="webdevelopment-services_arrow"
            src="/assets/images/arrow-orange.png"
            alt="arrow"
          >
        </a>
      </div>
      <div class="webdevelopment-services_image">
        <img
          src="/assets/images/webdevelopment/services-vue.png"
        />
      </div>
    </li>
  </ul>
</section>
