<section class="webdevelopment-stats">
  <div class="webdevelopment-stats_data">
    <ul class="webdevelopment-stats_list">
      <li class="webdevelopment-stats_item">
        <span>+75k</span>
        unique users a month
      </li>
      <li class="webdevelopment-stats_item">
        <span>+16k</span>
        registered users
      </li>
      <li class="webdevelopment-stats_item">
        <span>+30k</span>
        registered artists
      </li>
    </ul>
    <a
      class="webdevelopment-stats_link"
      href="/project/artinfo"
    >
      CHECK CASE STUDY
      <img
        class="webdevelopment-stats_arrow"
        src="/assets/images/arrow-orange.png"
        alt="arrow"
      >
    </a>
  </div>
  <img class="webdevelopment-stats_image" src="/assets/images/webdevelopment/artinfo.png" />
</section>
