<section class="webdevelopment-stats">
  <div>
    <ul>
      <li>
        <span>+75k</span>
        unique users a month
      </li>
      <li>
        <span>+16k</span>
        registered users
      </li>
      <li>
        <span>+30k</span>
        registered artists
      </li>
    </ul>
    <a
      class="pwa-storefront_redirection-link"
    >
      READ MORE
      <img
        class="pwa-storefront_redirection-image"
        src="/assets/images/arrow-orange.png"
        alt="arrow"
      >
    </a>
  </div>
  <img src="/assets/images/webdevelopment/artinfo.png" />
</section>
