<section class="webdevelopment-testimonials">
  <div class="webdevelopment-testimonials_head">
    <p class="section_name">Testimonials</p>
    <p>
      Our partners about
      <span>Naturaily team</span>
    </p>
  </div>
  <div class="webdevelopment-testimonials_container">
    <div class="webdevelopment-testimonials_image">
      <img src="/assets/images/webdevelopment/testimonials.png" alt="Chris Lowsley image" />
    </div>
    <div class="webdevelopment-testimonials_textbox">
      <div class="webdevelopment-testimonials_left">
        <p class="webdevelopment-testimonials_header">
          <span>Artinfo is a market leader</span>
          and a trusted institution, so we work only with the best
        </p>
        <div class="webdevelopment-testimonials_person">
          <p>Rafał Kamecki</p>
          <p>Artinfo founder</p>
        </div>
      </div>
      <div class="webdevelopment-testimonials_right">
        <p>
          I was looking for a reputable company at a high level of technological advancement. 
          The project was demanding, and I need to be sure that my partner has enough resources, 
          knowledge, and experience to deal with something of this magnitude. I chose Naturaily 
          because they are professionals, and I am satisfied with this cooperation.
        </p>
        <p>
          Opinions of Artinfo users are very positive, which is why I can safely say that we have succeeded.
        </p>
      </div>
    </div>
  </div>
  <div class="webdevelopment-testimonials_footer">
    <div class="webdevelopment-testimonials_clutch">
      <div class="webdevelopment-testimonials_clutch-images">
        <img src="/assets/images/webdevelopment/twdc.svg" alt="Top web development company logo" />
        <img src="/assets/images/webdevelopment/clutch.png" alt="Clutch logo" />
      </div>
      <a
        class="webdevelopment-testimonials_link"
        href="https://clutch.co/profile/naturaily"
        target="_blank"
      >
        CHECK MORE REVIEWS ON CLUTCH
        <img
          class="webdevelopment-testimonials_arrow"
          src="/assets/images/arrow-orange.png"
          alt="arrow"
        >
      </a>
    </div>
    <div class="webdevelopment-testimonials_brands">
      <p class="webdevelopment-testimonials_brands_header">
        We've worked with these brands
      </p>
      <div class="webdevelopment-testimonials_brands_companies">
        <div class="webdevelopment-testimonials_brands_company">
          <img
            class="webdevelopment-testimonials_brands_company-image"
            src="/assets/images/jamstack/renderforest.png"
            alt="renderforest"
          />
        </div>
        <div class="webdevelopment-testimonials_brands_company">
          <img
            class="webdevelopment-testimonials_brands_company-image"
            src="/assets/images/jamstack/slack.png"
            alt="slack"
          />
        </div>
        <div class="webdevelopment-testimonials_brands_company">
          <img
            class="webdevelopment-testimonials_brands_company-image"
            src="/assets/images/jamstack/amazon.png"
            alt="amazon"
          />
        </div>
        <div class="webdevelopment-testimonials_brands_company">
          <img
            class="webdevelopment-testimonials_brands_company-image"
            src="/assets/images/jamstack/fedex.png"
            alt="fedex"
          />
        </div>
        <div class="webdevelopment-testimonials_brands_company">
          <img
            class="webdevelopment-testimonials_brands_company-image"
            src="/assets/images/jamstack/redux.png"
            alt="redux"
          />
        </div>
        <div class="webdevelopment-testimonials_brands_company">
          <img
            class="webdevelopment-testimonials_brands_company-image"
            src="/assets/images/jamstack/lazada.png"
            alt="lazada"
          />
        </div>
      </div>
    </div>
  </div>
</section>
