<section class="webdevelopment-testimonials">
  <div class="webdevelopment-testimonials_head">
    <p class="section_name">Testimonials</p>
    <p>
      Our partners about
      <span>Naturaily team</span>
    </p>
  </div>
  <div class="webdevelopment-testimonials_container">
    <div class="webdevelopment-testimonials_image">
      <img src="/assets/images/webdevelopment/testimonials.png" />
    </div>
    <div class="webdevelopment-testimonials_textbox">
      <div class="webdevelopment-testimonials_left">
        <p class="webdevelopment-testimonials_header">
          <span>Artinfo is a market leader</span>
          and a trusted institution, so we work only with the best
        </p>
        <div class="webdevelopment-testimonials_person">
          <p>Rafał Kamecki</p>
          <p>Artinfo founder</p>
        </div>
      </div>
      <div class="webdevelopment-testimonials_right">
        <p>
          I was looking for a reputable company at a high level of technological advancement. 
          The project was demanding, and I need to be sure that my partner has enough resources, 
          knowledge, and experience to deal with something of this magnitude. I chose Naturaily 
          because they are professionals, and I am satisfied with this cooperation.
        </p>
        <p>
          Opinions of Artinfo users are very positive, which is why I can safely say that we have succeeded.
        </p>
      </div>
    </div>
  </div>
</section>
