<section class="section webdevelopment-web-development">
  <picture class="webdevelopment-web-development_background-image">
    <source
      media="(max-width: 1440px)"
      srcset="/assets/images/webdevelopment/web-development-md.png"
    >
    <source
      media="(max-width: 1600px)"
      srcset="/assets/images/webdevelopment/web-development-lg.png"
    >
    <img src="/assets/images/webdevelopment/web-development-xl.png" alt="web development background">
  </picture>
  <div class="webdevelopment-web-development_container">
    <div class="webdevelopment-web-development_main">
      <div>
        <div class="section_name">
          Web Development Projects
        </div>
        <h3 class="webdevelopment-web-development_main-header">
          Digitizing the process of art auctions for Artinfo
        </h3>
      </div>
      <p class="webdevelopment-web-development_main-description">
        Artinfo provides users and auction houses with an
        <span>easy to use platform</span> that 
        <span>enables real-time bidding</span>.
      </p>
    </div>
    <div class="webdevelopment-web-development_more-wrapper">
      <p class="webdevelopment-web-development_more">
        It is also an amazing base of news and information about Europe’s art 
        market. With the art market evolving, Artinfo was seeking an opportunity 
        to expand and improve the service for their users. We decided to optimize 
        the purchase process, which used to be held via email or phone. 
      </p>
      <p class="webdevelopment-web-development_more">
        This resulted in an increased number of customers interested in buying art online.
      </p>
    </div>
  </div>
</section>
