<section id="05" class="section services-full">
  <picture class="services-full_background-image">
    <img src="/assets/images/services/cloud.png" alt="cloud background">
  </picture>
  <div class="services-full_container deeper">
    <div class="services-full_main">
      <div>
        <div class="section_name">
          <span class="section_name-number">
            05
          </span>
          Services
        </div>
        <h3 class="services-full_main-header">
          Cloud adoption
        </h3>
      </div>
      <p class="services-full_main-description">
        According to McKinsey,
        <br>
        <span class="text-secondary">cloud-computing adoption</span> investments
        <br>
        are expected to grow at more than
        <br>
        6-times the rate of general IT expenses.
        <br>
        The cloud-first approach has already
        <br>
        become today’s reality.
      </p>
    </div>
    <div class="services-full_more-wrapper">
      <p class="services-full_more">
        Cloud transformation can be a daunting task, especially for companies that have no or little knowledge about cloud solutions. That’s why we provide our clients with not only cloud migration & optimization services, but also cloud consulting and post-migration support.
      </p>
      <a class="services-full_link" href="#">
        READ MORE
        <img class="services-full_link-image" src="/assets/images/arrow-orange.png" alt="arrow"/>
      </a>
    </div>
  </div>
</section>
