<section id="01" class="section services-full">
  <picture class="services-full_background-image">
    <img src="/assets/images/services/consulting.png" alt="consulting background">
  </picture>
  <div class="services-full_container">
    <div class="services-full_main">
      <div>
        <div class="section_name">
          <span class="section_name-number">
            01
          </span>
          Services
        </div>
        <h3 class="services-full_main-header">
          Consulting
        </h3>
      </div>
      <p class="services-full_main-description">
        We are here to help you when you need
        <br>
        an outside, <span class="text-secondary">expert opinion regarding</span>
        <br>
        any software-related issue.
      </p>
    </div>
    <div class="services-full_more-wrapper">
      <p class="services-full_more">
        We can provide you with strategic consulting on different aspects of the software development process, Cloud adoption, IoT development and much more.
      </p>
      <a class="services-full_link" href="#">
        READ MORE
        <img class="services-full_link-image" src="/assets/images/arrow-orange.png" alt="arrow"/>
      </a>
    </div>
  </div>
  <div class="services-includes_wrapper">
    <div services-left class="services-includes">
      <div class="services-includes_header">
        Consulting
        <br>
        service include
      </div>
      <div class="services-includes_element">
        <span class="icon icon-binoculars"></span>
        <p class="services-includes_element-name">Discovery session</p>
        <a href="#" class="services-includes_element-link">
          LEARN MORE
          <img class="services-includes_element-link-image" src="/assets/images/arrow-orange.png" alt="arrow"/>
        </a>
      </div>
      <div class="services-includes_element">
        <span class="icon icon-delete_subnode"></span>
        <p class="services-includes_element-name">Audits</p>
        <a href="#" class="services-includes_element-link">
          LEARN MORE
          <img class="services-includes_element-link-image" src="/assets/images/arrow-orange.png" alt="arrow"/>
        </a>
      </div>
    </div>
  </div>
</section>
