<section id="06" class="section services-support">
  <div class="services-support_container">
    <div class="services-support_main">
      <div>
        <div class="section_name">
          <span class="section_name-number">
            06
          </span>
          Services
        </div>
        <h3 class="services-support_main-header">
          E-commerce development
        </h3>
      </div>
      <p class="services-support_main-description">
        Shopify remains the 3rd largest e-commerce platform in the world, with a market share of 18% and more than 500,000 websites using the platform.   We are more than proud that our team’s small part to play in this.
      </p>
    </div>
    <div class="services-support_more-wrapper">
      <p class="services-support_more">
        E-commerce is one of the fastest
        <br>
        -growing industries in the world. eMarketer estimates that global e-commerce sales
        <span class="text-secondary">
          will reach $4,927
          <br>
          trillion in 2021.
        </span>
      </p>
      <a class="services-support_link" href="#">
        READ MORE
        <img class="services-support_link-image" src="/assets/images/arrow-orange.png" alt="arrow"/>
      </a>
    </div>
    <img class="services-support_background-image" src="/assets/images/services/e-commerce.jpg" alt="e-commerce">
  </div>
</section>
