<section id="06" class="section section-right">
  <div class="services-right">
    <div class="services-right_container">
      <div class="services-right_main">
        <div>
          <div class="section_name">
            <span class="section_name-number">
              06
            </span>
            Services
          </div>
          <h3 class="services-right_main-header">
            E-commerce development
          </h3>
        </div>
        <p class="services-right_main-description">
          Shopify remains the 3rd largest e-commerce platform in the world, with a market share of 18% and more than 500,000 websites using the platform.   We are more than proud that our team’s small part to play in this.
        </p>
      </div>
      <div services-right class="services-right_more-wrapper">
        <p class="services-right_more">
          E-commerce is one of the fastest
          <br>
          -growing industries in the world. eMarketer estimates that global e-commerce sales
          <span class="text-secondary">
            will reach $4,927
            <br>
            trillion in 2021.
          </span>
        </p>
        <!-- <a class="services-right_link" href="#">
          READ MORE
          <img class="services-right_link-image" src="/assets/images/arrow-orange.png" alt="arrow"/>
        </a> -->
      </div>
      <img class="services-right_background-image" src="/assets/images/services/e-commerce.jpg" alt="e-commerce">
    </div>
  </div>
  <div class="services-includes_wrapper services-includes_wrapper--wrap">
    <div services-left class="services-includes">
      <div class="services-includes_header">
        E-commerce development services include
      </div>
      <div class="services-includes_element">
        <span class="icon icon-shopify"></span>
        <p class="services-includes_element-name">
          Shopify
          <br>
          development
        </p>
        <!-- <a href="#" class="services-includes_element-link">
          LEARN MORE
          <img class="services-includes_element-link-image" src="/assets/images/arrow-orange.png" alt="arrow"/>
        </a> -->
      </div>
      <div class="services-includes_element">
        <span class="icon icon-pwa"></span>
        <p class="services-includes_element-name">
          PWA/storefront
          <br>
          for Shopify
        </p>
        <!-- <a href="#" class="services-includes_element-link">
          LEARN MORE
          <img class="services-includes_element-link-image" src="/assets/images/arrow-orange.png" alt="arrow"/>
        </a> -->
      </div>
      <div class="services-includes_element">
        <span class="icon icon-e-commerce"></span>
        <p class="services-includes_element-name">
          Custom e-commerce
          <br>
          development
        </p>
        <!-- <a href="#" class="services-includes_element-link">
          LEARN MORE
          <img class="services-includes_element-link-image" src="/assets/images/arrow-orange.png" alt="arrow"/>
        </a> -->
      </div>
      <div class="services-includes_element">
        <span class="icon icon-marketplace"></span>
        <p class="services-includes_element-name">
          Marketplace
          <br>
          development
        </p>
        <!-- <a href="#" class="services-includes_element-link">
          LEARN MORE
          <img class="services-includes_element-link-image" src="/assets/images/arrow-orange.png" alt="arrow"/>
        </a> -->
      </div>
    </div>
  </div>
  <div class="services-stats services-stats--border services-stats--border-small services-stats--reverse">
    <div services-right class="services-stats_details">
      <div class="services-stats_header">
        We designed the custom external
        <br>
        software integrations for some
        <br>
        of the <span class="text-secondary">top e-commerce brands.</span>
      </div>
      <div class="services-stats_description">
        This included warehouse management system, loyalty system, product data management system, gift cards and many more.
      </div>
      <!-- <a
        class="services-stats_cta"
        href="#"
      >
        CHECK CASE STUDY
        <img class="services-stats_cta-arrow" src="/assets/images/arrow-orange.png" alt="arrow"/>
      </a> -->
    </div>
    <div services-left class="services-stats_image-wrapper services-stats_image-wrapper--e-commerce">
      <figure class="geometric-figure">
        <div class="geometric-figure_center"></div>
        <div class="geometric-figure_right"></div>
      </figure>
      <img class="services-stats_image" src="/assets/images/services/e-commerce.png" alt="">
    </div>
  </div>
</section>
