<section id="05" class="section estimate jamstack-estimate">
  <div class="section_content">
    <img class="image" src="/assets/images/sunny-suler.png" alt="">
  </div>
  <div class="section_desc">
    <div>
      <h2 class="section_heading">
        Are you looking
        <br>
        for
        <span class="text-secondary">a trusted partner</span>
        <br>
        that will help you create
        <br>
        a reliable digital product?
      </h2>
    </div>
    <div>
      <a href="/get-an-estimate" type="button" class="btn btn-primary btn-arrow">
        Get an estimate
        <img src="/assets/images/btn-arrow.png" alt="arrow">
      </a>
    </div>
  </div>
</section>
