<section id="07" class="section services-full">
  <picture class="services-full_background-image">
    <img src="/assets/images/services/iot.png" alt="iot background">
  </picture>
  <div class="services-full_container deeper">
    <div class="services-full_main">
      <div>
        <div class="section_name">
          <span class="section_name-number">
            07
          </span>
          Services
        </div>
        <h3 class="services-full_main-header">
          IoT development
        </h3>
      </div>
      <p class="services-full_main-description">
        The
        <span class="text-secondary">IoT revolution is happening</span>
        <br>
        right before our eyes and we
        <br>
        couldn’t be more excited about
        <br>
        being a part of it.
      </p>
    </div>
    <div class="services-full_more-wrapper">
      <p class="services-full_more">
        Our team has created an application monitoring and taking care of the local energy grid. The app detects problems with electricity networks even before they occur, helping to prevent major power outages. Isn’t it great?  If you are looking for a team that will help bring your idea into life, we are ready.
      </p>
      <a class="services-full_link" href="#">
        READ MORE
        <img class="services-full_link-image" src="/assets/images/arrow-orange.png" alt="arrow"/>
      </a>
    </div>
  </div>
  <div class="services-includes_wrapper">
    <div class="services-includes">
      <div class="services-includes_header">
        IoT-related
        <br>
        services include
      </div>
      <div class="services-includes_element">
        <span class="icon icon-hamburger"></span>
        <p class="services-includes_element-name">
          IoT
          <br>
          consulting
        </p>
        <a href="#" class="services-includes_element-link">
          LEARN MORE
          <img class="services-includes_element-link-image" src="/assets/images/arrow-orange.png" alt="arrow"/>
        </a>
      </div>
      <div class="services-includes_element">
        <span class="icon icon-hamburger"></span>
        <p class="services-includes_element-name">
          Product
          <br>
          design sprint
        </p>
        <a href="#" class="services-includes_element-link">
          LEARN MORE
          <img class="services-includes_element-link-image" src="/assets/images/arrow-orange.png" alt="arrow"/>
        </a>
      </div>
      <div class="services-includes_element">
        <span class="icon icon-hamburger"></span>
        <p class="services-includes_element-name">
          IoT software
          <br>
          development
        </p>
        <a href="#" class="services-includes_element-link">
          LEARN MORE
          <img class="services-includes_element-link-image" src="/assets/images/arrow-orange.png" alt="arrow"/>
        </a>
      </div>
    </div>
  </div>
  <div class="services-testimonials_container">
    <div class="services-testimonials services-testimonials--medium-image">
      <img class="services-testimonials_image" src="/assets/images/services/chris.jpg" alt="Chris Lowsley">
      <div class="services-testimonials_wrapper">
        <div class="services-testimonials_opinion">
          <p>
            Working with Naturaily has been a pleasure from the very beginning of the
            <br>
            project and throughout our continuous cooperation on the development of our
            <br>
            product suite. The Naturaily team has a vision as well as a dynamic approach
            <br>
            to getting the project completed.
            <br><br>
            They have showed EA Technology how good they are, achieving outcomes that
            <br>
            far exceeded the initial project scope. Nothing is too much trouble for them and
            <br>
            they are always willing to make things right.
          </p>
        </div>
        <div class="services-testimonials_footer">
          <div>
            <p class="paragraph has-dot">
              <span class="dot"></span>
              Chris Lowsley
            </p>
            <p class="paragraph">
              Director LV Solutions at EA Technology
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="services-stats">
    <div class="services-stats_details services-stats_details--top">
      <div class="services-stats_header">
        LV Cloud - IoT app
        <br>
        monitoring and taking care
        <br>
        of the local energy grid
      </div>
      <div class="services-stats_description">
        This included warehouse management system, loyalty system, product data management system, gift cards and many more.
      </div>
      <a
        class="services-stats_cta"
        href="#"
      >
        CHECK CASE STUDY
        <img class="services-stats_cta-arrow" src="/assets/images/arrow-orange.png" alt="arrow"/>
      </a>
    </div>
    <div class="services-stats_image-wrapper">
      <img class="services-stats_image" src="/assets/images/services/stats-lv.png" alt="">
    </div>
  </div>
</section>
