<section id="04" class="section section-right">
  <div class="services-right">
    <div class="services-right_container">
      <div class="services-right_main">
        <div>
          <div class="section_name">
            <span class="section_name-number">
              04
            </span>
            Services
          </div>
          <h3 class="services-right_main-header">
            Product Design
          </h3>
        </div>
        <p class="services-right_main-description">
          We start from understanding business’ and users’ needs, then we draw up an action plan and get to prototyping and development. When the product is tested, we show it to the world and wait for the feedback. Based on that, we can make the necessary changes and deliver a polished and profitable digital product.
        </p>
      </div>
      <div class="services-right_more-wrapper">
        <p class="services-right_more">
          <span class="text-secondary">Digital product creation</span>
          is a complex process that can be divided into four stages, in accordance with the Double Diamond methodology: discover, define, develop, deliver.
        </p>
        <a class="services-right_link" href="#">
          READ MORE
          <img class="services-right_link-image" src="/assets/images/arrow-orange.png" alt="arrow"/>
        </a>
      </div>
      <img class="services-right_background-image" src="/assets/images/services/design.jpg" alt="product-design">
    </div>
  </div>
  <div class="services-includes_wrapper">
    <div class="services-includes">
      <div class="services-includes_header">
        Product design
        <br>
        services include
      </div>
      <div class="services-includes_element services-includes_element--small-margin">
        <span class="icon icon-hamburger"></span>
        <p class="services-includes_element-name">
          Product
          <br>
          design sprint
        </p>
        <a href="#" class="services-includes_element-link">
          LEARN MORE
          <img class="services-includes_element-link-image" src="/assets/images/arrow-orange.png" alt="arrow"/>
        </a>
      </div>
      <div class="services-includes_element services-includes_element--small-margin">
        <span class="icon icon-hamburger"></span>
        <p class="services-includes_element-name">
          UX/UI
          <br>
          design
        </p>
        <a href="#" class="services-includes_element-link">
          LEARN MORE
          <img class="services-includes_element-link-image" src="/assets/images/arrow-orange.png" alt="arrow"/>
        </a>
      </div>
      <div class="services-includes_element services-includes_element--small-margin">
        <span class="icon icon-hamburger"></span>
        <p class="services-includes_element-name">
          Webwriting
          <br>
          & Content creation
        </p>
        <a href="#" class="services-includes_element-link">
          LEARN MORE
          <img class="services-includes_element-link-image" src="/assets/images/arrow-orange.png" alt="arrow"/>
        </a>
      </div>
      <div class="services-includes_element services-includes_element--small-margin">
        <span class="icon icon-hamburger"></span>
        <p class="services-includes_element-name">
          UX
          <br>
          review
        </p>
        <a href="#" class="services-includes_element-link">
          LEARN MORE
          <img class="services-includes_element-link-image" src="/assets/images/arrow-orange.png" alt="arrow"/>
        </a>
      </div>
    </div>
  </div>
  <div class="services-stats services-stats--border">
    <div class="services-stats_details">
      <div class="services-stats_header">
        We have always wanted
        <br>
        to be an <span class="text-secondary">innovative</span>
        <br>
        <span class="text-secondary">company</span>
      </div>
      <div class="services-stats_description services-stats_description--offset">
        stay the market leader and provide our clients with services at the highest level. Observing what is happening on world markets, we decided to create an application that will bring a new quality to the world of art auctions. We have focused on the design and functionalities equally  - Rafał Kamecki, Artinfo founder
      </div>
      <a
        class="services-stats_cta"
        href="#"
      >
        CHECK CASE STUDY
        <img class="services-stats_cta-arrow" src="/assets/images/arrow-orange.png" alt="arrow"/>
      </a>
    </div>
    <div class="services-stats_image-wrapper services-stats_image-wrapper--product-design">
      <figure class="geometric-figure">
        <div class="geometric-figure_left"></div>
        <div class="geometric-figure_center"></div>
      </figure>
      <img class="services-stats_image" src="/assets/images/services/product-design.png" alt="">
    </div>
  </div>
  <div class="services-testimonials_container">
    <div class="services-testimonials services-testimonials--medium-image">
      <img class="services-testimonials_image" src="/assets/images/services/defina.jpg" alt="Defina Kaczałko">
      <div class="services-testimonials_wrapper">
        <div class="services-testimonials_opinion">
          TBA PWAs aim to disrupt the mobile app paradigm by bridging
          <br>
          the web experience with native app functionality, by using
          <br>
          the latest browser technologies to meld the accessibility
          <br>
          of the web with the presence of the mobile app.
        </div>
        <div class="services-testimonials_footer">
          <div>
            <p class="paragraph has-dot">
              <span class="dot"></span>
              Defina Kaczałko
            </p>
            <p class="paragraph">
              VP, Research & Advisory at Eurobank
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
