<section id="04" class="section services-support">
  <div class="services-support_container">
    <div class="services-support_main">
      <div>
        <div class="section_name">
          <span class="section_name-number">
            04
          </span>
          Services
        </div>
        <h3 class="services-support_main-header">
          Product Design
        </h3>
      </div>
      <p class="services-support_main-description">
        We start from understanding business’ and users’ needs, then we draw up an action plan and get to prototyping and development. When the product is tested, we show it to the world and wait for the feedback. Based on that, we can make the necessary changes and deliver a polished and profitable digital product.
      </p>
    </div>
    <div class="services-support_more-wrapper">
      <p class="services-support_more">
        <span class="text-secondary">Digital product creation</span>
        is a complex process that can be divided into four stages, in accordance with the Double Diamond methodology: discover, define, develop, deliver.
      </p>
      <a class="services-support_link" href="#">
        READ MORE
        <img class="services-support_link-image" src="/assets/images/arrow-orange.png" alt="arrow"/>
      </a>
    </div>
    <img class="services-support_background-image" src="/assets/images/services/design.jpg" alt="product-design">
  </div>
</section>
