<section id="04" class="section section-right">
  <div class="services-right">
    <div class="services-right_container">
      <div class="services-right_main">
        <div>
          <div class="section_name">
            <span class="section_name-number">
              04
            </span>
            Services
          </div>
          <h3 class="services-right_main-header">
            Product Design
          </h3>
        </div>
        <p class="services-right_main-description">
          We start from understanding business’ and users’ needs, then we draw up an action plan and get to prototyping and development. When the product is tested, we show it to the world and wait for the feedback. Based on that, we can make the necessary changes and deliver a polished and profitable digital product.
        </p>
      </div>
      <div class="services-right_more-wrapper">
        <p class="services-right_more">
          <span class="text-secondary">Digital product creation</span>
          is a complex process that can be divided into four stages, in accordance with the Double Diamond methodology: discover, define, develop, deliver.
        </p>
        <a class="services-right_link" href="#">
          READ MORE
          <img class="services-right_link-image" src="/assets/images/arrow-orange.png" alt="arrow"/>
        </a>
      </div>
      <img class="services-right_background-image" src="/assets/images/services/design.jpg" alt="product-design">
    </div>
  </div>
  <div class="services-includes_wrapper">
    <div class="services-includes">
      <div class="services-includes_header">
        Product design
        <br>
        services include
      </div>
      <div class="services-includes_element services-includes_element--small-margin">
        <span class="icon icon-hamburger"></span>
        <p class="services-includes_element-name">
          Product
          <br>
          design sprint
        </p>
        <a href="#" class="services-includes_element-link">
          LEARN MORE
          <img class="services-includes_element-link-image" src="/assets/images/arrow-orange.png" alt="arrow"/>
        </a>
      </div>
      <div class="services-includes_element services-includes_element--small-margin">
        <span class="icon icon-hamburger"></span>
        <p class="services-includes_element-name">
          UX/UI
          <br>
          design
        </p>
        <a href="#" class="services-includes_element-link">
          LEARN MORE
          <img class="services-includes_element-link-image" src="/assets/images/arrow-orange.png" alt="arrow"/>
        </a>
      </div>
      <div class="services-includes_element services-includes_element--small-margin">
        <span class="icon icon-hamburger"></span>
        <p class="services-includes_element-name">
          Webwriting
          <br>
          & Content creation
        </p>
        <a href="#" class="services-includes_element-link">
          LEARN MORE
          <img class="services-includes_element-link-image" src="/assets/images/arrow-orange.png" alt="arrow"/>
        </a>
      </div>
      <div class="services-includes_element services-includes_element--small-margin">
        <span class="icon icon-hamburger"></span>
        <p class="services-includes_element-name">
          UX
          <br>
          review
        </p>
        <a href="#" class="services-includes_element-link">
          LEARN MORE
          <img class="services-includes_element-link-image" src="/assets/images/arrow-orange.png" alt="arrow"/>
        </a>
      </div>
    </div>
  </div>
  <div class="services-stats services-stats--border">
    <div class="services-stats_details">
      <div class="services-stats_header">
        New website for one of the biggest Polish banks
      </div>
      <div class="services-stats_description services-stats_description--offset">
        In September 2018 Eurobank has released  the new version of their website.
        The complete project is a sum of the work of the specialist teams. One of them was Naturaily - the content-design team that was responsible for creating the information architecture of the website, as well as completely filling it with the right content and creating ready-to-implement CMS templates. The content for over 130 product and informative pages was prepared and implemented in just 2 months, as for the communication during the project - it was impeccable and just as agreed at the start of the cooperation.
      </div>
      <a
        class="services-stats_cta"
        href="#"
      >
        CHECK CASE STUDY
        <img class="services-stats_cta-arrow" src="/assets/images/arrow-orange.png" alt="arrow"/>
      </a>
    </div>
    <div class="services-stats_image-wrapper services-stats_image-wrapper--product-design">
      <figure class="geometric-figure">
        <div class="geometric-figure_left"></div>
        <div class="geometric-figure_center"></div>
      </figure>
      <img class="services-stats_image" src="/assets/images/services/product-design.png" alt="">
    </div>
  </div>
  <div class="services-testimonials_container">
    <div class="services-testimonials services-testimonials--medium-image">
      <img class="services-testimonials_image" src="/assets/images/services/defina.jpg" alt="Defina Kaczałko">
      <div class="services-testimonials_wrapper">
        <div class="services-testimonials_opinion">
          What mattered to us most was for the user not to have any trouble with understanding the texts, what can be hard in the banking industry. Naturaily made it easy to accomplish. They proposed an effective cooperation process, created a specific roadmap that considered tasks being delivered by various teams: an internal Eurobank team, the content project team and the implementation team.
          Their engagement was way beyond the agreed responsibility line!
          I wish everyone with a demanding project such a pro-active team.
        </div>
        <div class="services-testimonials_footer">
          <div>
            <p class="paragraph has-dot">
              <span class="dot"></span>
              Defina Kaczałko
            </p>
            <p class="paragraph">
              Marketing Manager, Euro Bank S.A.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
