<section id="03" class="section services-full">
  <picture class="services-full_background-image">
    <source media="(max-width: 1440px)"
    srcset="/assets/images/services/pwa-md.jpg">
    <source media="(max-width: 1600px)"
            srcset="/assets/images/services/pwa-lg.jpg">

    <img src="/assets/images/services/pwa-xl.jpg" alt="pwa background">
  </picture>
  <div class="services-full_container">
    <div class="services-full_main">
      <div>
        <div class="section_name">
          <span class="section_name-number">
            03
          </span>
          Services
        </div>
        <h3 class="services-full_main-header">
          PWA Development
        </h3>
      </div>
      <p class="services-full_main-description">
        While
        <span class="text-secondary">over 4.5 billion</span>
        people are active internet users (Jan, 2019), more than
        <br>
        a half of all video streaming comes
        <br>
        from mobile devices.
      </p>
    </div>
    <div class="services-full_more-wrapper">
      <p class="services-full_more">
        With the total daily amount of time spent on a mobile device in the US by adults jumping from 88 to 203 minutes a day - the mobile-first approach is an absolute necessity. This is why we offer PWA development, which allow for creating fast, reliable, and engaging great web pages and mobile apps at once.
      </p>
      <a class="services-full_link" href="#">
        READ MORE
        <img class="services-full_link-image" src="/assets/images/arrow-orange.png" alt="arrow"/>
      </a>
    </div>
  </div>
  <div class="services-includes_wrapper">
    <div class="services-includes">
      <div class="services-includes_header">
        PWA development
        <br>
        services include
      </div>
      <div class="services-includes_element">
        <span class="icon icon-hamburger"></span>
        <p class="services-includes_element-name">
          Discovery
          <br>
          session
        </p>
        <a href="#" class="services-includes_element-link">
          LEARN MORE
          <img class="services-includes_element-link-image" src="/assets/images/arrow-orange.png" alt="arrow"/>
        </a>
      </div>
      <div class="services-includes_element">
        <span class="icon icon-hamburger"></span>
        <p class="services-includes_element-name">
          Proof
          <br>
          of concept
        </p>
        <a href="#" class="services-includes_element-link">
          LEARN MORE
          <img class="services-includes_element-link-image" src="/assets/images/arrow-orange.png" alt="arrow"/>
        </a>
      </div>
      <div class="services-includes_element">
        <span class="icon icon-hamburger"></span>
        <p class="services-includes_element-name">
          PWA
          <br>
          Development
        </p>
        <a href="#" class="services-includes_element-link">
          LEARN MORE
          <img class="services-includes_element-link-image" src="/assets/images/arrow-orange.png" alt="arrow"/>
        </a>
      </div>
    </div>
  </div>
  <div class="services-testimonials_container">
    <div class="services-testimonials">
      <div>
        <div class="services-testimonials_opinion">
          PWAs aim to disrupt the mobile app paradigm by bridging the web experience with native
          <br>
          app functionality, by using the latest browser technologies to meld the accessibility of the web
          <br>
          with the presence of the mobile app.
        </div>
        <div class="services-testimonials_footer">
          <img src="/assets/images/services/wong.jpg" alt="Jason Wong">
          <div>
            <p class="paragraph has-dot">
              <span class="dot"></span>
              Jason Wong
            </p>
            <p class="paragraph">
              VP, Research & Advisory at Gartner
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
