<section class="section services-slider">
  <div class="services-slider_container">
    <div class="section_name">
      <span class="section_name-number">
        00
      </span>
      Success stories
    </div>
    <div class="services-slider_header">
      We have developed web and mobile applications
      <br>
      for clients from many different industries
    </div>

    <div class="services-slider_cards-wrapper">
      <button class="services-slider_arrow services-slider_arrow-prev hidden" slider-nav="prev" type="button" name="button">
        <span class="icon icon-chevron-left"></span>
      </button>
      <button class="services-slider_arrow services-slider_arrow-next" slider-nav="next" type="button" name="button">
        <span class="icon icon-chevron-right"></span>
      </button>
      <div class="services-slider_cards" id="servicesSlider">

        <div class="services-slider_card" slider-card>
          <button class="services-slider_close hidden" slider-close type="button" name="button">x</button>
          <div class="services-slider_card-preview">
            <div class="services-slider_card-title">
              Non governmental organization
            </div>
            <div class="services-slider_card-hashtag text-secondary">#NGO</div>
          </div>
          <div class="services-slider_content">
            <figure class="geometric-figure">
              <div class="geometric-figure_left"></div>
              <div class="geometric-figure_center"></div>
            </figure>
            <img class="services-slider_card-image" src="/assets/images/services/card.png" alt=""/>
            <div class="services-slider_content-title">
              Collectivity
            </div>
            <div class="services-slider_content-desc">
              A platform that allows people from all around the world to collaborate and share their professional expertise in order to improve the health system.
            </div>
            <a class="services-slider_link" href="#">
              CHECK CASE STUDY
              <img class="" src="/assets/images/arrow-orange.png" alt="arrow"/>
            </a>
          </div>
          <div class="services-slider_card-hover">
            <span></span>
          </div>
        </div>
        <!-- v x7 -->
        <!-- <div class="services-slider_card" slider-card></div>
        <div class="services-slider_card" slider-card></div>
        <div class="services-slider_card" slider-card></div>
        <div class="services-slider_card" slider-card></div>
        <div class="services-slider_card" slider-card></div>
        <div class="services-slider_card" slider-card></div>
        <div class="services-slider_card" slider-card></div> -->

        <div class="services-slider_card" slider-card>
          <button class="services-slider_close hidden" slider-close type="button" name="button">x</button>
          <div class="services-slider_card-preview">
            <div class="services-slider_card-title">
              Non governmental organization
            </div>
            <div class="services-slider_card-hashtag text-secondary">#NGO</div>
          </div>
          <div class="services-slider_content">
            <figure class="geometric-figure">
              <div class="geometric-figure_left"></div>
              <div class="geometric-figure_center"></div>
            </figure>
            <img class="services-slider_card-image" src="/assets/images/services/card.png" alt=""/>
            <div class="services-slider_content-title">
              Collectivity
            </div>
            <div class="services-slider_content-desc">
              A platform that allows people from all around the world to collaborate and share their professional expertise in order to improve the health system.
            </div>
            <a class="services-slider_link" href="#">
              CHECK CASE STUDY
              <img class="" src="/assets/images/arrow-orange.png" alt="arrow"/>
            </a>
          </div>
          <div class="services-slider_card-hover">
            <span></span>
          </div>
        </div>

        <div class="services-slider_card" slider-card>
          <button class="services-slider_close hidden" slider-close type="button" name="button">x</button>
          <div class="services-slider_card-preview">
            <div class="services-slider_card-title">
              Non governmental organization
            </div>
            <div class="services-slider_card-hashtag text-secondary">#NGO</div>
          </div>
          <div class="services-slider_content">
            <figure class="geometric-figure">
              <div class="geometric-figure_left"></div>
              <div class="geometric-figure_center"></div>
            </figure>
            <img class="services-slider_card-image" src="/assets/images/services/card.png" alt=""/>
            <div class="services-slider_content-title">
              Collectivity
            </div>
            <div class="services-slider_content-desc">
              A platform that allows people from all around the world to collaborate and share their professional expertise in order to improve the health system.
            </div>
            <a class="services-slider_link" href="#">
              CHECK CASE STUDY
              <img class="" src="/assets/images/arrow-orange.png" alt="arrow"/>
            </a>
          </div>
          <div class="services-slider_card-hover">
            <span></span>
          </div>
        </div>

        <div class="services-slider_card" slider-card>
          <button class="services-slider_close hidden" slider-close type="button" name="button">x</button>
          <div class="services-slider_card-preview">
            <div class="services-slider_card-title">
              Non governmental organization
            </div>
            <div class="services-slider_card-hashtag text-secondary">#NGO</div>
          </div>
          <div class="services-slider_content">
            <figure class="geometric-figure">
              <div class="geometric-figure_left"></div>
              <div class="geometric-figure_center"></div>
            </figure>
            <img class="services-slider_card-image" src="/assets/images/services/card.png" alt=""/>
            <div class="services-slider_content-title">
              Collectivity
            </div>
            <div class="services-slider_content-desc">
              A platform that allows people from all around the world to collaborate and share their professional expertise in order to improve the health system.
            </div>
            <a class="services-slider_link" href="#">
              CHECK CASE STUDY
              <img class="" src="/assets/images/arrow-orange.png" alt="arrow"/>
            </a>
          </div>
          <div class="services-slider_card-hover">
            <span></span>
          </div>
        </div>

        <div class="services-slider_card" slider-card>
          <button class="services-slider_close hidden" slider-close type="button" name="button">x</button>
          <div class="services-slider_card-preview">
            <div class="services-slider_card-title">
              Non governmental organization
            </div>
            <div class="services-slider_card-hashtag text-secondary">#NGO</div>
          </div>
          <div class="services-slider_content">
            <figure class="geometric-figure">
              <div class="geometric-figure_left"></div>
              <div class="geometric-figure_center"></div>
            </figure>
            <img class="services-slider_card-image" src="/assets/images/services/card.png" alt=""/>
            <div class="services-slider_content-title">
              Collectivity
            </div>
            <div class="services-slider_content-desc">
              A platform that allows people from all around the world to collaborate and share their professional expertise in order to improve the health system.
            </div>
            <a class="services-slider_link" href="#">
              CHECK CASE STUDY
              <img class="" src="/assets/images/arrow-orange.png" alt="arrow"/>
            </a>
          </div>
          <div class="services-slider_card-hover">
            <span></span>
          </div>
        </div>

        <div class="services-slider_card" slider-card>
          <button class="services-slider_close hidden" slider-close type="button" name="button">x</button>
          <div class="services-slider_card-preview">
            <div class="services-slider_card-title">
              Non governmental organization
            </div>
            <div class="services-slider_card-hashtag text-secondary">#NGO</div>
          </div>
          <div class="services-slider_content">
            <figure class="geometric-figure">
              <div class="geometric-figure_left"></div>
              <div class="geometric-figure_center"></div>
            </figure>
            <img class="services-slider_card-image" src="/assets/images/services/card.png" alt=""/>
            <div class="services-slider_content-title">
              Collectivity
            </div>
            <div class="services-slider_content-desc">
              A platform that allows people from all around the world to collaborate and share their professional expertise in order to improve the health system.
            </div>
            <a class="services-slider_link" href="#">
              CHECK CASE STUDY
              <img class="" src="/assets/images/arrow-orange.png" alt="arrow"/>
            </a>
          </div>
          <div class="services-slider_card-hover">
            <span></span>
          </div>
        </div>

        <div class="services-slider_card" slider-card>
          <button class="services-slider_close hidden" slider-close type="button" name="button">x</button>
          <div class="services-slider_card-preview">
            <div class="services-slider_card-title">
              Non governmental organization
            </div>
            <div class="services-slider_card-hashtag text-secondary">#NGO</div>
          </div>
          <div class="services-slider_content">
            <figure class="geometric-figure">
              <div class="geometric-figure_left"></div>
              <div class="geometric-figure_center"></div>
            </figure>
            <img class="services-slider_card-image" src="/assets/images/services/card.png" alt=""/>
            <div class="services-slider_content-title">
              Collectivity
            </div>
            <div class="services-slider_content-desc">
              A platform that allows people from all around the world to collaborate and share their professional expertise in order to improve the health system.
            </div>
            <a class="services-slider_link" href="#">
              CHECK CASE STUDY
              <img class="" src="/assets/images/arrow-orange.png" alt="arrow"/>
            </a>
          </div>
          <div class="services-slider_card-hover">
            <span></span>
          </div>
        </div>

      </div>
    </div>

    <div class="services-slider_clutch">
      Clutch
    </div>
  </div>
</section>

<script type="text/javascript">
  {% include services/slider.js %}
</script>
