<section class="section services-slider">
  <div class="services-slider_container">
    <div class="services-slider_header">
      We have developed <span>web</span> and <span>mobile applications</span>
      <br>
      for clients from many different industries
    </div>
    <div class="services-slider_cards-wrapper">
      <button class="services-slider_arrow services-slider_arrow-prev hidden" slider-nav="prev" type="button" name="button">
        <span class="icon icon-chevron-left"></span>
      </button>
      <button class="services-slider_arrow services-slider_arrow-next" slider-nav="next" type="button" name="button">
        <span class="icon icon-chevron-right"></span>
      </button>
      <div class="services-slider_cards" id="servicesSlider">
        <div class="services-slider_card services-slider_card--more" style="background-image: url('../assets/images/services/slider-1.jpg')" slider-card>
          <button class="services-slider_close hidden" slider-close type="button" name="button"></button>
          <div class="services-slider_card-preview">
            <div class="services-slider_card-title services-slider_card-title--more">
              Non governmental organization
            </div>
            <div class="services-slider_card-hashtag text-secondary">#NGO</div>
          </div>
          <div class="services-slider_content">
            <figure class="geometric-figure">
              <div class="geometric-figure_left"></div>
              <div class="geometric-figure_center"></div>
            </figure>
            <img class="services-slider_card-image" src="/assets/images/services/card.png" alt=""/>
            <div class="services-slider_content-title">
              Collectivity
            </div>
            <div class="services-slider_content-desc">
              A platform that allows people from all around the world to collaborate and share their professional expertise in order to improve the health system.
            </div>
            <a class="services-slider_link" href="#">
              CHECK CASE STUDY
              <img class="" src="/assets/images/arrow-orange.png" alt="arrow"/>
            </a>
          </div>
          <div class="services-slider_card-hover">
            <span></span>
          </div>
        </div>
        <div class="services-slider_card" style="background-image: url('../assets/images/services/slider-2.jpg')" slider-card>
          <button class="services-slider_close hidden" slider-close type="button" name="button"></button>
          <div class="services-slider_card-preview">
            <div class="services-slider_card-title">
              FinTech
            </div>
            <div class="services-slider_card-hashtag text-secondary">#FinTech</div>
          </div>
          <div class="services-slider_content">
            <figure class="geometric-figure">
              <div class="geometric-figure_left"></div>
              <div class="geometric-figure_center"></div>
            </figure>
            <img class="services-slider_card-image" src="/assets/images/services/card-coinflex.png" alt=""/>
            <div class="services-slider_content-title">
              Coinflex
            </div>
            <div class="services-slider_content-desc">
              The world’s first physically delivered cryptocurrency futures exchange.
            </div>
            <a class="services-slider_link" href="#">
              CHECK CASE STUDY
              <img class="" src="/assets/images/arrow-orange.png" alt="arrow"/>
            </a>
          </div>
          <div class="services-slider_card-hover">
            <span></span>
          </div>
        </div>
        <div class="services-slider_card" style="background-image: url('../assets/images/services/slider-3.jpg')" slider-card>
          <button class="services-slider_close hidden" slider-close type="button" name="button"></button>
          <div class="services-slider_card-preview">
            <div class="services-slider_card-title">
              MarTech
            </div>
            <div class="services-slider_card-hashtag text-secondary">#MarTech</div>
          </div>
          <div class="services-slider_content">
            <figure class="geometric-figure">
              <div class="geometric-figure_left"></div>
              <div class="geometric-figure_center"></div>
            </figure>
            <img class="services-slider_card-image" src="/assets/images/services/card-rocker.png" alt=""/>
            <div class="services-slider_content-title">
              Retention Rocket
            </div>
            <div class="services-slider_content-desc">
              A multichannel SaaS retention marketing platform for e-commerce businesses.
            </div>
            <a class="services-slider_link" href="#">
              CHECK CASE STUDY
              <img class="" src="/assets/images/arrow-orange.png" alt="arrow"/>
            </a>
          </div>
          <div class="services-slider_card-hover">
            <span></span>
          </div>
        </div>
        <div class="services-slider_card" style="background-image: url('../assets/images/services/slider-4.jpg')" slider-card>
          <button class="services-slider_close hidden" slider-close type="button" name="button"></button>
          <div class="services-slider_card-preview">
            <div class="services-slider_card-title">
              E-commerce
            </div>
            <div class="services-slider_card-hashtag text-secondary">#ecommerce</div>
          </div>
          <div class="services-slider_content">
            <figure class="geometric-figure">
              <div class="geometric-figure_left"></div>
              <div class="geometric-figure_center"></div>
            </figure>
            <img class="services-slider_card-image" src="/assets/images/services/card-shopify.png" alt=""/>
            <div class="services-slider_content-title">
              Woolman
            </div>
            <div class="services-slider_content-desc">
              Our Scandinavian partner, with whom we have developed many Shopify integrations for our joint clients.
            </div>
            <a class="services-slider_link" href="#">
              CHECK CASE STUDY
              <img class="" src="/assets/images/arrow-orange.png" alt="arrow"/>
            </a>
          </div>
          <div class="services-slider_card-hover">
            <span></span>
          </div>
        </div>
        <div class="services-slider_card" style="background-image: url('../assets/images/services/slider-5.jpg')" slider-card>
          <button class="services-slider_close hidden" slider-close type="button" name="button"></button>
          <div class="services-slider_card-preview">
            <div class="services-slider_card-title">
              EdTech
            </div>
            <div class="services-slider_card-hashtag text-secondary">#EdTech</div>
          </div>
          <div class="services-slider_content">
            <figure class="geometric-figure">
              <div class="geometric-figure_left"></div>
              <div class="geometric-figure_center"></div>
            </figure>
            <img class="services-slider_card-image" src="/assets/images/services/card.png" alt=""/>
            <div class="services-slider_content-title">
              Collectivity
            </div>
            <div class="services-slider_content-desc">
              A platform that allows people from all around the world to collaborate and share their professional expertise in order to improve the health system.
            </div>
            <a class="services-slider_link" href="#">
              CHECK CASE STUDY
              <img class="" src="/assets/images/arrow-orange.png" alt="arrow"/>
            </a>
          </div>
          <div class="services-slider_card-hover">
            <span></span>
          </div>
        </div>
        <div class="services-slider_card" style="background-image: url('../assets/images/services/slider-1.jpg')" slider-card>
          <button class="services-slider_close hidden" slider-close type="button" name="button"></button>
          <div class="services-slider_card-preview">
            <div class="services-slider_card-title">
              Energy
            </div>
            <div class="services-slider_card-hashtag text-secondary">#Energy</div>
          </div>
          <div class="services-slider_content">
            <figure class="geometric-figure">
              <div class="geometric-figure_left"></div>
              <div class="geometric-figure_center"></div>
            </figure>
            <img class="services-slider_card-image" src="/assets/images/services/card-lv.png" alt=""/>
            <div class="services-slider_content-title">
              LV Cloud
            </div>
            <div class="services-slider_content-desc">
              LV Cloud is an IoT application monitoring for taking care of the local energy grid.
            </div>
            <a class="services-slider_link" href="#">
              CHECK CASE STUDY
              <img class="" src="/assets/images/arrow-orange.png" alt="arrow"/>
            </a>
          </div>
          <div class="services-slider_card-hover">
            <span></span>
          </div>
        </div>
        <div class="services-slider_card" style="background-image: url('../assets/images/services/slider-1.jpg')" slider-card>
          <button class="services-slider_close hidden" slider-close type="button" name="button"></button>
          <div class="services-slider_card-preview">
            <div class="services-slider_card-title">
              Art
            </div>
            <div class="services-slider_card-hashtag text-secondary">#Art</div>
          </div>
          <div class="services-slider_content">
            <figure class="geometric-figure">
              <div class="geometric-figure_left"></div>
              <div class="geometric-figure_center"></div>
            </figure>
            <img class="services-slider_card-image" src="/assets/images/services/card-art.png" alt=""/>
            <div class="services-slider_content-title">
              Artinfo
            </div>
            <div class="services-slider_content-desc">
              Artinfo is a web application for live art auctions and online bidding.
            </div>
            <a class="services-slider_link" href="#">
              CHECK CASE STUDY
              <img class="" src="/assets/images/arrow-orange.png" alt="arrow"/>
            </a>
          </div>
          <div class="services-slider_card-hover">
            <span></span>
          </div>
        </div>
        <div class="services-slider_card" style="background-image: url('../assets/images/services/slider-8.jpg')" slider-card>
          <button class="services-slider_close hidden" slider-close type="button" name="button"></button>
          <div class="services-slider_card-preview">
            <div class="services-slider_card-title">
              Other
            </div>
            <div class="services-slider_card-hashtag text-secondary">#other</div>
          </div>
          <div class="services-slider_content">
            <figure class="geometric-figure">
              <div class="geometric-figure_left"></div>
              <div class="geometric-figure_center"></div>
            </figure>
            <img class="services-slider_card-image" src="/assets/images/services/card.png" alt=""/>
            <div class="services-slider_content-title">
              Snipsl
            </div>
            <div class="services-slider_content-desc">
              A self-publishing platform for sharing stories and books for both readers and authors.
            </div>
            <a class="services-slider_link" href="#">
              CHECK CASE STUDY
              <img class="" src="/assets/images/arrow-orange.png" alt="arrow"/>
            </a>
          </div>
          <div class="services-slider_card-hover">
            <span></span>
          </div>
        </div>
      </div>
    </div>
    <div class="services-slider_clutch">
      <a
        class="services-slider_clutch-link"
        href="https://clutch.co/profile/naturaily"
        target="_blank"
      >
        <img class="services-slider_clutch-link-badge" src="/assets/images/services/logo-clutch.png" alt="">
        <img class="services-slider_clutch-link-clutch" src="/assets/images/jamstack/clutch.png" alt="clutch" />
        Check our reviews
        <img class="services-slider_clutch-link-image" src="/assets/images/arrow-orange.png" alt="arrow" />
      </a>
    </div>
  </div>
</section>

<script type="text/javascript">
  {% include services/slider.js %}
</script>
