<section id="08" class="section services-support">
  <div class="services-support_container">
    <div class="services-support_main">
      <div>
        <div class="section_name">
          <span class="section_name-number">
            08
          </span>
          Services
        </div>
        <h3 class="services-support_main-header">
          Support
        </h3>
      </div>
      <p class="services-support_main-description">
        We are totally committed to building long-term relations with our clients. We also always desire to know what is happening with the products and solutions we have created (maybe it's empty-nest syndrome for some of us).
      </p>
    </div>
    <div class="services-support_more-wrapper">
      <p class="services-support_more">
        This is why we believe that maintenance,
        <span class="text-secondary">quality assurance</span>
        , and
        <span class="text-secondary">DevOps support</span>
        are just as much important as development.
      </p>
      <a class="services-support_link" href="#">
        READ MORE
        <img class="services-support_link-image" src="/assets/images/arrow-orange.png" alt="arrow"/>
      </a>
    </div>
    <img class="services-support_background-image" src="/assets/images/services/support.jpg" alt="support">
  </div>
</section>
