<section id="02" class="section services-support">
  <div class="services-support_container">
    <div class="services-support_main">
      <div>
        <div class="section_name">
          <span class="section_name-number">
            02
          </span>
          Services
        </div>
        <h3 class="services-support_main-header">
          Web development
        </h3>
      </div>
      <p class="services-support_main-description">
        We have developed dozens of web applications, such as an online platform for the live art auctions, a multichannel SaaS retention marketing platform, a self-publishing platform for sharing stories and books, and many more.
      </p>
    </div>
    <div class="services-support_more-wrapper">
      <p class="services-support_more">
        <span class="text-secondary">Custom web development</span>
        <br>
        is one of our essential
        <br>
        specialties.
      </p>
      <a class="services-support_link" href="#">
        READ MORE
        <img class="services-support_link-image" src="/assets/images/arrow-orange.png" alt="arrow"/>
      </a>
    </div>
    <img class="services-support_background-image" src="/assets/images/services/web-dev.jpg" alt="web-dev">
  </div>
</section>
