<section id="02" class="section section-right">
  <div class="services-right">
    <div class="services-right_container">
      <div class="services-right_main">
        <div>
          <div class="section_name">
            <span class="section_name-number">
              02
            </span>
            Services
          </div>
          <h3 class="services-right_main-header">
            Web development
          </h3>
        </div>
        <p class="services-right_main-description">
          We have developed dozens of web applications, such as an online platform for the live art auctions, a multichannel SaaS retention marketing platform, a self-publishing platform for sharing stories and books, and many more.
        </p>
      </div>
      <div services-right class="services-right_more-wrapper">
        <p class="services-right_more">
          <span class="text-secondary">Custom web development</span>
          <br>
          is one of our essential
          <br>
          specialties.
        </p>
        <a class="services-right_link" href="#">
          READ MORE
          <img class="services-right_link-image" src="/assets/images/arrow-orange.png" alt="arrow"/>
        </a>
      </div>
      <img class="services-right_background-image" src="/assets/images/services/web-dev.jpg" alt="web-dev">
    </div>
  </div>
  <div class="services-includes_wrapper services-includes_wrapper--wrap">
    <div services-left class="services-includes services-includes--bigger">
      <div class="services-includes_border">
        <div class="services-includes_header">
          Web development services include
        </div>
        <div class="services-includes_element">
          <div class="services-includes_logo">
            <img class="rails" src="/assets/images/services/logo-rails.png" alt="logo">
          </div>
          <p class="services-includes_element-name">
            Ruby on Rails
            <br>
            development
          </p>
          <a href="/services/ruby-on-rails-development" class="services-includes_element-link">
            LEARN MORE
            <img class="services-includes_element-link-image" src="/assets/images/arrow-orange.png" alt="arrow"/>
          </a>
        </div>
        <div class="services-includes_element">
          <div class="services-includes_logo">
            <img class="react" src="/assets/images/services/logo-react.png" alt="logo">
          </div>
          <p class="services-includes_element-name">
            React.js
            <br>
            development
          </p>
          <a href="/services/react-js-development" class="services-includes_element-link">
            LEARN MORE
            <img class="services-includes_element-link-image" src="/assets/images/arrow-orange.png" alt="arrow"/>
          </a>
        </div>
        <div class="services-includes_element">
          <div class="services-includes_logo">
            <img class="logo-jamstack" src="/assets/images/services/logo-jamstack.png" alt="logo">
          </div>
          <p class="services-includes_element-name">
            JAMstack
            <br>
            development
          </p>
          <a href="/services/webdevelopment/jamstack" class="services-includes_element-link">
            LEARN MORE
            <img class="services-includes_element-link-image" src="/assets/images/arrow-orange.png" alt="arrow"/>
          </a>
        </div>
        <div class="services-includes_element">
          <div class="services-includes_logo">
            <img src="/assets/images/services/logo-pwa.svg" alt="logo">
          </div>
          <p class="services-includes_element-name">
            Progressive
            <br>
            Web App
          </p>
          <a href="/services/webdevelopment/pwa" class="services-includes_element-link">
            LEARN MORE
            <img class="services-includes_element-link-image" src="/assets/images/arrow-orange.png" alt="arrow"/>
          </a>
        </div>
        <div class="services-includes_element">
          <div class="services-includes_logo">
            <img class="vue" src="/assets/images/services/logo-vue.png" alt="logo">
          </div>
          <p class="services-includes_element-name">
            Vue.js
            <br>
            development
          </p>
          <a href="/services/vue-js-development" class="services-includes_element-link">
            LEARN MORE
            <img class="services-includes_element-link-image" src="/assets/images/arrow-orange.png" alt="arrow"/>
          </a>
        </div>
        <div class="services-includes_element">
          <div class="services-includes_logo">
            <img class="node" src="/assets/images/services/logo-node.png" alt="logo">
          </div>
          <p class="services-includes_element-name">
            Node.js
            <br>
            development
          </p>
          <!-- <a href="#" class="services-includes_element-link">
            LEARN MORE
            <img class="services-includes_element-link-image" src="/assets/images/arrow-orange.png" alt="arrow"/>
          </a> -->
        </div>
        <div class="services-includes_element">
          <div class="services-includes_logo">
            <img src="/assets/images/services/logo-sass.svg" alt="logo">
          </div>
          <p class="services-includes_element-name">
            SaaS
            <br>
            development
          </p>
          <!-- <a href="#" class="services-includes_element-link">
            LEARN MORE
            <img class="services-includes_element-link-image" src="/assets/images/arrow-orange.png" alt="arrow"/>
          </a> -->
        </div>
      </div>
    </div>
  </div>
  <div class="services-testimonials_container">
    <div services-testimonial class="services-testimonials services-testimonials--big-image">
      <picture>
        <source media="(min-width: 577px)" class="services-testimonials_image" srcset="/assets/images/services/rafal.png" alt="Rafał Kamecki">
        <img class="services-testimonials_image" src="/assets/images/services/rafal-small.png" alt="Rafał Kamecki">
      </picture>
      <div class="services-testimonials_header">
        <span class="text-secondary">
          Artinfo is a market leader
        </span>
        <br>
        and a trusted institution,
        <br>
        so we work only with the best.
      </div>
      <div class="services-testimonials_opinion">
        <p>
          I was looking for a reputable company at a high level of technological
          <br>
          advancement. The project was demanding, and I need to be sure that my
          <br>
          partner has enough resources, knowledge, and experience to deal with
          <br>
          something of this magnitude. I chose Naturaily because they are professionals,
          <br>
          and I am satisfied with this cooperation.
          <br><br>
          Opinions of Artinfo users are very positive, which is why
          <br>
          I can safely say that we have succeeded.
        </p>
      </div>
      <div class="services-testimonials_footer">
        <div>
          <p class="paragraph has-dot">
            <span class="dot"></span>
            Rafał Kamecki
          </p>
          <p class="paragraph">
            Artinfo founder
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="services-stats">
    <div services-left class="services-stats_details">
      <div class="services-stats_numbers">
        <span class="services-stats_number text-secondary">
          +75k
        </span>
        unique users a month
      </div>
      <div class="services-stats_numbers">
        <span class="services-stats_number text-secondary">
          +16k
        </span>
        registered users
      </div>
      <div class="services-stats_numbers">
        <span class="services-stats_number text-secondary">
          +30k
        </span>
        registered artists
      </div>
      <a
        class="services-stats_cta services-stats_cta--more-space"
        href="/project/artinfo"
      >
        CHECK CASE STUDY
        <img class="services-stats_cta-arrow" src="/assets/images/arrow-orange.png" alt="arrow"/>
      </a>
    </div>
    <div services-right class="services-stats_image-wrapper">
      <img class="services-stats_image" src="/assets/images/services/stats-artinfo.png" alt="">
    </div>
  </div>
</section>
