.faces {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;

  &-title {
    margin: 70px 0 30px 0;
  }

  .person {
    text-align: center;
    font-weight: 200;
    background-color: transparent;
    perspective: 1000px;

    &-inner {
      position: relative;
      width: 100%;
      height: auto;
      text-align: center;

      &--front, &--back {
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
      }

      &--front {
        position: relative;
        background-color: #bbb;
        color: black;
        transform: scale(1);
        transition: opacity .4s ease, transform .4s ease;
        opacity: 1;
      }

      &--back {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        transform: scale(1);
        transition: opacity .4s ease, transform .4s ease;
        z-index: -1;

        img {
          filter: blur(.9px) saturate(80%);
        }
      }
    }

    &-info {
      padding-top: 20px;
    }

    &:hover .person-inner {
      // transform: rotateY(180deg);
    }

    span {
      display: block;
    }

    &-name {
      font-size: 16px;
    }

    &-position {
      font-size: 14px;
      color: $color-accent-gold;
    }

    &.down-sm {
      margin-top: 60px;
    }
  }

  &.dim {
    .person {
      &-inner--front {
        opacity: 0;
        transform: scale(.98);
      }

      &-inner--back {
        transform: scale(.98);
      }

      &-inner.not-dim .person-inner--front {
        opacity: 1;
        transform: scale(1);

      }
    }
  }

  &-button {
    margin: 30px 0;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .faces {
    margin-top: 90px;
    grid-template-columns: repeat(5, 1fr);

    &-title {
      margin: 0;
      text-align: center;
    }

    .person {
      &.down-sm {
        margin-top: 0px;
      }
      &.down {
        margin-top: 60px;
      }
    }
    &-button {
      margin: 0;
      margin-top: 90px;
    }
  }
}

@media (max-width: 991px) {
  .faces {
    .person {
      &.rwd-up {
        margin-top: 0;
      }
      &.rwd-down {
        margin-top: 60px;
      }
    }
  }
}
