.webdevelopment-stats {
  display: flex;
  width: 100%;
  max-width: 1322px;
  padding: 0 15px;
  margin: auto;
  justify-content: space-between;
  align-items: center;

  &_list {
    max-width: 440px;
    margin-bottom: 100px;
  }

  &_item {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    height: 100px;
    padding-left: 95px;

    &:not(:last-child) {
      border-bottom: 1px solid $color-global-font-10;
    }

    span {
      font-size: 42px;
      line-height: 50px;
      padding-right: 35px;
      width: 90px;
      color: $color-secondary;
    }
  }

  &_data {
    text-align: center;
  }

  &_link {
    padding: 15px 30px;
    border: 2px solid $color-secondary;
    border-radius: 50px;
    color: $color-secondary;
    font-size: 12px;
    font-weight: bold;
  }

  &_arrow {
    height: 12px;
    margin-left: 10px;
  }

  &_image {
    position: relative;
    left: 70px;
    width: 60%;
    max-width: 730px;
  }
}

@media (max-width: 992px) {
  .webdevelopment-stats {

    &_item {
      padding-left: 35px;
    }
  }
}

@media (max-width: 992px) {
  .webdevelopment-stats {

    &_item {
      font-size: 14px;
      line-height: 20px;
      padding-left: 25px;
  
      span {
        font-size: 36px;
        line-height: 40px;
        padding-right: 25px;
      }
    }
  }
}

@media (max-width: 768px) {
  .webdevelopment-stats {
    flex-direction: column-reverse;

    &_image {
      width: 60%;
      left: 0;
    }

    &_list {
      margin-bottom: 40px;
    }
  }
}