.webdevelopment-web-development {
  position: relative;
  padding: 0;

  .section_name {
    padding-bottom: 30px;
  }

  &_background-image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-height: 428px;
    overflow: hidden;
  }

  &_container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    max-width: 1322px;
    padding: 0 15px;
    margin: 120px auto 200px;
    box-sizing: border-box;
    z-index: 1;
  }

  &_main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 460px;
    padding: 80px 95px 110px;
    background-color: #FFFBF8;
    border-radius: 8px;

    &-header {
      font-size: 48px;
      font-weight: 200;
      line-height: 64px;
      padding-bottom: 52px;
    }

    &-description {
      font-size: 26px;
      line-height: 41.6px;

      span {
        color: $color-secondary;
      }
    }
  }

  &_more {
    line-height: 28.8px;

    &-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 442px;
    }

    &:last-child {
      margin-top: 37px;
    }
  }
}

@media (max-width: 1200px) {
  .webdevelopment-web-development {
    &_container {
      flex-direction: column;
      align-items: center;
    }

    &_main {
      padding: 60px 40px;
    }

    &_more {
      margin-bottom: 30px;

      &-wrapper {
        margin: 30px 0 0;
      }
    }
  }
}

@media (max-width: 810px) {
  .webdevelopment-web-development {
    &_container {
      max-width: calc(100% - 15px);
      margin: 0 5px 0 10px;
      padding: 60px 5px 50px 10px;
    }

    &_main {
      margin-left: -20px;
      padding: 60px 20px;

      &-header {
        padding-left: 0;
      }

      &-description {
        padding-left: 0;
      }
    }

    &_more {

      &-wrapper {
        padding-left: 0;
      }

      &:last-child {
        margin-top: 0;
      }
    }
  }
}

@media (max-width: 576px) {
  .webdevelopment-web-development {
    &_container {
      align-items: flex-start;
    }

    &_main {
      width: auto;
      max-width: 490px;
      border-radius: 0 8px 8px 0;

      br {
        display: none;
      }

      &-header {
        font-size: 36px;
        line-height: 50px;
      }
      &-description {
        font-size: 20px;
        line-height: 30px;
      }
    }

    &_more-wrapper {
      width: auto;
      max-width: 380px;
    }
  }
}
