.estimate {
  &_banner {
    background-image: url("../assets/images/marcin.png"), url("../assets/images/estimate-top-left.svg"), url("../assets/images/estimate-top-right.svg"), linear-gradient(180deg, rgba(255, 252, 249, 0) 0%, rgba(255, 247, 241, 1) 100%);
    background-repeat: no-repeat;
    background-size: 619px, auto, auto;
    background-position: calc(100% - 120px) 72px, 0% top, calc(100% + 130px) 70px, 0 300px;
    height: 606px;
    font-weight: 300;

    p span {
      color: $color-secondary;
    }

    h1 {
      padding-bottom: 10px;
    }
  }

  &_container {
    width: 704px;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: auto;
    padding: 80px 340px 65px 20px;

    small {
      margin-top: auto;
      padding-bottom: 30px;
    	opacity: 0.5;
    	font-size: 14px;
    	font-weight: 500;
    	line-height: 24px;
    }
  }

  @media (max-width: 1400px) {
    &_banner {
      background-position: calc(100% - 10px) 72px, -50px top, calc(100% + 250px) 70px, 0 300px;
      // height: 606px;
    }

    &_container {
      padding-left: 90px;
      padding-right: 270px;
    }
  }

  @media (max-width: 1200px) {
    &_banner {
      background-position: calc(100% + 130px) 72px, -100px top, calc(100% + 350px) 70px, 0 300px;
    }

    &_container {
      padding-left: 170px;
      padding-right: 190px;
    }
  }

  @media (max-width: 991px) {
    &_banner {
      background-position: calc(100% + 130px) 72px, -300px top, calc(100% + 350px) 70px, 0 300px;
    }

    &_container {
      width: auto;
      padding-left: 25px;
      padding-right: 435px;
    }
  }

  @media (max-width: 575px) {
    &_banner {
      background-image: url("../assets/images/marcin.png"), url("../assets/images/red-dot.svg"), url("../assets/images/estimate-top-right.svg"), linear-gradient(180deg, rgba(255, 252, 249, 0) 0%, rgba(255, 247, 241, 1) 100%);
      background-position: calc(100% + 70px) 100%, 85% 15%, calc(100% + 170px) 110%, 0 300px;
      background-size: 330px, auto, 320px;
    }

    &_banner .banner-text {
      margin-left: 0;
      font-size: 42px;
    }

    &_container {
      padding-right: 0;

      p {
        padding-right: 120px;
      }

      small {
        padding-right: 150px;
      }
    }
  }
}
