.estimate_steps {
  display: flex;
  flex-direction: column;
  &-header {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin-right: auto;
    padding: 120px 0px 90px 30px;
    background-image: url("../assets/images/dot.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right 40px;

    &-icon {
      color: $color-secondary;
      width: 173px;
      height: 173px;
      justify-content: center;
      align-items: center;
      display: flex;
      border-radius: 50%;
      background-color: $color-code-bg;
    }

    .icon-book {
      font-size: 80px;
    }

    @media (max-width: 991px) {
      flex-direction: column;
      padding: 100px 0px 40px 30px;

      .icon-book {
        font-size: 46px;
      }

      &-icon {
        padding: 0;
        width: 101px;
        height: 101px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
      }
    }
  }

  &-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 95px;

    h2 {
      font-size: 36px;
      font-weight: 200;
      line-height: 50px;
    }

    p {
      font-size: 14px;
      line-height: 24px;
    }

    a {
    	color: $color-secondary;
    	font-size: 11px;
    	font-weight: 500;
    	letter-spacing: 1.39px;
      text-transform: uppercase;
      margin-left: 9px;
    }

    strong {
      font-weight: 400;
    }

    &-desc {
    	opacity: 0.5;
    	font-size: 14px;
    	font-weight: 500;
      display: inline-block;
      margin-top: 0;
    }

    @media (max-width: 991px) {
      padding: 0;

      p {
        margin: 10px 0px;
      }

      &-desc {

      }
    }

    @media (max-width: 991px) {

      &-desc {
        padding-right: 100px;
      }
    }
  }

  &-step {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1320px;
    align-self: center;

    @media (max-width: 1400px) {
      width: 100%;
      padding-bottom: 15px;
    }
  }

  &-option {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    width: calc(25% - 30px);
    min-height: 150px;
    box-sizing: border-box;
    padding: 30px 20px 26px;
    border: 2px solid rgba(228, 191, 191, 0.2);
    border-radius: 10px;
    transition: all .2s ease;
    font-size: 14px;
    color: rgba(59, 34, 15, .7);
    margin-bottom: 15px;

    small {
      position: absolute;
      bottom: 26px;
      right: 20px;
      color: rgba(255, 94, 69, .2);
    }

    span[class^="icon-"], span[class*=" icon-"] {
      font-size: 55px;
      align-self: center;
      margin-right: 40px;
    }

    &:hover {
      cursor: pointer;
      color: $color-global-font;
    }

    @media (max-width: 991px) {
      width: calc(50% - 15px);
    }

    @media (max-width: 575px) {
      width: calc(100% - 15px);
    }
  }

  .checkbox:checked + .checkbox-label {
    background-color: #ffffff;
    box-shadow: 0 8px 32px 0 rgba(179,104,0,0.15);
    border-color: transparent;
    color: $color-global-font;
  }

  &-step-header {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    padding-top: 45px;
    padding-bottom: 25px;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    small {
      height: 26px;
      color: rgba(59, 34, 15, .5);
      font-size: 11px;
      line-height: 25px;
      display: flex;
      position: absolute;
      right: 0;
      text-transform: lowercase;

      &::before {
        content: "";
      	height: 4px;
      	width: 4px;
        border-radius: 50%;
      	background-color: #FF5E45;
        position: absolute;
        left: -15px;
        top: 11px;
      }
    }

    @media (max-width: 991px) {
    }

    @media (max-width: 575px) {
      padding-top: 0;
      padding-bottom: 15px;
      small {
        right: 15px;
      }
    }
  }

  .step-want {
    background-color: rgba(255, 247, 241, .5);
    padding: 0 30px 30px;
    span[class^="icon-"], span[class*=" icon-"] {
      color: $color-secondary;
    }

    @media (max-width: 991px) {
      padding-bottom: 15px;
    }

    @media (max-width: 575px) {
      background-color: transparent;
    }
  }

  .step-need {
    span[class^="icon-"], span[class*=" icon-"] {
      color: $color-accent-purple;
    }
  }

  .step-consider {
    span[class^="icon-"], span[class*=" icon-"] {
      color: $color-accent-yellow;
    }
  }

}
