<h2 class="faces-title">Our team, naturally the best!</h2>

<div class="faces" data-people="">
   <div class="person">
    <div class="person-inner" data-person="">
      <div class="person-inner--front">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/suler.png" alt="Image of a person">
      </div>
      <div class="person-inner--back">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/suler.png" alt="Image of a person">
      </div>
    </div>
    <div class="person-info">
      <span class="person-name">Marcin Sulikowski</span>
      <span class="person-position">Co-founder</span>
    </div>
  </div>

  <div class="person down down-sm">
    <div class="person-inner" data-person="">
      <div class="person-inner--front">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/sebastian.png" alt="Image of a person">
      </div>
      <div class="person-inner--back">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/sebastian.png" alt="Image of a person">
      </div>
    </div>
    <div class="person-info">
      <span class="person-name">Sebastian Kubiak</span>
      <span class="person-position">Co-founder</span>
    </div>
  </div>
  <div class="person">
    <div class="person-inner" data-person="">
      <div class="person-inner--front">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/arek.png" alt="Image of a person">
      </div>
      <div class="person-inner--back">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/arek.png" alt="Image of a person">
      </div>
    </div>
    <div class="person-info">
      <span class="person-name">Arkadiusz</span>
      <span class="person-position">Ruby/JS Developer</span>
    </div>
  </div>
  <div class="person down">
    <div class="person-inner" data-person="">
      <div class="person-inner--front">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/lighto.png" alt="Image of a person">
      </div>
      <div class="person-inner--back">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/lighto.png" alt="Image of a person">
      </div>
    </div>
    <div class="person-info">
      <span class="person-name">Paweł (Lighto)</span>
      <span class="person-position">Frontend Developer</span>
    </div>
  </div>
  <div class="person down-sm">
    <div class="person-inner" data-person="">
      <div class="person-inner--front">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/adam.png" alt="Image of a person">
      </div>
      <div class="person-inner--back">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/adam.png" alt="Image of a person">
      </div>
    </div>
    <div class="person-info">
      <span class="person-name">Adam</span>
      <span class="person-position">Ruby/JS Developer</span>
    </div>
  </div>
  <div class="person">
    <div class="person-inner" data-person="">
      <div class="person-inner--front">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/bartek.png" alt="Image of a person">
      </div>
      <div class="person-inner--back">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/bartek.png" alt="Image of a person">
      </div>
    </div>
    <div class="person-info">
      <span class="person-name">Bartek</span>
      <span class="person-position">Senior Frontend Developer</span>
    </div>
  </div>
  <div class="person down">
    <div class="person-inner" data-person="">
      <div class="person-inner--front">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/agata.png" alt="Image of a person">
      </div>
      <div class="person-inner--back">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/agata.png" alt="Image of a person">
      </div>
    </div>
    <div class="person-info">
      <span class="person-name">Agata</span>
      <span class="person-position">UX/UI Designer</span>
    </div>
  </div>
  <div class="person down-sm">
    <div class="person-inner" data-person="">
      <div class="person-inner--front">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/klaudia.png" alt="Image of a person">
      </div>
      <div class="person-inner--back">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/klaudia.png" alt="Image of a person">
      </div>
    </div>
    <div class="person-info">
      <span class="person-name">Klaudia</span>
      <span class="person-position">Ruby/JS Developer</span>
    </div>
  </div>
  <div class="person down">
    <div class="person-inner" data-person="">
      <div class="person-inner--front">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/adrian.png" alt="Image of a person">
      </div>
      <div class="person-inner--back">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/adrian.png" alt="Image of a person">
      </div>
    </div>
    <div class="person-info">
      <span class="person-name">Adrian</span>
      <span class="person-position">Ruby/JS Developer</span>
    </div>
  </div>
  <div class="person">
    <div class="person-inner" data-person="">
      <div class="person-inner--front">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/jakub.png" alt="Image of a person">
      </div>
      <div class="person-inner--back">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/jakub.png" alt="Image of a person">
      </div>
    </div>
    <div class="person-info">
      <span class="person-name">Jakub</span>
      <span class="person-position">Ruby/JS Developer</span>
    </div>
  </div>
  <div class="person down-sm">
    <div class="person-inner" data-person="">
      <div class="person-inner--front">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/ania.png" alt="Image of a person">
      </div>
      <div class="person-inner--back">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/ania.png" alt="Image of a person">
      </div>
    </div>
    <div class="person-info">
      <span class="person-name">Anna</span>
      <span class="person-position">Office Manager</span>
    </div>
  </div>
  <div class="person down">
    <div class="person-inner" data-person="">
      <div class="person-inner--front">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/karol.png" alt="Image of a person">
      </div>
      <div class="person-inner--back">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/karol.png" alt="Image of a person">
      </div>
    </div>
    <div class="person-info">
      <span class="person-name">Karol</span>
      <span class="person-position">Ruby Developer</span>
    </div>
  </div>
  <div class="person">
    <div class="person-inner" data-person="">
      <div class="person-inner--front">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/blazej.png" alt="Image of a person">
      </div>
      <div class="person-inner--back">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/blazej.png" alt="Image of a person">
      </div>
    </div>
    <div class="person-info">
      <span class="person-name">Błażej</span>
      <span class="person-position">Ruby/JS Developer</span>
    </div>
  </div>
  <div class="person down rwd-down">
    <div class="person-inner" data-person="">
      <div class="person-inner--front">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/leo.png" alt="Image of a person">
      </div>
      <div class="person-inner--back">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/leo.png" alt="Image of a person">
      </div>
    </div>
    <div class="person-info">
      <span class="person-name">Leo</span>
      <span class="person-position">Business Developer</span>
    </div>
  </div>
  <div class="person down-sm rwd-up">
    <div class="person-inner" data-person="">
      <div class="person-inner--front">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/anna.png" alt="Image of a person">
      </div>
      <div class="person-inner--back">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/anna.png" alt="Image of a person">
      </div>
    </div>
    <div class="person-info">
      <span class="person-name">Anna</span>
      <span class="person-position">Project Manager</span>
    </div>
  </div>
  <div class="person down-sm rwd-up">
    <div class="person-inner" data-person="">
      <div class="person-inner--front">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/daniel.png" alt="Image of a person">
      </div>
      <div class="person-inner--back">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/daniel.png" alt="Image of a person">
      </div>
    </div>
    <div class="person-info">
      <span class="person-name">Daniel</span>
      <span class="person-position">Frontend Developer</span>
    </div>
  </div>
  <div class="person down rwd-down">
    <div class="person-inner" data-person="">
      <div class="person-inner--front">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/lukasz.png" alt="Image of a person">
      </div>
      <div class="person-inner--back">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/lukasz.png" alt="Image of a person">
      </div>
    </div>
    <div class="person-info">
      <span class="person-name">Łukasz</span>
      <span class="person-position">Fullstack Developer</span>
    </div>
  </div>
  <div class="person">
    <div class="person-inner" data-person="">
      <div class="person-inner--front">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/bartosz.png" alt="Image of a person">
      </div>
      <div class="person-inner--back">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/bartosz.png" alt="Image of a person">
      </div>
    </div>
    <div class="person-info">
      <span class="person-name">Bartosz</span>
      <span class="person-position">QA Specialist</span>
    </div>
  </div>
  <div class="person down">
    <div class="person-inner" data-person="">
      <div class="person-inner--front">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/stefan.png" alt="Image of a person">
      </div>
      <div class="person-inner--back">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/stefan.png" alt="Image of a person">
      </div>
    </div>
    <div class="person-info">
      <span class="person-name">Stefan</span>
      <span class="person-position">Ruby Developer</span>
    </div>
  </div>
  <div class="person rwd-down">
    <div class="person-inner" data-person="">
      <div class="person-inner--front">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/andrzej.png" alt="Image of a person">
      </div>
      <div class="person-inner--back">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/andrzej.png" alt="Image of a person">
      </div>
    </div>
    <div class="person-info">
      <span class="person-name">Andrzej</span>
      <span class="person-position">JS Developer</span>
    </div>
  </div>


  <div class="person down-sm rwd-up">
    <div class="person-inner" data-person="">
      <div class="person-inner--front">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/natalia.png" alt="Image of a person">
      </div>
      <div class="person-inner--back">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/natalia.png" alt="Image of a person">
      </div>
    </div>
    <div class="person-info">
      <span class="person-name">Natalia</span>
      <span class="person-position">HR Specialist</span>
    </div>
  </div>
  <div class="person down rwd-up">
    <div class="person-inner" data-person="">
      <div class="person-inner--front">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/kamil.png" alt="Image of a person">
      </div>
      <div class="person-inner--back">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/kamil.png" alt="Image of a person">
      </div>
    </div>
    <div class="person-info">
      <span class="person-name">Kamil</span>
      <span class="person-position">Ruby Developer</span>
    </div>
  </div>
  <div class="person rwd-down">
    <div class="person-inner" data-person="">
      <div class="person-inner--front">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/bob.png" alt="Image of a person">
      </div>
      <div class="person-inner--back">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/bob.png" alt="Image of a person">
      </div>
    </div>
    <div class="person-info">
      <span class="person-name">Michał</span>
      <span class="person-position">Ruby Developer</span>
    </div>
  </div>
  <div class="person down rwd-up">
    <div class="person-inner" data-person="">
      <div class="person-inner--front">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/dominik.png" alt="Image of a person">
      </div>
      <div class="person-inner--back">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/dominik.png" alt="Image of a person">
      </div>
    </div>
    <div class="person-info">
      <span class="person-name">Dominik</span>
      <span class="person-position">Ruby Developer</span>
    </div>
  </div>
  <div class="person rwd-up">
    <div class="person-inner" data-person="">
      <div class="person-inner--front">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/kaydee.png" alt="Image of a person">
      </div>
      <div class="person-inner--back">
        <img src="/assets/images/loader.gif" data-src="/assets/images/people/kaydee.png" alt="Image of a person">
      </div>
    </div>
    <div class="person-info">
      <span class="person-name">Michał</span>
      <span class="person-position">Ruby Developer</span>
    </div>
  </div>
</div>

<div class="faces-button">
  <a href="/careers" type="button" class="btn btn-secondary">Join Naturaily</a>
</div>


<script type="text/javascript">
  {% include team.js %}
</script>
