.services {
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 0;
  padding-left: 160px;
  padding-right: 100px;
  box-sizing: border-box;

  &_wrapper {
    display: flex;
    padding-left: 45px;
  }

  &_header {
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 200;
    line-height: 72px;
  }

  &_service {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 30px 0;
    padding-left: 80px;
    color: $color-global-font;
    border-bottom: 1px solid $color-nav-border;
    cursor: pointer;
    box-sizing: border-box;

    &:hover {
      .services_service-name {
        color: $color-secondary;
      }
    }

    &:nth-child(1), &:nth-child(2) {
      padding-top: 22px;
    }

    &:nth-child(7), &:nth-child(8) {
      border: 0;
    }

    &-wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    &-number {
      margin-right: 55px;
      color: #C1C1C1;
      font-size: 12px;
    }

    &-name {
      font-size: 36px;
      font-weight: 200;
      line-height: 38px;
    }
  }
}

@media (max-width: 1360px) {
  .services {
    &_service {
      padding-left: 30px;

      &-number {
        margin-right: 30px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .services {
    &_wrapper {
      flex-direction: column;
    }
  }
}

@media (max-width: 810px) {
  .services {
    max-width: calc(100% - 15px);
    margin: 0 5px 0 10px;
    padding: 40px 5px 50px 10px;

    &_wrapper {
      padding-left: 25px;
    }

    &_header {
      font-size: 42px;
      line-height: 50px;
    }

    &_service {
      padding-left: 10px;

      &-number {
        margin-right: 10px;
      }

      &-name {
        font-size: 28px;
      }
    }
  }
}

@media (max-width: 576px) {
  .services {

    &_service {
      width: 100%;

      &:nth-child(2) {
        padding-top: 30px;
      }

      &:nth-child(7) {
        border-bottom: 1px solid $color-nav-border;
      }

      &-number {
        margin-right: 20px;
      }
    }
  }
}
