<section class="section about">
  <div class="section_content">

    <p class="paragraph about_top">
      {{page.who-we-are | markdownify}}
    </p>
    <div class="about_mid">
      <p class="paragraph about_left">
        {{page.about-left | markdownify}}
      </p>
      <p class="paragraph about_right">
        {{page.about-right | markdownify}}
      </p>
    </div>
    {% if !page.about-image.empty %}
      <img class="image about_image" src="{{page.about-image}}" alt="">
    {% else %}
      <img class="image about_image" src="/assets/images/career-image-4.jpg" alt="">
    {% endif %}
  </div>
</section>

<!-- {{page.who_we_are}} -->
<a href="#" class="text-secondary"></a>
