<section class="section extra-narrow more">
  <div class="section_content">
    <h3>There is a little more!</h3>

    <div class="more_boxes">
      <div class="more_boxes-box more_boxes-box--left">
        <p class="paragraph has-dot closer"><span class="dot"></span>Being resilient means a lot to us!</p>
        <p class="paragraph">
          Our company is scaling rapidly on a daily basis. Therefore, we need to see you are comfortable with the pace of changes we are going through and excited about the new challenges and opportunities ahead of us.
        </p>
        <figure class="geometric-figure">
          <div class="geometric-figure_left"></div>
          <div class="geometric-figure_center"></div>
          <div class="geometric-figure_right"></div>
        </figure>
      </div>

      <div class="more_boxes-box more_boxes-box--right">
        <img class="image" src="" alt="">
        <p class="paragraph has-dot closer"><span class="dot"></span>We appreciate your thirst for knowledge</p>
        <p class="paragraph">
          Both Naturaily and its employees are subject to a constant learning process. The awareness of how much there is still for you to learn is of great value both to the team and the entire company.
        </p>
        <figure class="geometric-figure">
          <div class="geometric-figure_left"></div>
          <div class="geometric-figure_center"></div>
          <div class="geometric-figure_right"></div>
        </figure>
      </div>
    </div>
  </div>
</section>
