<section class="section extra-narrow skills">
  <div class="section_content">
    {% if page.what-we-expect %}
      <div class="skills_list">
        <h3>What we <span class="text-greyed-out">expect from you</span> is</h3>
        <ul class="list">
          {% for expectation in page.what-we-expect %}
            <li class="skills_list-item">{{ expectation.expectation.contents }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

    {% if page.what-you-expect %}
      <div class="skills_list">
        <h3>What you can <span class="text-greyed-out">expect from us</span> is</h3>
        <ul class="list">
          {% for expectation in page.what-you-expect %}
            <li class="skills_list-item">{{ expectation.expectation.contents }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    {% if page.we-need-you-to %}
      <div class="skills_list">
        <h3>We need <span class="text-greyed-out">you to be</span></h3>
        <ul class="list">
          {% for expectation in page.we-need-you-to %}
            <li class="skills_list-item">{{ expectation.expectation.contents }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    {% if page.would-be-great %}
      <div class="skills_list">
        <h3>It would be great if <span class="text-greyed-out">you</span></h3>
        <ul class="list">
          {% for expectation in page.would-be-great %}
            <li class="skills_list-item">{{ expectation.expectation.contents }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
</section>
