<section class="section video">
  <div class="section_desc">
    <h2 class="section_heading">Lorem ipsum <span class="text-primary">Dolor sit</span></h2>
    <p class="paragraph paragraph-offset">Pizza, vegan sushi, pork chop, or a salad. You choose what you want and eat with others!</p>
  </div>

  <div class="section_content">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/8MrwJM1_kw8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</section>
