<a href="{{ job.id }}" class="offers_tile">
  <h3 class="offers_tile-title">
    {{ job.title }}
  </h3>
  <p class="offers_tile-salary">
    {% if job.salary-preview %}
      {% for salary in job.salary-preview %}
        <strong>{{ salary.salary.sum }}</strong>
        <br>
        {{ salary.salary.contract }}
      {% endfor %}
    {% endif %}
  </p>
  <span class="offers_tile-footer">
    Check the details
    <img class="image" src="/assets/images/arrow-orange.png" alt="arrow">
  </span>
</a>
