<section class="section choose">
  {% include floating-dots.html %}
  <div class="section_name">
    Choose us
  </div>
  <div class="section_heading">
    <h2>
      We are naturally a good partner for you:
    </h2>
  </div>

  <div class="section_content">
    <div class="choose_item">
      <h3>You'll be <br><span class="text-greyed-out">taken care of</span></h3>
      <p class="paragraph">
        We work with both big and small companies, for clients with technical background, and those without it. No matter what stage your project is in - we will meet your needs and make technology help you achieve your business goals.
      </p>
    </div>

    <div class="choose_item">
      <h3>The dedicated team <br>right for <span class="text-greyed-out">your business</span></h3>
      <p class="paragraph">
        Meet our specialists at the very beginning of the relationship. Let us know about your needs so we could build the best team to deliver your features fast. You can be sure we will match our teams’ strengths and competencies to fit your project best. And don’t worry, we know running a business means constantly challenging changes, so we are elastic - the team can change when your project’s needs change.
      </p>
    </div>

    <div class="choose_item">
      <h3>Knowledge & experience <br><span class="text-greyed-out">transfer</span></h3>
      <p class="paragraph">
        We support the digital transformation of our clients’ businesses for 10 years. That gives us experience and knowledge that comes in handy when realizing new projects, so we can be not only your technology partner but also business support. Through the whole project, we will support you, consult your ideas, advice on the strategy, and implement it, becoming an integral part of your team.
      </p>
    </div>
    <figure class="geometric-figure">
      <div class="geometric-figure_left"></div>
      <div class="geometric-figure_center"></div>
      <div class="geometric-figure_right"></div>
    </figure>
  </div>
</section>
