<section id="00" class="hero">
  <span class="hero_background-text">
    About us
  </span>
  <div class="hero_box">
    <h1 class="hero_box-heading">
      Software development experts focused on <br>
      <strong>delivering high quality services</strong>
    </h1>
    <p class="hero_text">
      <a href="#" class="text-secondary">Web development,</a> <a href="#" class="text-secondary">Internet of Things,</a> <a href="#" class="text-secondary">Machine Learning</a> & <a href="#" class="text-secondary">UX / UI Design</a> are no mystery to us
    </p>
  </div>
</section>
