<section id="00" class="hero">
  <span class="hero_background-text">
    About us
  </span>
  <div class="hero_box">
    <h1 class="hero_box-heading">
      Naturaily, well tested partner<br>
      for <strong>designing & developing your digital product</strong>
    </h1>
    <p class="hero_text">
      <span class="text-secondary not-link">Web & Mobile Development,</span>
      <span class="text-secondary not-link">Shopify Development</span>,
      <span class="text-secondary not-link">JAMstack</span>,
      <span class="text-secondary not-link">Cloud Adoption</span>,
      <span class="text-secondary not-link">IOT</span>
      <br>are no mystery to us
    </p>
  </div>
</section>
