<section id="00" class="hero">
  <span class="hero_background-text">
    About us
  </span>
  <div class="hero_box">
    <h1 class="hero_box-heading">
      Naturaily, well tested partner<br>
      for <strong>designing & developing your digital product</strong>
    </h1>
    <p class="hero_text">
      <a href="#" class="text-secondary">Web & Mobile Development,</a> <a href="#" class="text-secondary">Shopify Development,</a> <a href="#" class="text-secondary">JAMstack</a>, <a href="#" class="text-secondary">Cloud Adoption,</a> <a href="#" class="text-secondary">IOT</a> are no mystery to us
    </p>
  </div>
</section>
