<section id="05" class="section join">
  <div class="section_desc">
    <div class="section_name">
      <span class="section_name-number">
        05
      </span>
      Join us
    </div>

    <h2 class="section_heading">Do you want to join a <span class="text-greyed-out">diverse, fun</span> and <span class="text-greyed-out">honest</span> team of developers?</h2>
    <p class="paragraph paragraph-offset"><span class="text-greyed-out">What makes us unique is our</span> respect for individuality.</p>
    <a href="/careers" type="button" class="btn btn-primary btn-arrow">
      Check out open positions
      <img src="/assets/images/btn-arrow.png" alt="arrow">
    </a>
  </div>
  <div class="section_content">
    <div class="inscribed-circle">
      <img class="image" src="/assets/images/anonymous-gal.png" alt="arrow">
    </div>
  </div>
</section>
