<nav id="stickyNav" class="section section-navigation section--no-padding">
  <ol class="page-navigation" data-page-navigation>
    <li class="is-visible">
      <span class="page-navigation_item-number">01</span>
      <a href="#01" class="page-navigation_item">
        Who We Are
      </a>
      <span class="icon-chevron-down page-navigation_chevron" data-dropdown-show></span>
    </li>

    <li>
      <span class="page-navigation_item-number">02</span>
      <a href="#02" class="page-navigation_item">
        Our Values
      </a>
      <span class="icon-chevron-down page-navigation_chevron" data-dropdown-show></span>
    </li>

    <li>
      <span class="page-navigation_item-number">03</span>
      <a href="#03" class="page-navigation_item">
        Why Us
      </a>
      <span class="icon-chevron-down page-navigation_chevron" data-dropdown-show></span>
    </li>

    <li>
      <span class="page-navigation_item-number">04</span>
      <a href="#04" class="page-navigation_item">
         The Team
      </a>
      <span class="icon-chevron-down page-navigation_chevron" data-dropdown-show></span>
    </li>

    <li>
      <span class="page-navigation_item-number">05</span>
      <a href="#05" class="page-navigation_item">
         Join Us
      </a>
      <span class="icon-chevron-down page-navigation_chevron" data-dropdown-show></span>
    </li>
  </ol>

</nav>
