<section class="section extra-narrow strength">
  <div class="section_content">
    <h3>Our <span class="text-greyed-out">strengths</span> will make your business stronger</h3>
    <div class="perks_list">
      <div class="perks_list-item">
        <span class="icon icon-query-inner-join-right text-primary"></span>
        <p class="paragraph"><strong>Flexibility</strong></p>
        <p class="paragraph">Ta panta rhei - Heraklid once said. He is not officialy the patron of software developers but he could definitely be one. Creating digital products demands flexibility and that's one of the essential skills we develop day by day. As a result we are able to easily adapt to constantly changing project situation.</p>
      </div>

      <div class="perks_list-item">
        <span class="icon icon-goal text-primary"></span>
        <p class="paragraph"><strong>Speed</strong></p>
        <p class="paragraph">We focus on the right things, use proven technologies and tools, and do our best to reduce time-to-market. We do the workshops and scoping sessions with our clients to make sure that we all are on the same page. It results in higher efficiency and faster development.</p>
      </div>

      <div class="perks_list-item">
        <span class="icon icon-compass text-primary"></span>
        <p class="paragraph"><strong>Effectiveness</strong></p>
        <p class="paragraph">We use two Agile implementation models: Scrum and Kanban. We use Scrum for projects created from scratch and Kanban for the already existing projects with bugs & feature requests. We sort of have our own “scrumban” implementation model that suits us best.</p>
      </div>

      <div class="perks_list-item">
        <span class="icon icon-trust text-primary"></span>
        <p class="paragraph"><strong>Experience</strong></p>
        <p class="paragraph">Take a look at our portfolio to check out some of our recent projects. E.g., we have developed an IoT application taking care of the grid; an online platform for live art auctions; and a lot of custom Shopify integrations. Take advantage of our expertise and let's build something together.</p>
      </div>
    </div>

    <figure class="video-box">
      <iframe src="https://www.youtube.com/embed/8MrwJM1_kw8" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" width="560" height="315" frameborder="0"></iframe>
      <figcaption class="video-box_caption">
        <h3>
          <a href="#" class="text-secondary">Check out our Company Presentation</a></h3>
        <p class="paragraph">
          <small>Copy tutaj FPO ale dla spójności dobrze by było napisać :) </small>
        </p>
      </figcaption>
    </figure>
  </div>
</section>
