<section class="section extra-narrow strength">
  <div class="section_content">
    <h3>Our <span class="text-greyed-out">strengths</span> will make your business stronger</h3>
    <div class="perks_list">
      <div class="perks_list-item">
        <span class="icon icon-compass text-primary"></span>
        <p class="paragraph"><strong>Flexibility</strong></p>
        <p class="paragraph">We do not always stick to the plan. Why, you might ask? Well, everything depends on your goals and your project. We look for the way that is best for you and we adapt it as needed. Do you want to test our working product? No problem! We will make sure not to waste your time and money.</p>
      </div>

      <div class="perks_list-item">
        <span class="icon icon-compass text-primary"></span>
        <p class="paragraph"><strong>Speed</strong></p>
        <p class="paragraph">Choose your work equipment: PC/laptop, multiple screens, mobile devices, etcaIn today’s markets, timing is of great importance. We need to deliver quickly. Speed is a result of the ability to focus on the right things and experience gained from years of practice. Mind you, we never sacrifice quality for speed... unless that is what you really want.</p>
      </div>

      <div class="perks_list-item">
        <span class="icon icon-compass text-primary"></span>
        <p class="paragraph"><strong>Effectiveness</strong></p>
        <p class="paragraph">Naturaily pairs experience with speed to achieve the best effectiveness. Staying in touch with the product owner, our team is working agile, always keeping in mind client’s guidelines. That is what makes for an efficient product development. We assemble a team of experts and set up all the necessary tools in order to deliver a great product as quickly as possible.</p>
      </div>

      <div class="perks_list-item">
        <span class="icon icon-compass text-primary"></span>
        <p class="paragraph"><strong>Experience</strong></p>
        <p class="paragraph">If you need seasoned developers with fresh minds - look no further. Our team of experts may already have many years of experience under their belts, but they are still constantly perfecting their craft and striving for excellence. Every day brings us new challenges to overcome. Each task expands our knowledge, which we later use to efficiently deliver reliable digital products.</p>
      </div>
    </div>

    <figure class="video-box">
      <iframe src="https://www.youtube.com/embed/8MrwJM1_kw8" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" width="560" height="315" frameborder="0"></iframe>
      <figcaption class="video-box_caption">
        <h3>
          <a href="#" class="text-secondary">Check out our Company Presentation</a></h3>
        <p class="paragraph">
          <small>Copy tutaj FPO ale dla spójności dobrze by było napisać :) </small>
        </p>
      </figcaption>
    </figure>
  </div>
</section>
