<section id="04" class="section team">
  <div class="section_name">
    <span class="section_name-number">
      04
    </span>
    The Team
  </div>
  <div class="section_heading">
    <h2>
      <span class="text-secondary">Naturaily</span>,<br>
      the best team ever
    </h2>
    <p class="paragraph">
      Our team is made up of talented and passionate people who pride themselves in making useful, reliable and beautiful digital products, while keeping the coding fun.
    </p>
  </div>

  <div class="section_content">

    <div class="team_photos">
      <figure class="geometric-figure">
        <div class="geometric-figure_center"></div>
        <div class="geometric-figure_right"></div>
      </figure>
      <div class="team_photos-cell"></div>
      <div class="team_photos-cell">
        <img class="image team_photos-image" src="/assets/images/loader.gif" data-src="/assets/images/people/suler.png" alt="Image of a person">
      </div>
      <div class="team_photos-cell">
        <img class="image team_photos-image" src="/assets/images/loader.gif" data-src="/assets/images/people/sebastian.png" alt="Image of a person">
      </div>
      <div class="team_photos-cell">
        <img class="image team_photos-image" src="/assets/images/loader.gif" data-src="/assets/images/people/arek.png" alt="Image of a person">
      </div>
      <div class="team_photos-cell">
        <img class="image team_photos-image" src="/assets/images/loader.gif" data-src="/assets/images/people/adam.png" alt="Image of a person">
      </div>
      <div class="team_photos-cell">
        <img class="image team_photos-image" src="/assets/images/loader.gif" data-src="/assets/images/people/bartek.png" alt="Image of a person">
      </div>
      <div class="team_photos-cell"></div>
      <div class="team_photos-cell">
        <img class="image team_photos-image" src="/assets/images/loader.gif" data-src="/assets/images/people/klaudia.png" alt="Image of a person">
      </div>
      <div class="team_photos-cell">
        <img class="image team_photos-image" src="/assets/images/loader.gif" data-src="/assets/images/people/adrian.png" alt="Image of a person">
      </div>
      <div class="team_photos-cell"></div>
      <div class="team_photos-cell">
        <img class="image team_photos-image" src="/assets/images/loader.gif" data-src="/assets/images/people/ania.png" alt="Image of a person">
      </div>
      <div class="team_photos-cell">
        <img class="image team_photos-image" src="/assets/images/loader.gif" data-src="/assets/images/people/kaydee.png" alt="Image of a person">
      </div>
      <div class="team_photos-cell">
        <img class="image team_photos-image" src="/assets/images/loader.gif" data-src="/assets/images/people/karol.png" alt="Image of a person">
      </div>
      <div class="team_photos-cell">
        <img class="image team_photos-image" src="/assets/images/loader.gif" data-src="/assets/images/people/daniel.png" alt="Image of a person">
      </div>
      <div class="team_photos-cell">
        <img class="image team_photos-image" src="/assets/images/loader.gif" data-src="/assets/images/people/stefan.png" alt="Image of a person">
      </div>
      <div class="team_photos-cell"></div>
      <div class="team_photos-cell">
        <img class="image team_photos-image" src="/assets/images/loader.gif" data-src="/assets/images/people/andrzej.png" alt="Image of a person">
      </div>
      <div class="team_photos-cell">
        <img class="image team_photos-image" src="/assets/images/loader.gif" data-src="/assets/images/people/natalia.png" alt="Image of a person">
      </div>
      <div class="team_photos-cell">
        <img class="image team_photos-image" src="/assets/images/loader.gif" data-src="/assets/images/people/kamil.png" alt="Image of a person">
      </div>
      <div class="team_photos-cell">
        <img class="image team_photos-image" src="/assets/images/loader.gif" data-src="/assets/images/people/bob.png" alt="Image of a person">
      </div>
      <div class="team_photos-cell">
        <img class="image team_photos-image" src="/assets/images/loader.gif" data-src="/assets/images/people/dominik.png" alt="Image of a person">
      </div>
    </div>
  </div>
</section>
