<section id="02" class="section values">
  <div class="section_name">
    <span class="section_name-number">
      02
    </span>
    Our values
  </div>
  <div class="section_heading">
    <h2>
      Our values determine what kind of company we are and who we want to be in the future
    </h2>
    <p class="paragraph">
      Over the years, the values we treasured have changed except for the following and most important two of them that remained unchanged: <strong>respect for each other and for our clients</strong>, and <strong>passion for high quality code</strong>. The other values are:
    </p>
  </div>

  <div class="section_content">
    <div class="accordion">
      <input type="radio" id="juniorDev" name="dev-level">
      <label id="juniorDevBox" for="juniorDev" class="accordion-item">
        <span class="accordion_number">01</span>
        <div>Teamwork</div>
        <p class="paragraph">
          <small>Maybe it sounds cliche, but we have evidence that working together is the only way to grow as a company and deliver high-quality services. We learn from each other as people and as professionals. Mutual support and motivation on a daily basis are crucial.</small>
        </p>
      </label>
    </div>

    <div class="accordion">
      <input type="radio" id="midDev" name="dev-level">
      <label id="midDevBox" for="midDev" class="accordion-item">
        <span class="accordion_number">02</span>
        <div>Openness</div>
        <p class="paragraph">
          <small>Diversity is power. Naturaily is lucky to be built by interesting people with various passions and different perspectives on the world who freely share their opinions on both professional and private topics. We believe that good communication is a key to success.</small>
        </p>
      </label>
    </div>

    <div class="accordion">
      <input type="radio" id="seniorDev" name="dev-level">
      <label id="seniorDevBox" for="seniorDev" class="accordion-item">
        <span class="accordion_number">03</span>
        <div>Involvement</div>
        <p class="paragraph">
          <small>A well tuned team is what we aim for. We all gather once a week to talk about teamwork and individual work, plans and needs so that everyone could be on the same page. Combining one-on-one meeting with weekly we all know on which stage we are and where we are heading for.</small>
        </p>
      </label>
    </div>

    <div class="accordion">
      <input type="radio" id="seniorDev" name="dev-level">
      <label id="seniorDevBox" for="seniorDev" class="accordion-item">
        <span class="accordion_number">04</span>
        <div>Effectiveness</div>
        <p class="paragraph">
          <small>We are still a small team, and in this case, the size matters! The lack of extensive structures and related processes means that we can still do things <strong>right</strong> and <strong>fast</strong>! This will change over time, but today, it is still our strength. It is good to benefit from it while it is still possible ;)</small>
        </p>
      </label>
    </div>

    <div class="accordion">
      <input type="radio" id="seniorDev" name="dev-level">
      <label id="seniorDevBox" for="seniorDev" class="accordion-item">
        <span class="accordion_number">05</span>
        <div>Work-life Balance</div>
        <p class="paragraph">
          <small>Although we love our work, we try not to spend 24 hours a day in front of a computer screen. We believe that with the right balance we can get more out of life and work more efficiently. Work is work, but life is what matters.</small>
        </p>
      </label>
    </div>
    <img class="image" src="/assets/images/career/values-open-space.jpg" alt="">
  </div>
</section>
