<section id="02" class="section values">
  <div class="section_name">
    <span class="section_name-number">
      02
    </span>
    Our Values
  </div>
  <div class="section_intro">
    <h2 class="section_heading">
      We feel that they are an <strong>extended part of our team</strong>
      <span class="icon-quote"></span>
      <cite>- Zapnito</cite>
    </h2>
    <p class="paragraph">
      Over the years, the values we treasure have changed, except for the following and most important two: <strong>respect for each other and for our clients</strong>, and <strong>getting things done</strong>. The other values are:
    </p>
  </div>

  <div class="section_content">
    <div class="accordion">
      <input type="radio" id="juniorDev" name="dev-level">
      <label id="juniorDevBox" for="juniorDev" class="accordion-item">
        <span class="accordion_number">01</span>
        <div>Transparency</div>
        <p class="paragraph">
          <small>Honesty, openess and accountability are the pillars of successfull and longterm cooperation, both between the company and the client and among employees. </small>
        </p>
      </label>
    </div>

    <div class="accordion">
      <input type="radio" id="midDev" name="dev-level">
      <label id="midDevBox" for="midDev" class="accordion-item">
        <span class="accordion_number">02</span>
        <div>Teamwork</div>
        <p class="paragraph">
          <small>Maybe it sounds cliche, but we have evidence that working together is the only way to grow as a company and deliver high-quality services. We learn from each other as people and as professionals. Mutual support and motivation on a daily basis are crucial.</small>
        </p>
      </label>
    </div>

    <div class="accordion">
      <input type="radio" id="seniorDev" name="dev-level">
      <label id="seniorDevBox" for="seniorDev" class="accordion-item">
        <span class="accordion_number">03</span>
        <div>Openness</div>
        <p class="paragraph">
          <small>Diversity is power. Naturaily is lucky to be built by interesting people with various passions and different perspectives on the world who freely share their opinions on both professional and private topics. We believe that good communication is a key to success.</small>
        </p>
      </label>
    </div>

    <div class="accordion">
      <input type="radio" id="seniorDev" name="dev-level">
      <label id="seniorDevBox" for="seniorDev" class="accordion-item">
        <span class="accordion_number">04</span>
        <div>Involvement</div>
        <p class="paragraph">
          <small>A well tuned team is what we aim for. We all gather once a month to talk about teamwork and individual work, plans and needs so that everyone could be on the same page. Combining one-on-one meeting with monthly we all know on which stage we are and where we are heading for.</small>
        </p>
      </label>
    </div>

    <div class="accordion">
      <input type="radio" id="seniorDev" name="dev-level">
      <label id="seniorDevBox" for="seniorDev" class="accordion-item">
        <span class="accordion_number">05</span>
        <div>Self development</div>
        <p class="paragraph">
          <small>We are lucky that each of our team members shares the enthusiasm for continuous improvement of their craft and never stops learning. Programming is one of those areas that is constantly changing. And that's good because we don't like to stand still.</small>
        </p>
      </label>
    </div>
    <img class="image" src="/assets/images/career/values-open-space.jpg" alt="">
  </div>
</section>
