<section id="01" class="section who-we-are">
  {% include floating-dots.html %}
  <div class="section_desc">
    <div class="section_name">
      <span class="section_name-number">
        01
      </span>
      Who We Are
    </div>

    <h2 class="section_heading">
      <strong>Experienced and solid team,</strong> delivering sophisticated software in a timely manner
      <span class="icon-quote"></span>
      <cite>- Vice President of Operations at Zapnito</cite>
    </h2>
    <div class="who-we-are_paragraphs">
      <p class="paragraph paragraph-offset">
        Naturaily is a Poland-based tech company with over 10 years of experience in web and mobile development that uses proven technologies such as <a href="/services/ruby-on-rails-development" class="text-secondary">Ruby on Rails</a>, Node.js, <a href="/services/react-js-development" class="text-secondary">React.js</a> and revelations like <a href="/services/vue-js-development" class="text-secondary">Vue.js</a>.
      </p>
      <p class="paragraph text-greyed-out">
        <small>We have strong experience in developing products from various categories: energy, e-commerce, fin-tech, marketing technology, ed-tech, and technological solutions for art and non-governmental organizations.</small>
      </p>
      <p class="paragraph text-greyed-out">
        <small>We help our clients reach their goals by providing following services: <strong>Web development, PWA, JAMstack, Internet of Things</strong> (both B2C and B2B solutions) and <strong>Cloud Adoption</strong> (migration, optimisation and post-migration support).</small>
      </p>
    </div>
  </div>
  <div class="section_content">
    <a href="/portfolio" type="button" class="btn btn-primary btn-arrow">
      CHECK OUT OUR PORTFOLIO
      <img src="/assets/images/btn-arrow.png" alt="arrow">
    </a>
    <div class="who-we-are_figure-wrap">
      <figure>
        <img class="image" src="/assets/images/career/who-founding-fathers.png" alt="">
        <figcaption>
          <h3>Nice & competent <span class="text-greyed-out">people</span></h3>
          <p class="paragraph">
            Software developers, QA engineers, UX/UI designers, product managers join their forces to create <strong>high quality digital products</strong> while pursuing <strong>your business goals</strong>.
          </p>
        </figcaption>
      </figure>

      <figure>
        <img class="image" src="/assets/images/career/who-people.jpg" alt="">
        <figcaption>
          <h3><span class="text-greyed-out">Not only</span> development team</h3>
          <p class="paragraph">
            ...
          </p>
        </figcaption>
      </figure>
    </div>
    <figure class="video-box">
      <iframe width="" height="" src="https://www.youtube.com/embed/Gbt_i-Ph6_A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <figcaption class="video-box_caption">
        <h3>
          <a href="https://docsend.com/view/q8rascf" class="text-secondary" target="_blank">Check out our Company Presentation</a>
        </h3>
        <p class="paragraph">
          <small>See our rates and cooperation details</small>
        </p>
      </figcaption>
    </figure>
  </div>
</section>
