<section id="01" class="section who-we-are">
  {% include floating-dots.html %}
  <div class="section_desc">
    <div class="section_name">
      <span class="section_name-number">
        01
      </span>
      Who we are
    </div>

    <h2 class="section_heading">Visionaries rooted in technology</h2>
    <div class="who-we-are_paragraphs">
      <p class="paragraph paragraph-offset">
        Naturaily is a Poland-based tech company with over 12 years of experience in web and mobile development that uses proven technologies such as <a href="/services/ruby-on-rails-development" class="text-secondary">Ruby on Rails</a> and revelations like <a href="/services/vue-js-development" class="text-secondary">Vue.js</a>, <a href="/services/react-js-development" class="text-secondary">React.js</a>, Node.js, and <a href="/services" class="text-secondary">many more</a>.
      </p>
      <p class="paragraph text-greyed-out">
        <small>Our key areas of expertise are IoT industrial applications, connected industry, SaaS, smart power grids and e-commerce (Shopify development in particular).</small>
      </p>
      <p class="paragraph text-greyed-out">
        <small>We provide the following services: Web development, Internet of Things, UX / UI Design, and Machine Learning.</small>
      </p>
    </div>
  </div>
  <div class="section_content">
    <a href="/portfolio" type="button" class="btn btn-primary btn-arrow">
      CHECK OUT OUR PORTFOLIO
      <img src="/assets/images/btn-arrow.png" alt="arrow">
    </a>
    <div class="who-we-are_figure-wrap">
      <figure>
        <img class="image" src="/assets/images/career/who-founding-fathers.png" alt="">
        <figcaption>
          <h3><span class="text-greyed-out">The Founding Fathers</span> of Naturaily</h3>
          <p class="paragraph">
            could be in fact described as The Founding Grandfathers given that they are both over four decades old. However, their <strong>experience</strong> and <strong>patience</strong>, acquired with age are <strong>now of great value to our clients</strong>.
          </p>
        </figcaption>
      </figure>

      <figure>
        <img class="image" src="/assets/images/career/who-people.jpg" alt="">
        <figcaption>
          <h3>A team full of <span class="text-greyed-out">motivation</span> and <span class="text-greyed-out">passion</span></h3>
          <p class="paragraph">
            with lots of energy  to make things happen is what balances the experienced Naturaily co-founders duo. The <strong>energy of the youth</strong> and the <strong>quality</strong> gathered over the years of experience are our yin and yang.
          </p>
        </figcaption>
      </figure>
    </div>
    <figure class="video-box">
      <iframe width="" height="" src="https://www.youtube.com/embed/Gbt_i-Ph6_A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <figcaption class="video-box_caption">
        <h3>
          <a href="https://docsend.com/view/q8rascf" class="text-secondary" target="_blank">Check out our Company Presentation</a>
        </h3>
        <p class="paragraph">
          <small>See our rates and cooperation details</small>
        </p>
      </figcaption>
    </figure>
  </div>
</section>
