<section id="03" class="section why-us">
  <div class="section_name">
    <span class="section_name-number">
      03
    </span>
    Why us
  </div>
  <div class="section_heading">
    <h2>
      It is a <span class="text-greyed-out">good idea</span> to work with us. Check it out!
    </h2>

    <div class="why-us_desc">
      <h3>We are a <span class="text-greyed-out">team of specialists</span> that always strives for the best solutions for you and your project</h3>
      <p class="paragraph">
        To achieve them we use two agile implementation models: Scrum and Kanban. The former is implemented in projects created from scratch and the latter is used in existing projects with bugs & feature requests. However, to meet our needs, we use our own “scrumban” implementation which suits us best, naturally.
      </p>
    </div>
  </div>

  <div class="section_content">

  </div>
</section>
