<section id="03" class="section why-us">
  <div class="section_name">
    <span class="section_name-number">
      03
    </span>
    Why Us
  </div>
  <div class="section_intro">
    <h2 class="section_heading">
      They consistently hit deadlines and <strong>deliver clever solutions</strong>
      <span class="icon-quote"></span>
      <cite>- Collectivity</cite>
    </h2>
    <div class="why-us_desc">
      <h3>We achieve it by using <span class="text-greyed-out">two agile implementation models</span>: that always strives for the best solutions for you and your project</h3>
      <p class="paragraph">
        The former is implemented in projects created from scratch and the latter is used in existing projects with bugs & feature requests. However, to meet our needs, <strong>we use our own “scrumban” implementation which suits us best, naturally</strong>.
      </p>
    </div>
  </div>

  <div class="section_content">

  </div>
</section>
