.estimate {
  padding-left: 160px;
  padding-right: 100px;
  background-color: #FFF7F1;

  .section_content {
    padding-left: 45px;
  }

  .section_heading {
    padding-left: 0;
    padding-bottom: 20px;
  }

  .section_desc {
    padding-left: 70px;
    padding-top: 20px;

  }

  .section_name {
    padding-top: 50px;
    font-size: 24px;
    line-height: 33px;
    font-weight: 200;
    display: flex;
    max-width: 370px;

    &-number {
      padding-top: 5px;
      color: rgba(59,34,15,0.7);
    }
  }

  .paragraph {
    max-width: 320px;
    padding-bottom: 40px;
  }

  .btn {
    display: inline-block;
  }

  .image {
    max-width: 370px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 32px 0 rgba(179,104,0,0.08);
    margin: 20px 0;
    padding-top: 46px;
  }
}

@media (max-width: 810px) {
  .estimate {
    flex-direction: column;
    max-width: calc(100% - 16px);
    padding: 0 16px 0px 30px;
    margin: 0 8px;

    .section_content {
      padding: 0;
    }

    .section_name {
      font-size: 20px;

      &-number {
        padding-right: 35px;
      }
    }

    .section_desc {
      padding-left: 0;
      padding-top: 30px;
    }

    .image {
      max-width: 100%;
      padding-top: 20px;
      margin: 30px 0;
    }

    .btn.btn-primary {
      margin: 0;
    }
  }
}
