---
layout: default
---

<div class="l-offset-left extra-offset">
  {% include career-offer/position.html %}
</div>

<div class="l-offset-left extra-offset">
  {% include career-offer/about.html %}
</div>

<div class="l-offset-left extra-offset">
  {% include career-offer/skills.html %}
</div>

<div class="l-offset-left extra-offset">
  {% include career-offer/more.html %}
</div>

<div class="l-offset-left extra-offset">
  {% include career-offer/perks.html %}
</div>

<div class="l-offset-right">
  {% include career-offer/form.html %}
</div>
